<h3>Accounts</h3>
<ul data-toggle="tabs" class="nav nav-tabs push">
    <li class="active"><a href="#all_ero" onclick="ChangeContent(8);">All Accounts</a></li>
    <li {style} class=""><a href="#pending_registration"  onclick="ChangeContent(13);">Pending Registration</a></li>
    <li class=""><a href="#pending_approval"  onclick="ChangeContent(5);">Pending Approval</a></li>
    
<!--    <li class=""><a href="#approval" onclick="ChangeContent(6);">Approved</a></li>-->
<!--    <li class=""><a href="#rejected" onclick="ChangeContent(7);">Rejected</a></li>-->
</ul>
<div class="tab-content tab-content-default">
    <div id="all_ero" class="tab-pane active"></div>
    <div id="pending_registration" class="tab-pane" > </div>
    <div id="pending_approval" class="tab-pane" > </div>
<!--    <div id="approval" class="tab-pane"></div>-->
<!--    <div id="rejected" class="tab-pane"></div>-->
</div>

<script type="text/javascript" src="plupload/js/plupload.full.js"></script>
<script type="text/javascript">

       function ShowAllEros() {
           $.ajax({
               url: 'index.php/admin/ero/ShowAllEros?ajax=1',
               cache: false,
               success: function(message) {
                   $("#all_ero").empty().append(message);
                   return false;
               }
           });
       }

       function ShowPenddingApprove() {
           $.ajax({
               url: 'index.php/admin/ero/ShowPenddingApprove?ajax=1',
               cache: false,
               success: function(message) {
                   $("#pending_approval").empty().append(message);
                   return false;
               }
           });
       }
       
       function ShowPendingRegistration() {
    	 
    	   $.ajax({
               url: 'index.php/admin/ero/ShowPendingRegistration?ajax=1',
               cache: false,
               success: function(message) {
                   $("#pending_registration").empty().append(message);
                   return false;
               }
           });
    	   
       }


       function ShowApproved() {
           $.ajax({
               url: 'index.php/admin/ero/ShowApproved?ajax=1',
               cache: false,
               success: function(message) {
                   $("#approval").empty().append(message);
                   return false;
               }
           });
       }

       function ShowRejected() {
           $.ajax({
               url: 'index.php/admin/ero/ShowRejected?ajax=1',
               cache: false,
               success: function(message) {
                   $("#rejected").empty().append(message);
                   return false;
               }
           });
       }

       $(function() {
           ShowAllEros();
           $('#appBtnArea').remove();
       });
</script>