<table class="table table-striped" id="lists____">

</table>

<div id="modal_editEro" class="modal slide modal_allero">
    <div class="modal-dialog resize_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit ERO</h4>
            </div>
            <div class="modal-body" >


                <ul data-toggle="tabs" class="nav nav-tabs push modal_tab_pendingregero">
                    <li class="active"><a href="#company-setting3">Company Info</a></li>
                    <li class=""><a href="#profile-setting3">Profile Settings</a></li>
                    <li class=""><a href="#user-account3" onclick="showUserListApproved()">User Accounts</a></li>
                    <li class=""><a href="#service3" onclick="showServicesApproved()">Services</a></li>
                    <li class=""><a href="#payment-info3">Payment Info</a></li>
                    <li class=""><a href="#banking3">Banking</a></li>
                </ul>

                <div class="row" id="body_pending_regero">
                    <div class="tab-content tab-content-default">

                        <div id="company-setting3" class="tab-pane active">

                            <form class="form-horizontal form-box remove-margin ui-formwizard"
                                  method="post" id="advanced-wizard" novalidate="novalidate">

                                <h4 class="form-box-header">
                                    <i class="icon-info-sign"></i> Company Info
                                </h4>

                                <div class="form-box-content">
                                    
                                     <div class="form-group">
                                        <label for="example-advanced-efin"   class="control-label col-md-3"></label>  
                                        <div class="col-md-4 choose_file">
                                           <ul class="thumbnails clearfix">
                                            <li>
                                                <a class="thumbnail" style="width:160px;height:120px;overflow: hidden;" name="name"  id="image_show2" href="javascript:void(0)">
                                                    <img style="width:160px;height:120px;" name="name" class="img-rounded" alt="Logo" src="../backend/img/placeholders/image_light_160x120.png">
                                                </a>
                                            </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-advanced-efin"   class="control-label col-md-3"></label>  
                                        <div class="col-md-4 choose_file">         
                                            <button type="submit" class="btn btn-success col-md-12 " name="upload " id="upload_logo2" value="" >Upload Logo</button>
                                        </div>
                                    </div>


                                    <div class="step ui-formwizard-content" id="advanced-first"
                                         style="display: block;">
                                        <div class="form-group">
                                            <label for="example-advanced-efin"
                                                   class="control-label col-md-3">EFIN #</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content efin"
                                                       value="" disabled="disabled" name="example-advanced-efin" id="efin" >
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label for="example-advanced-efin"
                                                   class="control-label col-md-3">Parent EFIN #</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content parent_efin"
                                                       value="" name="example-advanced-parent_efin" id="parent_efin" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-companyname"
                                                   class="control-label col-md-3">Company Name</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-companyname" id="company_name" value="">
                                            </div>
                                        </div>

                                        <div class="wizard-steps row">
                                            <div class="col-md-4 text-center active">1. Business
                                                Address</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-advanced-address1"
                                                   class="control-label col-md-3">Address Line 1</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-address1" id="address_1" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-address2"
                                                   class="control-label col-md-3">Address Line 2</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-address2" id="address_2"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-zipcode"
                                                   class="control-label col-md-3">Zip</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-zip" id="zipcode"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-city"
                                                   class="control-label col-md-3">City</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-city" id="city" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-state"
                                                   class="control-label col-md-3">State</label>
                                            <div class="col-md-4">
                                              <select class="form-control" name="state" id="state">
                                                <option value="">State</option>
                                            </select>  
                                            </div>
                                        </div>

                                        <div class="wizard-steps row">
                                            <div class="col-md-4 text-center active">2. Mailing
                                                Address</div>
                                        </div>

                                        <div class="checkbox sames" style="padding-left:187px">
                                            <label for="example-checkbox1"> <input type="checkbox"
                                                                                   value="option1" name="example-checkbox1" id="example-checkbox1">
                                                Same as above </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-address1_m"
                                                   class="control-label col-md-3">Address Line 1</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-address1_m" id="address_1_m"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-address2_m"
                                                   class="control-label col-md-3">Address Line 2</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-address2_m" id="address_2_m"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-zipcode_m"
                                                   class="control-label col-md-3">Zip</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-zipcode_m" id="zipcode_m"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-city_m"
                                                   class="control-label col-md-3">City</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control ui-wizard-content"
                                                       name="example-advanced-city_m" id="city_m" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-advanced-state_m"
                                                   class="control-label col-md-3">State</label>
                                            <div class="col-md-4">
                                             <select class="form-control" name="state" id="state_m">
                                                <option value="">State</option>
                                            </select>
                                            </div>
                                        </div>

                                        <div class="wizard-steps row">
                                            <div class="col-md-4 text-center active">3. Software</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-advanced-tax" class="control-label col-md-3">Tax
                                                Software</label>
                                            <div class="col-md-4">
                                                <select class="form-control" name="tax" id="tax">
                                                    <option value="Taxwise">Taxwise</option>
                                                    <option value="Crosslink">Crosslink</option>
                                                    <option value="SimpleTax">SimpleTax</option>
                                                    <option value="ProSeries">ProSeries</option>
                                                    <option value="Lacerte">Lacerte</option>
                                                    <option value="ATX">ATX</option>
                                                    <option value="TurboTax">TurboTax</option>
                                                    <option value="Drake">Drake</option>
                                                    <option value="Ultra Tax">Ultra Tax</option>
                                                    <option value="Tax Act">Tax Act</option>
                                                    <option value="TaxSlayer">TaxSlayer</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group form-actions">
                                            <div class="col-md-10 col-md-offset-2">

                                                <div class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title">Warning</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Successfully Saved.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="submit" value="Save" id="save"
                                                       class="btn btn-success ui-wizard-content ui-formwizard-button all pending"   data-toggle="modal" data-target=".bs-modal-sm">
                                                <input type="submit" value="Cancel" id="cancel_allero"
                                                       class="btn btn-danger ui-wizard-content ui-formwizard-button">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form> 
                        </div>

                        
          <!--tab-->              
            <div id="profile-setting3" class="tab-pane">

                <div id="forum-forum" class="tab-pane active">
                        <form class="form-horizontal form-box remove-margin ui-formwizard"
                              method="post" id="advanced-wizard" novalidate="novalidate">

                            <h4 class="form-box-header">
                                <i class="icon-user"></i> Profile Settings
                            </h4>


                            <div class="form-box-content">

                                <div class="step ui-formwizard-content" id="advanced-first"
                                     style="display: block;">
                                    <div class="form-group">
                                        <label for="example-advanced-username"
                                               class="control-label col-md-3">Username</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control ui-wizard-content"
                                                   name="example-advanced-username" value="" disabled="disabled"
                                                   id="username">
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" value="Change Username" id="change_username" class="btn btn-info btn-sm ui-wizard-content ui-formwizard-button">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="example-advanced-role" class="control-label col-md-3">Role</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled="disabled" class="form-control ui-wizard-content"
                                                   name="example-advanced-role" id="role">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-advanced-firstname"
                                               class="control-label col-md-3">First Name</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control ui-wizard-content"
                                                   name="example-advanced-firstname" id="first_name">
                                        </div>
                                    </div>
          
                                    <div class="form-group">
                                        <label for="example-advanced-lastname"
                                               class="control-label col-md-3">Last Name</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control ui-wizard-content"
                                                   name="example-advanced-lastname" id="last_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-advanced-email"
                                               class="control-label col-md-3">Email Address</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control ui-wizard-content"
                                                   name="example-advanced-email" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-advanced-phone"
                                               class="control-label col-md-3">Contact Number</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control ui-wizard-content"
                                                   name="example-advanced-phone" id="phone">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-advanced-cellphone"
                                               class="control-label col-md-3">Cell Phone</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control ui-wizard-content"
                                                   name="example-advanced-cellphone" id="cell_phone">
                                        </div>
                                    </div>
                                    
                                 <div class="form-group">
                                    <label for="reset_p"
                                           class="control-label col-md-3"></label>
                                    <div class="col-md-4">
                                        <input type="button" value="Reset Password" id="reset_p"
                                               class="btn btn-info ui-wizard-content ui-formwizard-button">
                                    </div>
                                </div>

                                    <div class="form-group form-actions">
                                        <div class="col-md-10 col-md-offset-2">

                                            <div class="modal slide">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title">Warning</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Successfully Saved.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
 
                                            <input type="submit" value="Save" id="save_p"
                                                   class="btn btn-success ui-wizard-content ui-formwizard-button">
                                            <input type="submit" value="Cancel" id="cancel"
                                                   class="btn btn-danger ui-wizard-content ui-formwizard-button">
                                        </div>
                                    </div>

                                </div>
                    </div>
                 </form> 

        </div>
                
  <div id="modal_reset_pass" class="modal slide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal form-box remove-margin ui-formwizard" method="post" id="advanced-wizard" novalidate="novalidate">
                    <div class="form-box-content">
                        <!-- First Step -->
                        <div class="step ui-formwizard-content">
                            <div class="form-group">
                                <label for="current_p" class="control-label col-md-4">Current Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control ui-wizard-content" name="example-advanced-current_p" value="" id="current_p">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_p" class="control-label col-md-4">New Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control ui-wizard-content" name="example-advanced-new_p" value="" id="new_p">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm_p" class="control-label col-md-4">Confirm New Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control ui-wizard-content" name="example-advanced-confirm_p" value="" id="confirm_p">
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-md-10 col-md-offset-2">
                                    <input type="button" value="Save" id="save_re"
                                           class="btn btn-success ui-wizard-content ui-formwizard-button">
                                    <input type="button" value="Cancel" id="cancel_re"
                                           class="btn btn-danger ui-wizard-content ui-formwizard-button">
                                </div>
                            </div>
                        </div>
                    </div>
            	</form>
            </div>
        </div>
    </div>
</div>      
                
                
    </div>
          
           <div id="user-account3" class="tab-pane col-md-12">
              <form novalidate="novalidate" id="advanced-wizard" method="post" class="form-horizontal remove-margin ui-formwizard">
                  <div class="form-group">
                      <label class="control-label col-md-3" for="add_user"></label>            
                      <div class="col-md-9">
                          <input type="button" style="float:right" class="btn btn-success ui-wizard-content ui-formwizard-button" id="add_new_user" value="Add User">                      
                      </div>
                  </div>
                  <table class="table table-bordered" id="modal_list_user">

                  </table>  
              </form>
          </div>

          <div id="service3" class="tab-pane  col-md-12">
              <form novalidate="novalidate" id="advanced-wizard" method="post" class="form-horizontal remove-margin ui-formwizard">
                  <div class="form-group">
                      <label class="control-label col-md-3" for="add_user"></label>            
                      <div class="col-md-9">
                          <input type="button" style="float:right" class="btn btn-success ui-wizard-content ui-formwizard-button" id="add_new_service" value="Add Service">                      
                      </div>
                  </div>

                  <table class="table table-bordered" id="modal_list_service">

                  </table>   

              </form>


          </div>
          <input type="hidden" name="uid_master" value="" id="uid_master" >      
          

</div>




</div>

</div>
</div>
</div>
</div>

<!--modal service edit-->
<div id="modal_addservice" class="modal slide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Service</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-box remove-margin ui-formwizard" method="post" id="advanced-wizard" novalidate="novalidate">

                    <div class="form-box-content">

                        <div style="display: block;" id="advanced-first" class="step ui-formwizard-content">  

                            <div class="form-group">
                                <label class="control-label col-md-3" for="example-advanced-efin"></label>  
                                <div class="col-md-4 choose_file">
                                    <ul class="thumbnails clearfix">
                                        <li>
                                            <a href="javascript:void(0)" id="tmp_logo" name="name" style="width:160px;height:120px;overflow: hidden;" class="thumbnail"><img src="../backend/img/placeholders/image_light_160x120.png"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3" for="example-advanced-efin"></label>  
                                <div class="col-md-4 choose_file">         
                                    <button value="" id="upload_service" name="upload" class="btn btn-success col-md-12 " type="submit" style="z-index: 0;">Upload Logo</button>
                                    <!--<input type="file" class="form-control" name="example-file" id="example-file">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="name_service">Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="name_service" name="example-advanced-name_service" value="" class="form-control ui-wizard-content">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Cost">Cost</label>
                                <div class="col-md-6">
                                    <input type="text" id="Cost" name="example-advanced-parent-Cost" value="" class="form-control ui-wizard-content">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="sb_saleprice">SB sales price</label>
                                <div class="col-md-6">
                                    <input type="text" value="" id="sb_saleprice" name="example-advanced-sb_saleprice" class="form-control ui-wizard-content">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3" for="ero_saleprice">ERO sales price</label>
                                <div class="col-md-6">
                                    <input type="text" value="" id="ero_saleprice" name="example-advanced-ero_saleprice" class="form-control ui-wizard-content">
                                </div>
                            </div>

                            <div class="form-group form-actions div_group">
                                <div class="col-md-10 col-md-offset-2">

                                    <div class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                    <h4 class="modal-title">Warning</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Save successfully.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-actions button_group">
                                        <div class="col-md-10 col-md-offset-2">
                                            <button data-target=".bs-modal-sm" data-toggle="modal" type="submit" id="save_service"  class="btn btn-success"><i class="icon-ok"></i> Save</button>
                                            <button type="button" class="btn btn-danger btn-cancel"><i class="icon-repeat"></i> Cancel</button>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="s_id" value=""/>
                        </div>			
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end -->

<!--modal tab user account -->

<div id="modal_adduser" class="modal slide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User</h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal form-box remove-margin ui-formwizard" method="post" id="advanced-wizard" novalidate="novalidate">
                    <div class="form-box-content">   
                        <div class="step ui-formwizard-content">
                            <div class="form-group">
                                <label for="ptin" class="control-label col-md-4">PTIN #</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-ptin" value="" id="add_ptin">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name" class="control-label col-md-4">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-first_name" value="" id="add_first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="control-label col-md-4">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-last_name" value="" id="add_last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label col-md-4">Email Address</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-email" value="" id="add_email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_name" class="control-label col-md-4">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-add_user_name" value="" id="add_user_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label col-md-4">Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control ui-wizard-content" name="example-advanced-password" value="" id="add_password">
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="role" class="control-label col-md-4">Role</label>
                                <div class="col-md-6">
                                    <select id="add_role" name="state" class="form-control">
                                        <option value="6">Employee</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-md-7"></div>
                                <div class="col-md-offset-2">
                                    <input type="button" value="Save" id="save_user"
                                           class="btn btn-success ui-wizard-content ui-formwizard-button">
                                    <input type="button" value="Cancel" id="cancel_user"
                                           class="btn btn-danger ui-wizard-content ui-formwizard-button">
                                </div>
                            </div>
                            <input type="hidden" name="cid" id="cid" value="" />
                            <input type="hidden" name="author" id="author" />
                        </div>
                    </div>
            	</form>
            </div>
        </div>
    </div>
</div>

<!--end -->


<!--modal tab CHANGE STATUS -->

<div id="modal_changeStatus1" class="modal slide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Status</h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal form-box remove-margin ui-formwizard" method="post" id="advanced-wizard" novalidate="novalidate">
                    <div class="form-box-content">   
                        <div class="step ui-formwizard-content">
                            
                             <div class="form-group">
                                <label for="role" class="control-label col-md-4">Status</label>
                                <div class="col-md-6">
                                    <select id="ero_state" name="ero_state" class="form-control">
                                        <option value="1">Pending Approval</option>
                                        <option value="2">Approve</option>
                                        <option value="3">Reject</option>
                                        <option value="5">Deactivate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-md-7"></div>
                                <div class="col-md-offset-2">
                                    <input type="button" value="Save" id="save_status"
                                           class="btn btn-success ui-wizard-content ui-formwizard-button">
                                    <input type="button" value="Cancel" id="cancel_status"
                                           class="btn btn-danger ui-wizard-content ui-formwizard-button">
                                </div>
                            </div>
                            <input type="hidden" name="author1" id="author1" />
                        </div>
                    </div>
            	</form>
            </div>
        </div>
    </div>
</div>

<!--end -->


<script type="text/javascript">
	var dataClient = [];
        var objGallery = [];
        var uploadImgProductPr;
        var heads = ["#","EFIN #","User Name","Email Address","First Name","Last Name","Contact Number","status","Created Date","Action"];
	function loadObject() {
		{dataLoad}
                loadClients();
	}

	function loadClients() {
            var htm = ''; 
            htm +='<thead>';
                        htm +='<tr>';
                          
                            htm +='<th>'+heads[1]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[2]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[3]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[4]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[5]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[6]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[7]+'</th>';
                            htm +='<th class="hidden-xs hidden-sm">'+heads[8]+'</th>';
                            htm +='<th class=" text-center"><i class="icon-bolt"></i> '+heads[9]+'</th>';
                        htm +='</tr>';
            htm +='</thead>';
            htm +='<tbody>';
            
            for(var i = 0 ; i < dataClient.length ; i++){
                   var obj = dataClient[i];
                   var id_efin = obj.user_efin; 
                   var uid = obj.uid;
                   var parent  = 'body_pending_regero';
                   if(obj.status == 1){    
                     status = '<span class="label label-warning">Pending Approval</span>';
                     }else if(obj.status == 2){
                          status = '<span class="label label-success">Approved</span>' ;
                     }else if(obj.status == 4){
                          status = '<span class="label label-warning">Pending Registration</span>' ;
                     }else if(obj.status == 3){
                          status = '<span class="label label-danger">Rejected</span>' ;
                     }else if(obj.status == 5){
                          status = '<span class="label label-default">Deactivated</span>' ; ""; 
                     }
                     htm +='<tr>';
                     
                     htm +='<td><a href="javascript:void(0)">'+obj.user_efin+'</a></td>';
                     htm +='<td class="hidden-xs hidden-sm">'+obj.username+'</td>';
                     htm +='<td><a href="javascript:void(0)">'+obj.mail+'</a></td>';
                     htm +='<td class="hidden-xs hidden-sm">'+obj.firstname+'</td>';
                     htm +='<td class="hidden-xs hidden-sm">'+obj.lastname+'</td>';
                     htm +='<td class="hidden-xs hidden-sm">'+obj.phone+'</td>';
                     htm +='<td class="hidden-xs hidden-sm">'+status+'</td>';
                     htm +='<td class="hidden-xs hidden-sm">'+obj.format_date+'</td>';
                     
                     htm +='<td class="text-center">';
                                //htm +='<div class="btn-group">';
                                //htm += '<a class="btn btn-xs btn-success EditEro" rel="tooltip" title="Edit" data-toggle="tooltip" href="javascript:void(0)"  data-original-title="Edit" id ="'+id_efin+'"  onclick="editEro(\''+uid+'\',\''+parent+'\')" ><i class="icon-pencil"></i></a>';
                                // htm += '<a class="btn btn-xs btn-danger reject_approved" rel="tooltip" title="Reject" data-toggle="tooltip" href="#"  data-original-title="Delete" id ="'+id_efin+'" onclick="rejectApproved(\''+id_efin+'\')"><i class="halfling-lock"></i></a>';
                               //htm += '</div>';
	                    htm +='<div class="btn-group">';
	                     	htm += '<a class="btn btn-xs btn-info EditEro" rel="tooltip" title="Edit" data-toggle="tooltip" href="javascript:void(0)"  data-original-title="Edit" id ="'+id_efin+'"  onclick="editEro(\''+uid+'\',\''+parent+'\')" ><i class="icon-pencil"></i></a>';
	                     	htm += '<a class="btn btn-xs btn-success ChangeStatus" rel="tooltip" title="Change Status" data-toggle="tooltip" href="#" data-original-title="Edit" id="'+efin+'"  onclick="changeEroStatus(\''+uid+'\',\''+obj.status+'\',\'modal_changeStatus1\')" ><i class="glyphicon-settings"></i></a>';
	                      	//htm += '<a class="btn btn-xs btn-success approve" rel="tooltip" title="Approve" data-toggle="tooltip" href="#" data-original-title="Edit" id="'+id_efin+'"  onclick="approve(\''+id_efin+'\')" ><i class="halfling-ok"></i></a>';
	                      	//htm += '<a class="btn btn-xs btn-danger reject" rel="tooltip" title="Reject" data-toggle="tooltip" href="#" data-original-title="Delete" id="'+id_efin+'" onclick="reject(\''+id_efin+'\')" ><i class="icon-unlock-alt"></i></a>';
	                	htm += '</div>';
                     htm += '</td>'
      
                   htm +='</tr>';
            }
           htm +=' </tbody>';

            $("#lists____").empty().append(htm);
	}
        
         function rejectApproved(id_efin){

				if(confirm('Reject this ERO?')){
					$.ajax({
					url: 'index.php/admin/ero/rejectApproved?ajax=1&id_efin='+id_efin,
					cache: false,
					success: function(data){
						 dataClient = data; 
                                                 loadClients(); 
						}
					});
					return false;
				}
          
        }

        function uploadGalleryPr(){   
        uploadImgProductPr = new plupload.Uploader({
            runtimes : 'gears,html5,flash,silverlight,browserplus',
            browse_button : 'upload_logo2',
            max_file_size : '80mb',
            url : 'plupload/server/uploadLogo.php',
            flash_swf_url : 'plupload/js/plupload.flash.swf',
            silverlight_xap_url : 'plupload/js/plupload.silverlight.xap',
            filters : [
                {title : "My Storage files", extensions : "jpg,JPG,jpeg,JPEG,gif,GIF,png,PNG"}
            ]
        });
        uploadImgProductPr.bind('FilesAdded', function(up, files) {
            objGallery = [];
            currentFile = files[0];
            setTimeout(function () {	 
                uploadImgProductPr.start();
            }, 50);
        });
       
        uploadImgProductPr.bind('FileUploaded', function(up, file, dataJson) {
            var obj = jQuery.parseJSON(dataJson.response);
            if(obj.error === ''){
                $("#image_show2").empty();
                objGallery = obj;
                show_logo();   
            }
        }, 'json');
        uploadImgProductPr.init();
    }
    function CancelUploadProduct(){	
        uploadImgProductPr.stop(); 
    }
    
    function uploadGallery_s(){
        uploadImgProduct_s = new plupload.Uploader({
            runtimes : 'gears,html5,flash,silverlight,browserplus',
            browse_button : 'upload_service',
            max_file_size : '80mb',
            url : 'plupload/server/uploadLogo.php',
            flash_swf_url : 'plupload/js/plupload.flash.swf',
            silverlight_xap_url : 'plupload/js/plupload.silverlight.xap',
            filters : [
                {title : "My Storage files", extensions : "jpg,JPG,jpeg,JPEG,gif,GIF,png,PNG"}
            ]
        });
        uploadImgProduct_s.bind('FilesAdded', function(up, files) {
            objGallery = [];
            currentFile = files[0];
            setTimeout(function () {	 
                uploadImgProduct_s.start();
            }, 50);
        });
       
        uploadImgProduct_s.bind('FileUploaded', function(up, file, dataJson) {
            var obj = jQuery.parseJSON(dataJson.response);
            if(obj.error === ''){
                $("#tmp_logo").empty();
                objGallery = obj;
                fileID = obj.file_id;
                extention = obj.ext;
                show_signature_s();   
            }
        }, 'json');
        uploadImgProduct_s.init();
    }
    
    function show_logo(){
        var newImg = document.createElement('img');
        document.getElementById("image_show2").appendChild(newImg);
        newImg.width = objGallery.width;
        newImg.height = objGallery.height;
        newImg.src = "plupload/thumb.php?id="+objGallery.file_id;  
    }

	$(function() {
		loadObject(); 
                ClickToEditEro('pendingregistrationero','body_pending_regero');
                clickSaveProfile('pendingregistrationero','body_pending_regero');
                showEditEroModal('modal_tab_pendingregero');
                ClickToEditEroStatus('pendingregistrationero','modal_changeStatus1');
                same_check('body_pending_regero'); 
                uploadGalleryPr();
                changeUser('body_pending_regero');
                showResetPass('body_pending_regero');
                cancelResetPass('body_pending_regero');
                resetPass('body_pending_regero');
                cancelEditModal('body_pending_regero');
                uploadGallery_s();
                save_service('body_pending_regero');
                showFormAddService('body_pending_regero');
                add_new_user('body_pending_regero');
                showFormAddUser('body_pending_regero');
                $("[rel='tooltip']").tooltip();
                $('#lists____').dataTable({
                    "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "aaSorting": []
                });
                $('div.dataTables_filter input').addClass('form-control');
	});
	

</script>
