<h3>{title_page}</h3>
<ul data-toggle="tabs" class="nav nav-tabs push">
    <li class="active"><a href="#new_application" onclick="">New Application</a></li>
    <li class=""><a href="#pending_funds"  onclick="">Pending Funds</a></li>
    <li class=""><a href="#ready_print">Ready to Print</a></li>
    <li class=""><a href="#printed_checks">Printed Checks</a></li>
    <li class=""><a href="#all_applications" >All Applications</a></li>
</ul>
<div class="tab-content tab-content-default">
    <div id="new_application" class="tab-pane active"></div>
    <div id="pending_funds" class="tab-pane" > </div>
<div id="ready_print" class="tab-pane">
    This will be User Accounts
</div>
<div id="printed_checks" class="tab-pane">
    This will be Services
</div>
<div id="all_applications" class="tab-pane">
    This will be Payment Info
</div>
</div>