    <h3>{title_page}</h3>
    <div class="col-md-3">
        <ul data-toggle="tabs" class="nav nav-pills nav-stacked tab_loans" id="faq-tabs">
            <li class="active"><a href="#faq1-section"> New Application</a></li>
            <li class=""><a href="#faq2-section"> Pending Approval</a></li>
            <li class=""><a href="#faq3-section"> Approved loans</a></li>
            <li class=""><a href="#faq4-section"> Rejected Loans</a></li>
            <li class=""><a href="#faq5-section"> Printed Loan Checks</a></li>
            <li class=""><a href="#faq6-section"> Balance Checks Ready</a></li>
            <li class=""><a href="#faq4-section"> Balance Checks Printed</a></li>
            <li class=""><a href="#faq5-section"> Collections</a></li>
            <li ><a href="#faq6-section"> Completed Loans</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <!-- Tabs Content -->
        <div class="tab-content tab-content-default">
            <!-- First Tab - General -->
            <div class="tab-pane" id="faq1-section">
                  <div class="panel-group" id="faq2">
                    COMING SOON1
                 </div>
            </div>
            <!-- END First Tab - General -->

            <!-- Second Tab - UI -->
            <div class="tab-pane" id="faq2-section">
                <div class="panel-group" id="faq2">
                   COMING SOON2
                </div>
            </div>
            <!-- END Second Tab - UI -->

            <!-- Third Tab - Subscriptions -->
            <div class="tab-pane" id="faq3-section">
                <div class="panel-group" id="faq3">
                    COMING SOON3
            
                </div>
            </div>
            <!-- END Third Tab - Subscriptions -->

            <!-- Fourth Tab - Features -->
            <div class="tab-pane" id="faq4-section">
                <div class="panel-group" id="faq4">
                     COMING SOON4
                </div>
            </div>
            <!-- END Fourth Tab - Features -->

            <!-- Fifth Tab - Support -->
            <div class="tab-pane" id="faq5-section">
                <div class="panel-group" id="faq5">
                    COMING SOON5
                </div>
            </div>
            <!-- END Fifth Tab - Support -->

            <!-- Sixth Tab - Legal Stuff -->
            <div class="tab-pane active" id="faq6-section">
                <div class="panel-group" id="faq6">
                   COMING SOON6
                </div>
            </div>
            <!-- END Sixth Tab - Legal Stuff -->
        </div>
        <!-- END Tabs Content -->
    </div>
