<h2 class="page-header page-header-top">{title_page}</h2>

<h3 style="font-weight: normal;">Review Materials</h3>


<div class="row grid-boxes">
    <div class="col-md-3" id="pdf1"><a href="javascript:void(0)" onclick="showPDF('modal_test_setup');"><img alt="" src="http://localhost/trpplus/data/img/steps/pdf.jpg"></a></div>
    <div class="col-md-3"><a href="javascript:void(0)" onclick="showPDF('modal_test_setup');"><img alt="" src="http://localhost/trpplus/data/img/steps/pdf.jpg"></a></div>
    <div class="col-md-3"><a href="javascript:void(0)" onclick="showPDF('modal_test_setup');"><img alt="" src="http://localhost/trpplus/data/img/steps/pdf.jpg"></a></div>
    
</div>

<!--modal company setup -->
<div id="modal_test_setup" class="modal slide">
    <div class="modal-dialog resize_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{title_page}</h4>
            </div>
            <div class="modal-body">
            	<iframe style="width:960px; height:400px" src="resource/business/Program - Integration API Specifications_v1.42.pdf"></iframe>
            	<button class="btn btn-lg btn-success" id="take_exam" type="button">TAKE EXAM</button>
            	
          	</div>
        </div>
    </div>
</div>    
    
    <!-- Test Question modal -->
<div id="modal_test_question" class="modal slide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Test Question</h4>
            </div>
            <div class="modal-body">
            	<form style="margin-top:0px" id="basic-wizard" action="#" method="post" class="form-horizontal form-box">
    				<div class="form-box-content">
    					<div id="first" class="step">
    						<div class="wizard-steps row">
				                <div class="col-md-4 text-left active left_padding">1 of 15</div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-md-2" for="example-username">Question 1.</label>
				                <div class="col-md-3">
				                    <div class="input-group">
				                      
				                       <span class="input-group-addon form-control ui-wizard-content">Is this interesting?</span>
				                    </div>
				                </div>
				            </div>
				            <div class="form-group"> 
				                <label class="control-label col-md-2" for="example-username"></label>
				                <div class="col-md-4">
				                    <div class="radio">
				                        <label for="example-radio1">
				                            <input type="radio" value="option1" name="example-radios" id="example-radio1"> Yes
				                        </label>
				                    </div>
				                    <div class="radio">
				                        <label for="example-radio2">
				                            <input type="radio" value="option2" name="example-radios" id="example-radio2"> No
				                        </label>
				                    </div>  
				                </div>
				            </div>
				            <!-- Form Buttons -->
					        <div class="form-group form-actions">
					            <div class="col-md-10 col-md-offset-2">
					                <input type="reset" class="btn btn-danger" id="back" value="Back">
					                <input type="submit" class="btn btn-success" id="next" value="Next">
					            </div>
					        </div>
					        <!-- END Form Buttons -->
    					</div>
    					
    					
    					<div id="2" class="step">
    						<div class="wizard-steps row">
				                <div class="col-md-4 text-left active left_padding">2 of 15</div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-md-2" for="example-username">Question 1.</label>
				                <div class="col-md-3">
				                    <div class="input-group">
				                      
				                       <span class="input-group-addon form-control ui-wizard-content">Is this interesting?</span>
				                    </div>
				                </div>
				            </div>
				            <div class="form-group"> 
				                <label class="control-label col-md-2" for="example-username"></label>
				                <div class="col-md-4">
				                    <div class="radio">
				                        <label for="example-radio1">
				                            <input type="radio" value="option1" name="example-radios" id="example-radio1"> Yes
				                        </label>
				                    </div>
				                    <div class="radio">
				                        <label for="example-radio2">
				                            <input type="radio" value="option2" name="example-radios" id="example-radio2"> No
				                        </label>
				                    </div>  
				                </div>
				            </div>
				             <!-- Form Buttons -->
					        <div class="form-group form-actions">
					            <div class="col-md-10 col-md-offset-2">
					                <input type="reset" class="btn btn-danger" id="back" value="Back">
					                <input type="submit" class="btn btn-success" id="next" value="Next">
					            </div>
					        </div>
					        <!-- END Form Buttons -->
    					</div>
    					
    					
    					<div id="3" class="step">
    						<div class="wizard-steps row">
				                <div class="col-md-4 text-left active left_padding">3 of 15</div>
				            </div>
				            
				            <div class="form-group">
				                <label class="control-label col-md-2" for="example-username">Question 1.</label>
				                <div class="col-md-3">
				                    <div class="input-group">
				                      
				                       <span class="input-group-addon form-control ui-wizard-content">Is this interesting?</span>
				                    </div>
				                </div>
				            </div>
				            <div class="form-group"> 
				                <label class="control-label col-md-2" for="example-username"></label>
				                <div class="col-md-4">
				                    <div class="radio">
				                        <label for="example-radio1">
				                            <input type="radio" value="option1" name="example-radios" id="example-radio1"> Yes
				                        </label>
				                    </div>
				                    <div class="radio">
				                        <label for="example-radio2">
				                            <input type="radio" value="option2" name="example-radios" id="example-radio2"> No
				                        </label>
				                    </div>  
				                </div>
				            </div>
				             <!-- Form Buttons -->
					        <div class="form-group form-actions">
					            <div class="col-md-10 col-md-offset-2">
					                <input type="reset" class="btn btn-danger" id="back" value="Back">
					                <input type="submit" class="btn btn-success" id="next" value="Next">
					            </div>
					        </div>
					        <!-- END Form Buttons -->
    					</div>
    				
                    </div>
            	</form>
            </div>
        </div>
    </div>
</div>

<!--  End Test Question modal -->      
          
<script type="text/javascript">       
$(function(){
	//loadObject();
	//same_check();
	//clickSave();
      //  uploadGallery();
        $('#basic-wizard').formwizard({
            focusFirstInput: true,
            disableUIStyles: true
        });
        
        
        $("#take_exam").click(function(){
    		$("#modal_test_question").modal('show');	
    	});
    	$("#cancel_re").click(function(){
    		$("#modal_test_question").modal('hide');
    	});
    		
});


</script>