<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{title_site}</title>

        <meta name="description" content="uAdmin is a Professional, Responsive and Flat Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

       <!-- <meta name="viewport" content="width=device-width,initial-scale=1">-->

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../backend/favicon.ico">
        <link rel="apple-touch-icon" href="../backend/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="../backend/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="../backend/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="../backend/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="../backend/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="../backend/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="../backend/img/icon152.png" sizes="152x152">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- The roboto font is included from Google Web Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic">


<!--external css-->
    <link href="../backend/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" type="text/css"  href="../backend/css/style.css" />
    
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="../backend/css/bootstrap.css">

        <!-- Related styles of various javascript plugins -->
        <link rel="stylesheet" href="../backend/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" media="all" type="text/css" href="../backend/css/main.css">

        <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="../backend/css/themes.css">

        <link rel="stylesheet" href="../backend/css/custom_trp.css">
        
        <link rel="stylesheet" href="../backend/css/TableTools.css">
        <!-- END Stylesheets -->
        
        <link rel="stylesheet" href="../backend/css/font_style.css">

		<link href="../backend/css/jquery-ui.css" rel="stylesheet" />
		
		<link type="text/css" rel="stylesheet" href="../backend/css/selectric.css">
		<link type="text/css" rel="stylesheet" href="../backend/css/bootstrap-multiselect.css">
		<link type="text/css" rel="stylesheet" href="../backend/css/daterangepicker-bs3.css">
		

        <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support them) -->
        <script src="../backend/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../backend/js/vendor/modernizr.custom.79639.js"></script>
        <!-- Excanvas for canvas support on IE8 -->
        <!--[if lte IE 8]><script src="../js/helpers/excanvas.min.js"></script><![endif]-->
        <!-- Bootstrap.js -->

        <!-- Get Jquery library from Google but if something goes wrong get Jquery from local file - Remove 'http:' if you have SSL -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="../backend/js/vendor/jquery-1.9.1.min.js"%3E%3C/script%3E'));</script>
          

        <script src="../backend/js/vendor/bootstrap.min.js"></script>

        <!-- Jquery plugins and custom javascript code -->
        <script src="../backend/js/plugins.js"></script>
        <script src="../backend/js/main.js"></script>
        <script src="../backend/js/custom_trp.js"></script>
        <script src="../backend/js/jquery.printElement.min.js"></script>
        <script src="../backend/js/ZeroClipboard.js"></script>
        <script src="../backend/js/TableTools.js"></script>
        <script src="../backend/js/jquery.maskedinput.js"></script>
        
		<script src="../backend/js/calculator.js" type="text/javascript"></script>
   <!-- <script src="../backend/js/flot/jquery.flot.js"></script> -->
   
   <script src="../backend/js/jquery.selectric.js"></script>
   <script src="../backend/js/bootstrap-multiselect.js"></script>
   
   <script src="../backend/js/moment.js"></script>
   <script src="../backend/js/daterangepicker.js"></script>
   <script src="../backend/js/autoNumeric.js"></script>

   
   
   <!-- <script src="../backend/js/jquery.lazyload.js" type="text/javascript"></script>
   <script type="text/javascript" src="../backend/js/jquery.lazyload-any.js"></script> -->
    
    </head>

    <!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
    <!-- <body class="fixed"> -->
    <body>
    <a href="" id="top"></a>
        <!-- Page Container -->
        <div id="page-container" class="{title_page}">
            <!-- Header -->
            <!-- Add the class .navbar-fixed-top or .navbar-fixed-bottom for a fixed header on top or bottom respectively -->
            <!-- <header class="navbar navbar-inverse navbar-fixed-top"> -->
            <!-- <header class="navbar navbar-inverse navbar-fixed-bottom"> -->
            
            <!-- Inner Container -->
            <div id="inner-container">
            {account_content}
                <!-- Sidebar -->
                <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                	<a href="index.php/admin/dashboard"  class=""><img alt="" style="margin-left: 16px; margin-top: 15px;" src="../backend/img/admin_logo.png"></a>
                    <!-- Sidebar search -->
                    <!--<form id="sidebar-search" action="page_search_results.html" method="post">
                        <div class="input-group">
                            <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="Search..">
                            <button><i class="icon-search"></i></button>
                        </div>
                    </form>-->
                    <!-- END Sidebar search -->

                    <!-- Primary Navigation -->
                    <nav id="primary-nav">
                    <div class="menu_divider">&nbsp;</div>
                    	<div style=" color: #66738F; height: 107px; margin-bottom: 2px; padding: 4px 0 11px 17px; ">
    				<h6 style="text-transform: uppercase; font-weight: bold; ">Client Center</h6>
                    	
                    	<button class="btn btn-success" style="font-size: 13px; font-weight: bold;" type="button" onclick="top.location='index.php/admin/clientcenter/newapp'"><i class="icon-plus-sign"></i> &nbsp; New Application</button>
                                <span style="padding:0px 0px 0px 40px; color:#DCDCDD;"></span>
                    	</div>
                    	<div class="menu_divider">&nbsp;</div>
                    	<h6 style="text-transform: uppercase; color: #66738F; margin-bottom: 2px; padding: 0px 11px 11px 17px;  font-weight: bold;">Navigation</h6>
                    
                    <!--  <nav id="primary-nav"> -->
                    <div class="sidebarmenu">
                        <ul class="" id="sidebarmenu1">

							<!--<li>
                                <a   class="active" id="menu-clientCenter" href="index.php/admin/clientcenter"><i class="glyphicon-client_center"></i>Client Center </a>
                                
                            </li>-->
                            <li>
                                <a id="home" href="index.php/admin/dashboard"><i class="icon-meter"></i>Dashboard</a>
                            </li>
                            <li>
                                <a id="menu-bank-product" href="index.php/admin/bankproducts"><i class="icon-library2"></i>Bank Products</a>
                                <ul>
                                    <li>
                                        <a href="index.php/admin/clientcenter/newapp"><i class="icon-plus-sign"></i>Add New</a>
                                    </li>
                                    <li>
                                        <a href="index.php/admin/bankproducts"><i class="icon-library2"></i>Application</a>
                                    </li>
                                 </ul>
                            </li>
                            <!-- <li>
                                <a id="menu-services" href="index.php/admin/services"><i class="icon-tools"></i>Services</a>
                            </li>
                             -->
                            <li>
                                <a id="menu-insurance" href="index.php/admin/services/insurancePolicies"><i class="icon-umbrella"></i>Insurance</a>
                                <ul>
                                    <li>
                                        <a href="index.php/admin/services/insurance"><i class="icon-plus-sign"></i>Add New</a>
                                    </li>
                                    <li>
                                        <a href="index.php/admin/services/insurancePolicies"><i class="icon-umbrella"></i>Policies</a>
                                    </li>
                                 </ul>   
                            </li>
                            <li>
                                <a id="menu-benifits" href="index.php/admin/services/benefitsOrders"><i class="icon-aid"></i>Benefits</a>
                                <ul>
                                    <li>
                                        <a href="index.php/admin/services/benefits"><i class="icon-plus-sign"></i>Add New</a>
                                    </li>
                                    <li>
                                        <a href="index.php/admin/services/benefitsOrders"><i class="icon-aid"></i>Orders</a>
                                    </li>
                                 </ul> 
                            </li>
                            <!-- 
                            <li>
                                <a id="menu-banking" href="#"><i class="glyphicon-bank"></i>Banking</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="menu-banking" href="index.php/admin/bankapp"><i class=""></i>Bank Apps</a> 
                                    </li>
                                    <li>
                                        <a href="index.php/admin/loans"><i class=""></i>Loans</a>     
                                    </li>
                                    <li>
                                        <a href="index.php/admin/bankaccount"><i class=""></i>Bank Accounts</a>  
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a id="menu-benefits"  href="index.php/admin/benefits" class="benefits"><i class="glyphicon-money"></i>Benefits</a>  
                            </li>
                             -->
                            

                            <li>
                                <a id="menu-reporting" href="index.php/admin/reporting"><i class="icon-bars"></i>Reporting</a>  
                               
                            </li>

                            <li>
                                <a id="menu-customers" href="index.php/admin/customers"><i class="icon-users4"></i>Customers</a>

                            </li>
                            <li {hidefromEmployee}>
                                <a id="menu-accounts" href="index.php/admin/ero"><i class="icon-users4"></i>ERO Accounts</a>
                               <!-- <ul class="sub-menu">
                                    <li>
                                        <a id="menu-ero" href="index.php/admin/ero"><i class=""></i>ERO</a>
                                    </li>
                                    <li>
                                        <a id="menu-service" href="index.php/admin/bureau"><i class=""></i>Service Bureau</a>
                                    </li>
                                </ul>
                                -->
                            </li>
							<!-- 
							<li>
                                <a id="menu-orders" href="index.php/admin/orders"><i class="icon-cart-add"></i>Supplies</a>  
                            </li>
                             -->
                            <li>
                                <a id="menu-training" href="index.php/admin/training" ><i class="icon-film4"></i>Training</a>  <!--index.php/admin/training-->
                            </li>
                            <!-- 
                            <li>
                                <a id="menu-content" href="index.php/admin/content"><i class="glyphicon-database_plus"></i>Content</a>
                            </li>
                             -->
                            <li>
                                <a id="menu-setting" href="index.php/admin/settings"><i class="icon-cog3"></i>Settings</a>
                            </li>

                            <!--<li>
                                <a href="#"><i class="glyphicon-parents"></i>User Management</a>
                                <ul>
                                    <li>
                                        <a href="page_tables.html"><i class="glyphicon-user"></i>Administrator</a>
                                    </li>
                                    <li>
                                        <a href="index.php/admin/mycompany"><i class="icon-user"></i>ERO</a>
                                    </li>
                                </ul>
                            </li>-->


                        </ul>
                    
                    </div>
                     </nav>
                    <!-- END Primary Navigation -->
                    <!-- 
                    <div class="menu_divider">&nbsp;</div>
                    <div>
                    	<h6 style="text-transform: uppercase; color: #66738F; margin-bottom: 16px; padding: 0px 11px 11px 17px;  font-weight: bold;">Application</h6>
                    	<div style="margin-left:18px;">
                    		<div class="input-group date input-datepicker" data-date="" data-date-format="yyyy-mm-dd" style="width: 145px">
                                        <input type="text" id="example-input-datepicker2" name="example-input-datepicker2" class="form-control">
                                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                              </div>
                    	</div>
                    	
                    	<div class="application_summary">
                    		<ul>
                    			<li> <i class="icon-circle2 bankproicon"></i> BANK PRODUCTS <span>[0]</span></li>
                    			<li><i class="icon-circle2 benefitsicon"></i>BENEFITS <span>[0]</span></li>
                    			<li><i class="icon-circle2 insrenceicon"></i>INSURANCE <span>[0]</span></li>
                    		</ul>
                    	</div>
                    	<img src="../backend/img/menu_application.png" alt="">
                    	
                    	<div class="application_total">
                    		<ul >
                    			<li><i class="icon-coins coinicon"></i><span>TOTAL FEES</span></li>
                    			<li class="amount">[ $1500 ]</li>
                    		</ul>
                    	</div>
                    </div>
                    -->
                    <div class="menu_divider">&nbsp;</div>
                    
                    
                    
                    <footer>
					    <div class="copyright">
                    	<a href="http://scalefinancial.com" class="trp">2014 &copy; scalefinancial.com</a>
                    	<p><a href="#">Privacy</a> &nbsp; <a href="#">Terms</a> &nbsp; <a href="#">Support</a></p>
                    </div>
					</footer>

                </aside>
                <!-- END Sidebar -->

                <!-- Page Content -->
                <div id="page-content">
                    {message}
                    <!-- {client_center_top} -->
                    <!-- Navigation info -->
                    <!--<ul id="nav-info" class="clearfix">
                        <li><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="active"><a href="">{title_page}</a></li>
                    </ul>-->
                    <!-- END Navigation info -->
                 
                  
                  
                  
                  
                  
                      
                      
                          
                          
                                  
                          
                          
                      
                  
                          
                    {content_site}
                    <!-- END Tiles -->
                </div>
                <!-- END Page Content -->
                {footer_template}
            </div>
            <!-- END Inner Container -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, check main.js - scrollToTop() -->
        <a href="javascript:void(0)" id="to-top"><i class="icon-chevron-up"></i></a>

        <!-- User Modal Settings, appears when clicking on 'User Settings' link found on user dropdown menu (header, top right) -->
        <div id="modal-user-settings" class="modal">
            <!-- Modal Dialog -->
            <div class="modal-dialog">
                <!-- Modal Content -->
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4>Profile Settings</h4>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Content -->
                    <div class="modal-body">
                        <!-- Tab links -->
                        <ul id="example-user-tabs" class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#example-user-tabs-account"><i class="icon-cogs"></i> Account</a></li>
                            <li><a href="#example-user-tabs-profile"><i class="icon-user"></i> Profile</a></li>
                        </ul>
                        <!-- END Tab links -->

                        <!-- END Tab Content -->
                        <div class="tab-content">
                            <!-- First Tab -->
                            <div class="tab-pane active" id="example-user-tabs-account">
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Success!</strong> Password changed!
                                </div>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Username</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">administrator</p>
                                            <span class="help-block">You can't change your username!</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-pass">Password</label>
                                        <div class="col-md-9">
                                            <input type="password" id="example-user-pass" name="example-user-pass" class="form-control">
                                            <span class="help-block">if you want to change your password enter your current for confirmation!</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-newpass">New Password</label>
                                        <div class="col-md-9">
                                            <input type="password" id="example-user-newpass" name="example-user-newpass" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- END First Tab -->

                            <!-- Second Tab -->
                            <div class="tab-pane" id="example-user-tabs-profile">
                                <h4 class="page-header-sub">Image</h4>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <img src="../backend/img/placeholders/image_dark_120x120.png" alt="image" class="img-responsive push">
                                        </div>
                                        <div class="col-md-9">
                                            <form action="index.html" class="dropzone">
                                                <div class="fallback">
                                                    <input name="file" type="file">            
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-horizontal">
                                    <h4 class="page-header-sub">Details</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-firstname">Firstname</label>
                                        <div class="col-md-9">
                                            <input type="text" id="example-user-firstname" name="example-user-firstname" class="form-control" value="John">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-lastname">Lastname</label>
                                        <div class="col-md-9">
                                            <input type="text" id="example-user-lastname" name="example-user-lastname" class="form-control" value="Doe">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-gender">Gender</label>
                                        <div class="col-md-9">
                                            <select id="example-user-gender" name="example-user-gender" class="form-control">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-bio">Bio</label>
                                        <div class="col-md-9">
                                            <textarea id="example-user-bio" name="example-user-bio" class="form-control textarea-elastic" rows="3">Bio Information..</textarea>
                                        </div>
                                    </div>
                                    <h5 class="page-header-sub">Social</h5>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-fb">Facebook</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" id="example-user-fb" name="example-user-fb" class="form-control">
                                                <span class="input-group-addon"><i class="icon-facebook icon-fixed-width"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-twitter">Twitter</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" id="example-user-twitter" name="example-user-twitter" class="form-control">
                                                <span class="input-group-addon"><i class="icon-twitter icon-fixed-width"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-pinterest">Pinterest</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" id="example-user-pinterest" name="example-user-pinterest" class="form-control">
                                                <span class="input-group-addon"><i class="icon-pinterest icon-fixed-width"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="example-user-github">Github</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" id="example-user-github" name="example-user-github" class="form-control">
                                                <span class="input-group-addon"><i class="icon-github icon-fixed-width"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- END Second Tab -->
                        </div>
                        <!-- END Tab Content -->
                    </div>
                    <!-- END Modal Content -->

                    <!-- Modal footer -->
                    <div class="modal-footer remove-margin">
                        <button class="btn btn-danger" data-dismiss="modal"><i class="icon-remove"></i> Close</button>
                        <button class="btn btn-success"><i class="icon-spinner icon-spin"></i> Save changes</button>
                    </div>
                    <!-- END Modal footer -->
                </div>
                <!-- END Modal Content -->
            </div>
            <!-- END Modal Dialog -->
        </div>
        <!-- END User Modal Settings -->
        <!-- Javascript code only for this page -->
        
        <script src="../backend/js/flot/jquery.flot.js"></script>
        <script src="../backend/js/flot/jquery.flot.resize.js"></script>
        <script src="../backend/js/flot/jquery.flot.pie.js"></script>
        <script src="../backend/js/flot/jquery.flot.stack.js"></script>
        <script src="../backend/js/flot/jquery.flot.crosshair.js"></script>

      
       
        <script>
       
      //Nested Side Bar Menu (Mar 20th, 09)
      //By Dynamic Drive: http://www.dynamicdrive.com/style/

      var menuids=["sidebarmenu1"] //Enter id(s) of each Side Bar Menu's main UL, separated by commas

      function initsidebarmenu(){
      for (var x=0; x<menuids.length; x++){
        var ultags=document.getElementById(menuids[x]).getElementsByTagName("ul")
          for (var t=0; t<ultags.length; t++){
          ultags[t].parentNode.getElementsByTagName("a")[0].className+=" subfolderstyle"
        if (ultags[t].parentNode.parentNode.id==menuids[x]) //if this is a first level submenu
         ultags[t].style.left=ultags[t].parentNode.offsetWidth+"px" //dynamically position first level submenus to be width of main menu item
        else //else if this is a sub level submenu (ul)
          ultags[t].style.left=ultags[t-1].getElementsByTagName("a")[0].offsetWidth+"px" //position menu to the right of menu item that activated it
          ultags[t].parentNode.onmouseover=function(){
          this.getElementsByTagName("ul")[0].style.display="block"
          }
          ultags[t].parentNode.onmouseout=function(){
          this.getElementsByTagName("ul")[0].style.display="none"
          }
          }
        for (var t=ultags.length-1; t>-1; t--){ //loop through all sub menus again, and use "display:none" to hide menus (to prevent possible page scrollbars
        ultags[t].style.visibility="visible"
        ultags[t].style.display="none"
        }
        }
      }

      if (window.addEventListener)
      window.addEventListener("load", initsidebarmenu, false)
      else if (window.attachEvent)
      window.attachEvent("onload", initsidebarmenu)

        
        
        
        
        function DropDown(el) {
			this.dd = el;
			this.placeholder = this.dd.children('span');
			this.opts = this.dd.find('ul.dropdown > li');
			this.val = '';
			this.index = -1;
			this.initEvents();
		}
		DropDown.prototype = {
			initEvents : function() {
				var obj = this;

				obj.dd.on('click', function(event){
					$(this).toggleClass('active');
					return false;
				});

				obj.opts.on('click',function(){
					var opt = $(this);
					obj.val = opt.text();
					obj.index = opt.index();
					obj.placeholder.text(obj.val);
				});
			},
			getValue : function() {
				return this.val;
			},
			getIndex : function() {
				return this.index;
			}
		}
		
            var url_base_path__ = '{url_base_path}';
            $(function() {
                // Initialize dash Datatables
                $('#dash-example-orders').dataTable({
                    "aoColumnDefs": [{"bSortable": false, "aTargets": [0]}],
                    "iDisplayLength": 6,
                    "aLengthMenu": [[6, 10, 30, -1], [6, 10, 30, "All"]]
                });
                $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
        
                var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-3').removeClass('active');
				});
				
				$.fn.calculator.hide = function(calc) {
					calc.fadeOut(500);
				};
				
				$('#calc').calculator({movable:true,resizable:true, width:160,defaultOpen:false});
				$('#showCalc').click(function(){
					$('#calc').show();
				})
		
            });
        </script>
    </body>
</html>