<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


	<!-- General meta information -->
	<title>Scale Financial - Admin Login</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="index, follow" />
	<meta charset="utf-8" />
	<!-- // General meta information -->
	
	
	

	<!-- Load stylesheets -->
	<link type="text/css" rel="stylesheet" href="../frontend/css/style_login.css" media="screen" />
	<!-- // Load stylesheets -->
	
<script>




</script>
	
</head>
<body>

	<div id="wrapper">
	<div id="warninglogin" ></div>
		<div id="wrappertop"></div>

		<div id="wrappermiddle">

			<h2 style="margin-bottom:20px;">Login</h2>
			 
<form action="#" method="post" class="signin" id="formLogin" name="formLogin"  >
<input type="hidden" value="xxxxxx" id="efin_signin" />
			<div id="username_input">

				<div id="username_inputleft"></div>

				<div id="username_inputmiddle">
				
					<input type="text" name="link" class="url" value="" id="username_signin" />
					
					<img id="url_user" src="../frontend/images/mailicon.png" alt="">
				
				</div>

				<div id="username_inputright"></div>

			</div>

			<div id="password_input">

				<div id="password_inputleft"></div>

				<div id="password_inputmiddle">
				
				<input type="password" name="link" class="url" value=""  id="password_signin" />
					
					<img id="url_password" src="../frontend/images/passicon.png" alt="">
				
				</div>

				<div id="password_inputright"></div>

			</div>

			<div id="submit">
				
				<input type="submit" id="btnSubmitLogin" value="" />
				
				
				
			</div>
</form>

			<div id="links_left">

			<a href="#">Forgot your Password?</a>

			</div>

			<div id="links_right"><a href="#">Not a Member Yet?</a></div>

		</div>

		<div id="wrapperbottom"></div>
		
		<div id="powered">
		
		</div>
	</div>
	
	<!-- Custom -->
	
        <!-- Load Javascript -->
	<script type="text/javascript" src="../frontend/js/jquery.js"></script>
	<script type="text/javascript" src="../frontend/js/jquery.query-2.1.7.js"></script>
	<script type="text/javascript" src="../frontend/js/rainbows.js"></script>
	<!-- // Load Javascipt -->
	
        <script type="text/javascript" src="../frontend/js/custom_mainpage.js"></script>
        
        <script type="text/javascript" src="misc/scripts/js.js"></script>

<script type="text/javascript">
                var url_server__ = '{curPageURLServer}'; 
                dir_theme = 'application/views/{dir_theme}/';
		var url_base_path__ = '{url_base_path}';
		
		
	</script>
</body>
</html>