<div class="navbar-inner">
    <div class="container">
        <div class="brand-wrap pull-left">
            <div class="brand-img">
                <a class="brand" href="javascript:void(0);">
                    <!--<img src="../main/images/logo_admin.png" alt="Bella Logo" title="Go Home" style="cursor:pointer;" onclick="goHome()">-->
                    <h1 style="cursor:pointer;" onclick="goHome()">TRP BACKEND</h1>
                </a>
            </div>
        </div>
        
        <div id="header-right" class="clearfix">
            <div id="nav-toggle" data-toggle="collapse" data-target="#navigation" class="collapsed">
                <i class="icon-caret-down"></i>
            </div>
            <!--<div id="header-search">
                <span id="search-toggle" data-toggle="dropdown">
                    <i class="icon-search"></i>
                </span>
                <form class="navbar-search">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>  -->                      
            <div id="header-functions" class="pull-right">
                <div id="user-info" class="clearfix">
                    <span class="info">
                        Hello
                        <span class="name">{login_name}</span>
                    </span>
                    <div class="avatar">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <img src="{user_avatar}" alt="Avatar">
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="index.php/user/myaccount"><i class="icol-user"></i> My Profile</a></li>                                      
                            <li class="divider"></li>
                            <li><a href="index.php/logout"><i class="icol-key"></i> Logout</a></li>
                        </ul>
                    </div>
                    <!--<i class="icon-caret-down" style="color:#fff;"></i>-->
                </div>
            </div>
        </div>
    </div>
</div>