<script language="javascript">
function submitForm(){
	var checkError = false;
	if($('#name').val() == ''){
		$('#name').css("background", '#ffffd5');
		hidelabelfocus("name_label");
		if(checkError == false){
			checkError = true;
			onfocusInputText(document.getElementById("name"));	
			document.getElementById("name").focus();	
		}
	}

	if(checkError == true){
		return false;	
	}
	
	$("#loadingbt").show();
	$("#savebt").hide();
	$.post("index.php/store//promotype/edit", {
		saveObj: 'yes',
		key:document.getElementById('key').value,
		name:$("#name").val(),
		description:$("#description").val(),	
	}, function(data){
		$("#loadingbt").hide();
		$("#savebt").show();
		if(typeof(data) == 'object'){
			if(data.error != ''){
				//alert(data.error);	
				alert(fail_saved);
			}else{
				alert(success_saved);
				window.location = 'index.php/store//promotype';
				return false;
			}
		}
	}, "json");
	return false;
}

function onblurInputText(o){
	hideTooltipRequi();
	if(o.value == ''){
		hidelabelfocus(o.id+"_label");
		return false;	
	}
}

function updateMarkup(){
	var value_ = '';
	if(typeof(data_Objects) == 'object'){
		var category = document.getElementById("category").value;
		var manufacturer = document.getElementById("manufacturer").value;
		for(var i = 0; i < data_Objects.length; i++){
			if(parseInt(data_Objects[i].caid, 10) == parseInt(category, 10) && parseInt(data_Objects[i].mid, 10) == parseInt(manufacturer, 10)){
				value_ = data_Objects[i].price;
				break;	
			}	
		}	
	}
	document.getElementById("percentage").value = value_;
}

$(function() {
	clearForms();
});

</script>
<div class="box_solar">
	<form method="post" name="tax_form" onsubmit="return submitForm();">
    <div style="clear:both; float:left;">
        <div style="font-weight:bold;">Label:</div>
        <span class="field-with-placeholder" style="clear:both; float:left;">
            <input tabindex="0" type="text" class="input-text" id="name" size="10" name="name" value="{name}" style="width:255px" onfocus="onfocusInputText(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText(this)">
        </span>
        <span class="spRequired">*</span>
    </div>
    <div style="clear:both; float:left; padding-top:10px">
        <div style="font-weight:bold;">Description:</div>
        <span class="field-with-placeholder" style="clear:both; float:left;">
            <textarea id="description" name="description" style="width:255px; height:100px" class="input-text">{description}</textarea>
        </span>
    </div>
    <div style="float: right; clear:both; padding-top:20px; height:30px; margin-right:5px" align="right" id="savebt">
        <input type="button" value="Back" class="btn" style="margin-left:5px" onclick="history.go(-1);" />
        <input type="submit" value="Submit" name="submit" class="btn btn-primary" style="margin-left:5px" />
    </div>
    <div style="float: right; clear:both; padding-top:20px; height:30px; margin-right:5px; display:none" id="loadingbt" align="right">
        <div class="button-loading" style="width:80px">
            <span style="float:left"><img src="../images/loading_16x16.gif" border="0" /></span>
            <span style="float:left; padding-left:10px">Saving...</span>
        </div>
    </div>
    <input type="hidden" id="key" name="key" value="{key}" />
    </form>
</div>





