<style type="text/css">
.ui-autocomplete {
	max-height: 400px;
	width:380px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
}	
</style>
<script language="javascript">
var the_same_value = '----------';
function submitForm(){
	var checkError = false;
	if($('#promo_name').val() == ''){
		$('#promo_name').css("background", '#ffffd5');
		hidelabelfocus("promo_name_label");
		if(checkError == false){
			checkError = true;
			onfocusInputText(document.getElementById("promo_name"));	
			document.getElementById("promo_name").focus();	
		}
	}
	if(checkError == true){
		return false;	
	}
	var promotion_type_save = [];
	var promotion_type = document.getElementsByName("promotion_type_[]");
	for(var i = 0; i < promotion_type.length; i++){
		if(promotion_type[i].checked == true){
			promotion_type_save[promotion_type_save.length] = promotion_type[i].value;
		}	
	}
	updateProduct_discount_select();
	if(document.getElementById("promotion_type_1").checked == true){
		if(document.getElementById("check_product_discount_same").checked == true){
			var check_1 = false;
			for(var i = 0; i < product_discount_select.length; i++){
				if(product_discount_select[i].value == the_same_value){
					product_discount_select[i].discount = document.getElementById("product_discount_same").value;
					product_discount_select[i].discount_type = document.getElementById("product_discount_type_same").value;
					check_1 = true;
					break;	
				}
			}
			if(check_1 == false){
				var obj_product_discount_same = new Object();
				obj_product_discount_same.value = the_same_value;
				obj_product_discount_same.discount = document.getElementById("product_discount_same").value;
				obj_product_discount_same.discount_type = document.getElementById("product_discount_type_same").value;
				product_discount_select[product_discount_select.length] = obj_product_discount_same;		
			}		
		}
	}
	updateFreeProduct_select();
	if(document.getElementById("promotion_type_2").checked == true){
		if(document.getElementById("check_free_product_same").checked == true){
			var check_2 = false;
			for(var i = 0; i < free_product_select.length; i++){
				if(free_product_select[i].value == the_same_value){
					free_product_select[i].freeqty = document.getElementById("freeqty_same").value;
					check_2 = true;
					break;	
				}
			}
			if(check_2 == false){
				var obj_free_product_same = new Object();
				obj_free_product_same.value = the_same_value;
				obj_free_product_same.freeqty = document.getElementById("freeqty_same").value;
				free_product_select[free_product_select.length] = obj_free_product_same;		
			}		
		}
	}
	updateShippingDiscount_select();
	if(document.getElementById("promotion_type_3").checked == true){
		if(document.getElementById("check_shipping_discount_same").checked == true){
			var check_3 = false;
			for(var i = 0; i < shipping_discount_select.length; i++){
				if(shipping_discount_select[i].value == the_same_value){
					shipping_discount_select[i].discount = document.getElementById("shipping_discount_same").value;
					shipping_discount_select[i].discount_type = document.getElementById("shipping_discount_type_same").value;
					check_3 = true;
					break;	
				}
			}
			if(check_3 == false){
				var obj_shipping_discount_same = new Object();
				obj_shipping_discount_same.value = the_same_value;
				obj_shipping_discount_same.discount = document.getElementById("shipping_discount_same").value;
				obj_shipping_discount_same.discount_type = document.getElementById("shipping_discount_type_same").value;
				shipping_discount_select[shipping_discount_select.length] = obj_shipping_discount_same;		
			}			
		}
	}
	if(document.getElementById("promotion_type_4").checked == true){
		if(document.getElementById("check_free_shippings_same").checked == true){
			var check_4 = false;
			for(var i = 0; i < free_shippings_select.length; i++){
				if(free_shippings_select[i].value == the_same_value){
					check_4 = true;
					break;	
				}
			}
			if(check_4 == false){
				var obj_free_shippings_same = new Object();
				obj_free_shippings_same.value = the_same_value;
				free_shippings_select[free_shippings_select.length] = obj_free_shippings_same;		
			}		
		}
	}
	getValueCountries();
	$("#loadingbt").show();
	$("#savebt").hide();
	$.post("index.php/store/promotion/edit", {
		saveObj: 'yes',
		promo_code:document.getElementById("key").value,
		promo_name:$("#promo_name").val(),
		description:document.getElementById("description").value,
		start_date:document.getElementById("start_date").value,
		end_date:document.getElementById("end_date").value,
		subtotal:$("#subtotal").val(),
		minqty:$("#minqty").val(),
		promotion_type:promotion_type_save,
		product_discount_select:product_discount_select,
		free_product_select:free_product_select,
		shipping_discount_select:shipping_discount_select,
		free_shippings_select:free_shippings_select,
		countries_promotions:countries_promotions
	}, function(data){
		$("#loadingbt").hide();
		$("#savebt").show();
		if(typeof(data) == 'object'){
			if(data.error != ''){
				//alert(data.error);	
				alert(fail_saved);
			}else{
				alert(success_saved);
				window.location = 'index.php/store/promotion';
			}
		}
	}, "json");
	
	return false;
}
function onblurInputText(o){
	hideTooltipRequi();
	if(o.value == ''){
		hidelabelfocus(o.id+"_label");
		return false;	
	}
}
function CheckAutoGeneratePromoCode(){
	if(document.getElementById("auto_generate_promoID").checked == true){
		document.getElementById("promo_code").disabled = true;	
	}else{
		document.getElementById("promo_code").disabled = false;		
	}
}
var products__ = [];
var promotions_products = [];
function loadProducts(){
	ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
	$.post("index.php/store/promotion/edit", {
		loadProducts:'yes',
		promo_code:document.getElementById("key").value
	},function(data){
		HideLoadingObj(document.getElementById("content_load"));
		if(typeof(data) == 'object'){
			products__ = data.productsAvailable;
			promotions_products = data.promotions_products;
		}
		showAutoCompleted__();
		for(var i = 0; i < promotions_products.length; i++){
			switch(parseInt(promotions_products[i].promo_type, 10)){
				case 1:
					for(var j = 0; j < products__.length; j++){
						if(products__[j].value == promotions_products[i].item_key){
							var obj__ = products__[j];
							obj__.discount_type = 	promotions_products[i].discount_type;
							obj__.discount = 	promotions_products[i].discount;
							product_discount_select[product_discount_select.length] = obj__;
							break;
						}	
					}
					if(promotions_products[i].item_key == the_same_value){
						var obj_product_discount_same = new Object();
						obj_product_discount_same.value = the_same_value;
						obj_product_discount_same.discount = promotions_products[i].discount;
						obj_product_discount_same.discount_type = promotions_products[i].discount_type;
						product_discount_select[product_discount_select.length] = obj_product_discount_same;	
					}
					break;
				case 2:
					for(var j = 0; j < products__.length; j++){
						if(products__[j].value == promotions_products[i].item_key){
							var obj__ = products__[j];
							obj__.freeqty = 	promotions_products[i].freeqty;
							free_product_select[free_product_select.length] = obj__;
							break;
						}	
					}
					if(promotions_products[i].item_key == the_same_value){
						var obj_free_product_same = new Object();
						obj_free_product_same.value = the_same_value;
						obj_free_product_same.freeqty = promotions_products[i].freeqty;
						free_product_select[free_product_select.length] = obj_free_product_same;	
					}
					break;
				case 3:
					for(var j = 0; j < products__.length; j++){
						if(products__[j].value == promotions_products[i].item_key){
							var obj__ = products__[j];
							obj__.discount_type = 	promotions_products[i].discount_type;
							obj__.discount = 	promotions_products[i].discount;
							shipping_discount_select[shipping_discount_select.length] = obj__;
							break;
						}	
					}
					if(promotions_products[i].item_key == the_same_value){
						var obj_shipping_discount_same = new Object();
						obj_shipping_discount_same.value = the_same_value;
						obj_shipping_discount_same.discount = promotions_products[i].discount;
						obj_shipping_discount_same.discount_type = promotions_products[i].discount_type;
						shipping_discount_select[shipping_discount_select.length] = obj_shipping_discount_same;		
					}
					break;
				case 4:
					for(var j = 0; j < products__.length; j++){
						if(products__[j].value == promotions_products[i].item_key){
							free_shippings_select[free_shippings_select.length] = products__[j];
							break;
						}	
					}
					if(promotions_products[i].item_key == the_same_value){
						var obj_free_shippings_same = new Object();
						obj_free_shippings_same.value = the_same_value;
						free_shippings_select[free_shippings_select.length] = obj_free_shippings_same;	
					}
					break;	
			}	
		}
		showProductDiscountSelect();
		showFreeProductSelect();
		showShippingDiscountSelect();
		showFreeShippingSelect();
	}, "json");
}

var product_discount_select = [];
function showProductDiscountSelect(){
	var st = '';
	
	for(var i = 0; i < product_discount_select.length; i++){
		if(typeof(product_discount_select[i].discount) == 'undefined'){
			product_discount_select[i].discount = '';
		}
		if(typeof(product_discount_select[i].discount_type) == 'undefined'){
			product_discount_select[i].discount_type = 0;
		}
		var items = product_discount_select[i];	
		var product_discount_ = items.discount;
		
		if(product_discount_select[i].value == the_same_value){
			document.getElementById("check_product_discount_same").checked = true;
			document.getElementById("product_discount_same").value = product_discount_;
			document.getElementById("product_discount_type_same").value = product_discount_select[i].discount_type;
			continue;	
		}
		st += '<div style="clear:both; overflow:hidden; padding-top:10px; margin-top:10px; border-top:1px dashed #d2d2d2">';
		st += '<table cellpadding="0" cellspacing="0" border="0">';
		st += '	<tr>';
		st += '		<td align="left" valign="middle" width="30px"><img src="../images/b_drop.png" border="0" style="cursor:pointer" onclick="removeProduct_discount_select(\''+items.value+'\')" /></td>';
		st += '		<td align="left" valign="top"><img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" class="img_box_radi" /></td>';
		st += '		<td align="left" valign="top" style="padding-left:10px">';
		
		st += '<div style="clear:both; overflow:hidden;">';
		st += items.label;
		st += '</div>';
		
		st += '<div style="clear:both; overflow:hidden; padding-top:7px;">';
		st += '	<div style="float:left; font-weight:bold; padding-top:2px">Discount:</div>';
		st += '	<span class="field-with-placeholder" style="float:left; padding-left:10px">';
		st += '		<input tabindex="0" type="text" class="input-text" id="product_discount_'+items.value+'"  name="product_discount_'+items.value+'" value="'+product_discount_+'" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" onkeypress="return isNumberFloatKey(event)" placeholder = "Optional">';
		st += '	</span>';
		st += '	<div style="float:left; padding-left:10px;">';
		st += '		<select id="product_discount_type_'+items.value+'" name="product_discount_type_'+items.value+'">';
		st += '			<option value="0">Percentage</option>';
		st += '			<option value="1">Dollar amount</option>';
		st += '		</select>';
		st += '	</div>';
		st += '</div>';
		
		st += '</td>';
		st += '	</tr>';
		st += '</table>';
		st += '</div>';		
	}
	$("#result_product_discount").empty().append(st);
	for(var i = 0; i < product_discount_select.length; i++){
		if(document.getElementById("product_discount_type_"+product_discount_select[i].value)){
			document.getElementById("product_discount_type_"+product_discount_select[i].value).value = product_discount_select[i].discount_type;	
		}
	}
}
function updateProduct_discount_select(){
	for(var i = 0; i < product_discount_select.length; i++){
		if(document.getElementById("product_discount_"+product_discount_select[i].value)){
			product_discount_select[i].discount = document.getElementById("product_discount_"+product_discount_select[i].value).value;	
		}
		if(document.getElementById("product_discount_type_"+product_discount_select[i].value)){
			product_discount_select[i].discount_type = document.getElementById("product_discount_type_"+product_discount_select[i].value).value;	
		}
	}
}
function removeProduct_discount_select(key){
	updateProduct_discount_select();
	var product_discount_select_ = product_discount_select;
	product_discount_select = [];
	for(var i = 0; i < product_discount_select_.length; i++){
		if(product_discount_select_[i].value != key){
			product_discount_select[product_discount_select.length] = product_discount_select_[i];
		}		
	}
	showProductDiscountSelect();
}

var free_product_select = [];
function showFreeProductSelect(){
	var st = '';
	
	for(var i = 0; i < free_product_select.length; i++){
		if(typeof(free_product_select[i].freeqty) == 'undefined'){
			free_product_select[i].freeqty = 1;
		}
		var items = free_product_select[i];
		var freeqty = items.freeqty;
		if(free_product_select[i].value == the_same_value){
			document.getElementById("check_free_product_same").checked = true;
			document.getElementById("freeqty_same").value = freeqty;
			continue;	
		}
		st += '<div style="clear:both; overflow:hidden; padding-top:10px; margin-top:10px; border-top:1px dashed #d2d2d2">';
		st += '<table cellpadding="0" cellspacing="0" border="0">';
		st += '	<tr>';
		st += '		<td align="left" valign="middle" width="30px"><img src="../images/b_drop.png" border="0" style="cursor:pointer" onclick="removeFreeProduct_select(\''+items.value+'\')" /></td>';
		st += '		<td align="left" valign="top"><img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" class="img_box_radi" /></td>';
		st += '		<td align="left" valign="top" style="padding-left:10px">';
		
		st += '<div style="clear:both; overflow:hidden;">';
		st += items.label;
		st += '</div>';
		
		st += '<div style="clear:both; overflow:hidden; padding-top:7px;">';
		st += '	<div style="float:left; font-weight:bold; padding-top:2px">Quantity:</div>';
		st += '	<span class="field-with-placeholder" style="float:left; padding-left:10px">';
		st += '		<input tabindex="0" type="text" class="input-text" id="freeqty_'+items.value+'"  name="freeqty_'+items.value+'" value="'+freeqty+'" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" onkeypress="return isNumberIntKey(event)" placeholder = "Optional">';
		st += '	</span>';
		st += '</div>';
		
		st += '</td>';
		st += '	</tr>';
		st += '</table>';
		st += '</div>';		
	}
	
	$("#result_free_products").empty().append(st);
}
function updateFreeProduct_select(){
	for(var i = 0; i < free_product_select.length; i++){
		if(document.getElementById("freeqty_"+free_product_select[i].value)){
			free_product_select[i].freeqty = document.getElementById("freeqty_"+free_product_select[i].value).value;	
		}
	}
}
function removeFreeProduct_select(key){
	updateFreeProduct_select();
	var product_discount_select_ = free_product_select;
	free_product_select = [];
	for(var i = 0; i < product_discount_select_.length; i++){
		if(product_discount_select_[i].value != key){
			free_product_select[free_product_select.length] = product_discount_select_[i];
		}		
	}
	showFreeProductSelect();
}

var shipping_discount_select = [];
function showShippingDiscountSelect(){
	var st = '';
	
	for(var i = 0; i < shipping_discount_select.length; i++){
		if(typeof(shipping_discount_select[i].discount) == 'undefined'){
			shipping_discount_select[i].discount = '';
		}
		if(typeof(shipping_discount_select[i].discount_type) == 'undefined'){
			shipping_discount_select[i].discount_type = 0;
		}
		var items = shipping_discount_select[i];	
		var discount_ = items.discount;
		if(shipping_discount_select[i].value == the_same_value){
			document.getElementById("check_shipping_discount_same").checked = true;
			document.getElementById("shipping_discount_same").value = discount_;
			document.getElementById("shipping_discount_type_same").value = shipping_discount_select[i].discount_type;
			continue;	
		}
		st += '<div style="clear:both; overflow:hidden; padding-top:10px; margin-top:10px; border-top:1px dashed #d2d2d2">';
		st += '<table cellpadding="0" cellspacing="0" border="0">';
		st += '	<tr>';
		st += '		<td align="left" valign="middle" width="30px"><img src="../images/b_drop.png" border="0" style="cursor:pointer" onclick="removeShippingDiscount_select(\''+items.value+'\')" /></td>';
		st += '		<td align="left" valign="top"><img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" class="img_box_radi" /></td>';
		st += '		<td align="left" valign="top" style="padding-left:10px">';
		
		st += '<div style="clear:both; overflow:hidden;">';
		st += items.label;
		st += '</div>';
		
		st += '<div style="clear:both; overflow:hidden; padding-top:7px;">';
		st += '	<div style="float:left; font-weight:bold; padding-top:2px">Discount:</div>';
		st += '	<span class="field-with-placeholder" style="float:left; padding-left:10px">';
		st += '		<input tabindex="0" type="text" class="input-text" id="shipping_discount_'+items.value+'"  name="shipping_discount_'+items.value+'" value="'+discount_+'" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" onkeypress="return isNumberFloatKey(event)" placeholder = "Optional">';
		st += '	</span>';
		st += '	<div style="float:left; padding-left:10px;">';
		st += '		<select id="shipping_discount_type_'+items.value+'" name="shipping_discount_type_'+items.value+'">';
		st += '			<option value="0">Percentage</option>';
		st += '			<option value="1">Dollar amount</option>';
		st += '		</select>';
		st += '	</div>';
		st += '</div>';
		
		st += '</td>';
		
		st += '	</tr>';
		st += '</table>';
		st += '</div>';		
	}
	$("#result_shipping_discount").empty().append(st);
	for(var i = 0; i < shipping_discount_select.length; i++){
		if(document.getElementById("shipping_discount_type_"+shipping_discount_select[i].value)){
			document.getElementById("shipping_discount_type_"+shipping_discount_select[i].value).value = shipping_discount_select[i].discount_type;	
		}
	}
}
function updateShippingDiscount_select(){
	for(var i = 0; i < shipping_discount_select.length; i++){
		if(document.getElementById("shipping_discount_"+shipping_discount_select[i].value)){
			shipping_discount_select[i].discount = document.getElementById("shipping_discount_"+shipping_discount_select[i].value).value;	
		}
		if(document.getElementById("shipping_discount_type_"+shipping_discount_select[i].value)){
			shipping_discount_select[i].discount_type = document.getElementById("shipping_discount_type_"+shipping_discount_select[i].value).value;	
		}
	}
}
function removeShippingDiscount_select(key){
	updateShippingDiscount_select();
	var product_discount_select_ = shipping_discount_select;
	shipping_discount_select = [];
	for(var i = 0; i < product_discount_select_.length; i++){
		if(product_discount_select_[i].value != key){
			shipping_discount_select[shipping_discount_select.length] = product_discount_select_[i];
		}		
	}
	showShippingDiscountSelect();
}

var free_shippings_select = [];
function showFreeShippingSelect(){
	var st = '';
	
	for(var i = 0; i < free_shippings_select.length; i++){
		var items = free_shippings_select[i];
		if(free_shippings_select[i].value == the_same_value){
			document.getElementById("check_free_shippings_same").checked = true;
			continue;	
		}
		st += '<div style="clear:both; overflow:hidden; padding-top:10px; margin-top:10px; border-top:1px dashed #d2d2d2">';
		st += '<table cellpadding="0" cellspacing="0" border="0">';
		st += '	<tr>';
		st += '		<td align="left" valign="middle" width="30px"><img src="../images/b_drop.png" border="0" style="cursor:pointer" onclick="removeFreeShipping_select(\''+items.value+'\')" /></td>';
		st += '		<td align="left" valign="top"><img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" class="img_box_radi" /></td>';
		st += '		<td align="left" valign="top" style="padding-left:10px">'+items.label+'</td>';
		st += '	</tr>';
		st += '</table>';
		st += '</div>';		
	}
	
	$("#result_free_shippings").empty().append(st);
}
function removeFreeShipping_select(key){
	var product_discount_select_ = free_shippings_select;
	free_shippings_select = [];
	for(var i = 0; i < product_discount_select_.length; i++){
		if(product_discount_select_[i].value != key){
			free_shippings_select[free_shippings_select.length] = product_discount_select_[i];
		}		
	}
	showFreeShippingSelect();
}
function showAutoCompleted__(){
	var auto_search_product = $( "#search_product_discount" ).autocomplete({
		minLength: 0,
		source: products__,
		select: function( event, ui ) {
			var check_ = false;
			for(var i = 0; i < product_discount_select.length; i++){
				if(product_discount_select[i].value == ui.item.value){
					check_ = true;
					break;	
				}	
			}
			if(check_ == false){
				product_discount_select[product_discount_select.length] = ui.item;
				updateProduct_discount_select();
				showProductDiscountSelect();		
			}
			document.getElementById("search_product_discount").value = '';
			return false;
		}
	});
	auto_search_product.data( "autocomplete" )._renderItem = function( ul, items ) {
		var label = '<img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" align="left" style="margin-right:5px; margin-bottom:3px; margin-top:3px" class="img_box_radi" />'+items.label;
		
		return $( "<li></li>" )
			.data( "item.autocomplete", items )
			.append('<a style="overflow:hidden">' + label + "</a>")
			.appendTo( ul );
	};
	auto_search_product.data( "autocomplete" )._renderMenu = function( ul, items ) {
		var self = this,
			currentCategory = "";
		$.each( items, function( index, item ) {
			if ( item.cat_id != currentCategory ) {
				ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
				currentCategory = item.cat_id;
			}
			self._renderItem( ul, item );
		});
	};
	
	var auto_search_free_product = $( "#search_free_products" ).autocomplete({
		minLength: 0,
		source: products__,
		select: function( event, ui ) {
			var check_ = false;
			for(var i = 0; i < free_product_select.length; i++){
				if(free_product_select[i].value == ui.item.value){
					check_ = true;
					break;	
				}	
			}
			if(check_ == false){
				free_product_select[free_product_select.length] = ui.item;
				updateFreeProduct_select();
				showFreeProductSelect();		
			}
			document.getElementById("search_free_products").value = '';
			return false;
		}
	});
	auto_search_free_product.data( "autocomplete" )._renderItem = function( ul, items ) {
		var label = '<img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" align="left" style="margin-right:5px; margin-bottom:3px; margin-top:3px" class="img_box_radi" />'+items.label;
		
		return $( "<li></li>" )
			.data( "item.autocomplete", items )
			.append('<a style="overflow:hidden">' + label + "</a>")
			.appendTo( ul );
	};
	auto_search_free_product.data( "autocomplete" )._renderMenu = function( ul, items ) {
		var self = this,
			currentCategory = "";
		$.each( items, function( index, item ) {
			if ( item.cat_id != currentCategory ) {
				ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
				currentCategory = item.cat_id;
			}
			self._renderItem( ul, item );
		});
	};
	
	var auto_search_shipping_discount = $( "#search_shipping_discount" ).autocomplete({
		minLength: 0,
		source: products__,
		select: function( event, ui ) {
			var check_ = false;
			for(var i = 0; i < shipping_discount_select.length; i++){
				if(shipping_discount_select[i].value == ui.item.value){
					check_ = true;
					break;	
				}	
			}
			if(check_ == false){
				shipping_discount_select[shipping_discount_select.length] = ui.item;
				updateShippingDiscount_select();
				showShippingDiscountSelect();		
			}
			document.getElementById("search_shipping_discount").value = '';
			return false;
		}
	});
	auto_search_shipping_discount.data( "autocomplete" )._renderItem = function( ul, items ) {
		var label = '<img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" align="left" style="margin-right:5px; margin-bottom:3px; margin-top:3px" class="img_box_radi" />'+items.label;
		
		return $( "<li></li>" )
			.data( "item.autocomplete", items )
			.append('<a style="overflow:hidden">' + label + "</a>")
			.appendTo( ul );
	};
	auto_search_shipping_discount.data( "autocomplete" )._renderMenu = function( ul, items ) {
		var self = this,
			currentCategory = "";
		$.each( items, function( index, item ) {
			if ( item.cat_id != currentCategory ) {
				ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
				currentCategory = item.cat_id;
			}
			self._renderItem( ul, item );
		});
	};
	
	var auto_search_free_shippings = $( "#search_free_shippings" ).autocomplete({
		minLength: 0,
		source: products__,
		select: function( event, ui ) {
			var check_ = false;
			for(var i = 0; i < free_shippings_select.length; i++){
				if(free_shippings_select[i].value == ui.item.value){
					check_ = true;
					break;	
				}	
			}
			if(check_ == false){
				free_shippings_select[free_shippings_select.length] = ui.item;
				showFreeShippingSelect();		
			}
			document.getElementById("search_free_shippings").value = '';
			return false;
		}
	});
	auto_search_free_shippings.data( "autocomplete" )._renderItem = function( ul, items ) {
		var label = '<img src="shopping/data/img/thumb/'+items.icon+'" border="0" width="90px" align="left" style="margin-right:5px; margin-bottom:3px; margin-top:3px" class="img_box_radi" />'+items.label;
		
		return $( "<li></li>" )
			.data( "item.autocomplete", items )
			.append('<a style="overflow:hidden">' + label + "</a>")
			.appendTo( ul );
	};
	auto_search_free_shippings.data( "autocomplete" )._renderMenu = function( ul, items ) {
		var self = this,
			currentCategory = "";
		$.each( items, function( index, item ) {
			if ( item.cat_id != currentCategory ) {
				ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
				currentCategory = item.cat_id;
			}
			self._renderItem( ul, item );
		});
	};
	
}
function ShowPromoType(obj, id){
	var promotion_type = document.getElementsByName("promotion_type_[]");
	for(var i = 0; i < promotion_type.length; i++){
		if(promotion_type[i].checked == true){
			$("#promotion_type_tab_"+promotion_type[i].value).show();	
		}else{
			$("#promotion_type_tab_"+promotion_type[i].value).hide();		
		}	
	}
}
var dataCountries = [];
var countries_promotions = [];
var dem_country = 0;
function loadDataCountries(){
	{load_countries}
	showCountriesListing();
//	showStates();	
}
function showCountriesListing(){
	if(countries_promotions.length == 0) addCountryPromotions();
	var st = '';
	for(var i = 0; i < countries_promotions.length; i++){
		var bt_ = '<a href="javascript:void(0)" onclick="removeCountryPromotions(\''+countries_promotions[i].id+'\'); showCountriesListing();" style="color:#F00">Delete</a>';
		if(i == countries_promotions.length-1)  bt_ += '&nbsp;&nbsp;<a href="javascript:void(0)" onclick="addCountryPromotions(); showCountriesListing();" style="color:#060;">Add</a>';
		
		var country_value = countries_promotions[i].country_value;
		st += '<div style="clear:both; overflow:hidden; margin-bottom:10px">';
		st += '	<table cellpadding="0" cellspacing="0" border="0">';
		st += '		<tr>';
		st += '			<td align="left" valign="top" style="padding-top:3px">Select country :</td>';
		st += '			<td align="left" valign="top" style="padding-left:10px">';
		st += '				<select id="'+countries_promotions[i].countryID+'" onchange="changeCountry(this, \''+countries_promotions[i].stateID+'\')" style="width:250px">';
		for(var c = 0; c < dataCountries.length; c++){
			st += '<option value="'+dataCountries[c].code+'">'+dataCountries[c].name+'</option>';	
		}
		st += '</select> ';   
		st += '			</td>';
		st += '			<td align="left" valign="top" style="padding-left:10px" id="showState_'+countries_promotions[i].stateID+'">';
		st += '				<select id="'+countries_promotions[i].stateID+'" style="width:200px; height:80px" multiple="multiple">';
		st += '					<option value="">---  All States  ---</option>';
		st += '				</select>';
		st += '			</td>';
		st += '			<td align="left" valign="bottom" style="padding-left:10px">'+bt_+'</td>';
		st += '		</tr>';
		st += '	</table>';
		st += '</div>';	
	}
	$("#countries_listing").empty().append(st);
	for(var i = 0; i < countries_promotions.length; i++){
		var country_value = countries_promotions[i].country_value;
		for(var c = 0; c < dataCountries.length; c++){
			if(country_value == ''){
				country_value = dataCountries[c].codedefault;	
			}	
		}
		document.getElementById(countries_promotions[i].countryID).value = country_value;
		country_value = document.getElementById(countries_promotions[i].countryID).value;
		var states = [];
		for(var c = 0; c < dataCountries.length; c++){
			if(dataCountries[c].code == country_value){
				states = dataCountries[c].states;
				break;	
			}	
		}
		var state_value = countries_promotions[i].state_value;
		var state__ = document.getElementById(countries_promotions[i].stateID);
		for(var j = 0; j < states.length; j++){
			var elOptNew = document.createElement('option');
			elOptNew.text = states[j].name; 
			elOptNew.value = states[j].code; 
			for(var m = 0; m < state_value.length; m++){
				if(state_value[m] == states[j].code){
					elOptNew.selected = true; 
					break;	
				}	
			} 
			try {
				state__.add(elOptNew, null); // standards compliant; doesn't work in IE
			}catch(ex) {
				state__.add(elOptNew); // IE only
			}		
		}
	}
}
function addCountryPromotions(){
	getValueCountries();
	var obj = new Object();
	obj.id = 'country_promo_'+dem_country;
	obj.countryID = 'country_'+dem_country;
	obj.stateID = 'state_'+dem_country;
	obj.country_value = '';
	obj.state_value = [];
	countries_promotions[countries_promotions.length] = obj;		
	dem_country ++;
}
function removeCountryPromotions(countryID){
	var countries_promotions_tam = countries_promotions;
	countries_promotions = [];
	for(var i = 0; i < countries_promotions_tam.length; i++){
		if(countries_promotions_tam[i].id != countryID){
			countries_promotions[countries_promotions.length] = countries_promotions_tam[i];	
		}	
	}
	getValueCountries();
}
function getValueCountries(){
	for(var i = 0; i < countries_promotions.length; i++){
		if(document.getElementById(countries_promotions[i].countryID)){
			countries_promotions[i].country_value = document.getElementById(countries_promotions[i].countryID).value;	
		}
		if(document.getElementById(countries_promotions[i].stateID)){
			countries_promotions[i].state_value = [];
			var states = document.getElementById(countries_promotions[i].stateID);
			for (var j = 0; j < states.options.length; j++) {
				if (states.options[j].selected) {
					countries_promotions[i].state_value[countries_promotions[i].state_value.length] = states.options[j].value;
				}
			}
				
		}	
	}
}
function changeCountry(obj_country, stateID){
	var country_value = obj_country.value;
	var states = [];
	for(var c = 0; c < dataCountries.length; c++){
		if(dataCountries[c].code == country_value){
			states = dataCountries[c].states;
			break;	
		}	
	}
	var new_state = '';
	new_state += '<select id="'+stateID+'" style="width:200px; height:80px" multiple="multiple">';
	new_state += '	<option value="">---  All States  ---</option>';
	for(var j = 0; j < states.length; j++){
		new_state += '<option value="'+states[j].code+'">'+states[j].name+'</option>';	
	}
	new_state += '</select>';
	$("#showState_"+stateID).empty().append(new_state);
}
function loadPromoCountries(){
	var dataCountryPromos = [];
	{loadPromoCountries}
	for(var i = 0; i < dataCountryPromos.length; i++){
		var obj = new Object();
		obj.id = 'country_promo_'+dem_country;
		obj.countryID = 'country_'+dem_country;
		obj.stateID = 'state_'+dem_country;
		obj.country_value = dataCountryPromos[i].code;
		obj.state_value = dataCountryPromos[i].states;
		countries_promotions[countries_promotions.length] = obj;		
		dem_country ++;	
	}
}
$(function() {
	loadPromoCountries();
	loadDataCountries();
	var dates = $( "#start_date, #end_date" ).datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 3,
		onSelect: function( selectedDate ) {
			var option = this.id == "start_date" ? "minDate" : "maxDate",
				instance = $( this ).data( "datepicker" );
				date = $.datepicker.parseDate(
					instance.settings.dateFormat ||
					$.datepicker._defaults.dateFormat,
					selectedDate, instance.settings );
			dates.not( this ).datepicker( "option", option, date );
		}
	});
	clearForms();
	ShowPromoType();
	loadProducts();
});

</script>
<form method="post" onsubmit="return submitForm();">
<div class="titlepage-admin">Add Promotion</div>
<div class="box_solar">
    <div style="clear:both; width:100%; min-height:300px;">
    	<fieldset>
        	<legend>General Information</legend>
            <div style="clear:both; float:left;">
                <div style="float:left; font-weight:bold; width:100px">Promo Code:</div>
                <span class="field-with-placeholder" style="float:left;">
                    {promo_code}
                </span>
            </div>
            <div style="clear:both; float:left; padding-top:5px">
                <div style="float:left; font-weight:bold; padding-top:3px; width:100px">Promo Name:</div>
                <span class="field-with-placeholder" style="float:left;">
                    <label id="promo_name_label" class="placeholder" for="promo_name"><span>Required</span></label>
                    <input tabindex="0" type="text" class="input-text" id="promo_name"  name="promo_name" value="{promo_name}" style="width:500px" onfocus="onfocusInputText(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText(this)" >
                </span>
            </div>
            <div style="clear:both; float:left; padding-top:5px">
                <div style="float:left; font-weight:bold; padding-top:3px; width:100px">Description:</div>
                <span class="field-with-placeholder" style="float:left;">
                    <textarea id="description" name="description" style="width:500px; height:60px" class="input-text">{description}</textarea>
                </span>
            </div>
            <div style="clear:both; float:left; padding-top:5px">
                <div style="float:left; font-weight:bold; padding-top:3px; width:100px">Start date:</div>
                <span class="field-with-placeholder" style="float:left;">
                    <label id="start_date_label" class="placeholder" for="start_date"><span>Date</span></label>
                    <input tabindex="0" type="text" class="input-text" id="start_date"  name="start_date" value="{start_date}" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" >
                </span>
            </div>
            <div style="clear:both; float:left; padding-top:5px">
                <div style="float:left; font-weight:bold; padding-top:3px; width:100px">End date:</div>
                <span class="field-with-placeholder" style="float:left;">
                    <label id="end_date_label" class="placeholder" for="end_date"><span>Date</span></label>
                    <input tabindex="0" type="text" class="input-text" id="end_date"  name="end_date" value="{end_date}" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" >
                </span>
            </div>
        </fieldset>
        <fieldset style="margin-top:20px">
        	<legend>Promotion Triggers</legend>
            <div style="clear:both; font-weight:bold">Promotion is triggered if:</div>
            <div style="clear:both; padding-top:10px">
            	<div style="float:left; padding-top:2px">The order subtotal is greater than or equal to &nbsp;&nbsp;$</div>
                <span class="field-with-placeholder" style="float:left; padding-left:2px">
                    <label id="subtotal_label" class="placeholder" for="subtotal"><span>Price</span></label>
                    <input tabindex="0" type="text" class="input-text" id="subtotal" disabled="disabled"  name="subtotal" value="0" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" onkeypress="return isNumberFloatKey(event)">
                </span>
          	</div>
            <div style="clear:both; padding-top:10px">
            	<div style="float:left; padding-top:2px">and/or Min Quantity:</div>
                <span class="field-with-placeholder" style="float:left; padding-left:5px">
                    <label id="minqty_label" class="placeholder" for="minqty"><span></span></label>
                    <input tabindex="0" type="text" class="input-text" id="minqty"  name="minqty" value="{minqty}" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" onkeypress="return isNumberIntKey(event)">
                </span>
            </div>
            <div style="clear:both; padding-top:10px;">
            	<div style="float:left; font-weight:bold">Promotion Type:</div>
                <div style="float:left;">
                	{loadPromoType}
                	<span style="float:left; padding-left:15px; padding-top:1px"><input type="checkbox" class="input-checkbox" value="{id}" name="promotion_type_[]" id="promotion_type_{id}" onclick="ShowPromoType()" {checked}/></span>
                    <span style="float:left; padding-left:4px; text-transform:capitalize">{promo_type_name}</span>
                    {/loadPromoType}
                </div>
            </div>
            <div style="clear:both; overflow:hidden">
            	<fieldset style="margin-top:20px; padding-top:10px; border:1px solid #d2d2d2; display:none" id="promotion_type_tab_1">
                	<legend style="text-transform:capitalize; font-size:20px; color:#d2d2d2">Product discounts</legend>
                    <div style="clear:both; overflow:hidden;">
                        <span class="field-with-placeholder" style="float:left; font-weight:bold; padding-left:10px; padding-top:2px">
                        	Applied to the following products:
                        </span>
                        <span class="field-with-placeholder" style="float:left; padding-left:10px">
                            <input type="text" class="input-text" id="search_product_discount"  name="search_product_discount" style="width:260px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" placeholder="Key word">
                        </span>
                    </div>
                    <div style="clear:both; overflow:hidden; padding-top:10px">
                    	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                            	<td width="30px" valign="top" align="left" style="padding-top:2px"><input type="checkbox" class="input-checkbox" id="check_product_discount_same" name="check_product_discount_same" value="1" /></td>
                                <td valign="top" align="left">
                                	<div style="clear:both; overflow:hidden;"><b>The products in the promotion.</b></div>
                                    <div style="clear:both; overflow:hidden; padding-top:7px; padding-left:100px">
                                    	<div style="float:left; font-weight:bold; padding-top:2px">Discount:</div>
                                        <span style="float:left; padding-left:10px" class="field-with-placeholder">
                                            <input type="text" onkeypress="return isNumberFloatKey(event)" onkeyup="onfocusInputText2(this)" onkeydown="onkeydownInputText(this)" onblur="onblurInputText(this)" onfocus="onfocusInputText2(this)" style="width:90px" value="" name="product_discount_same" id="product_discount_same" class="input-text" tabindex="0" placeholder = "Optional">
                                       	</span>
                                        <div style="float:left; padding-left:10px;">
                                        	<select name="product_discount_type_same" id="product_discount_type_same">
                                            	<option value="0">Percentage</option>
                                                <option value="1">Dollar amount</option>
                                         	</select>
                                       	</div>
                                  	</div>
                               	</td>
                          	</tr>
                      	</table>
                  	</div>
                    <div style="clear:both; overflow:hidden; width:100%" id="result_product_discount"></div>
                </fieldset>
                <fieldset style="margin-top:20px; padding-top:10px; border:1px solid #d2d2d2; display:none" id="promotion_type_tab_2">
                	<legend style="text-transform:capitalize; font-size:20px; color:#d2d2d2">Free Products</legend>
                    <div style="clear:both; overflow:hidden;">
                        <span class="field-with-placeholder" style="float:left; font-weight:bold; padding-left:10px; padding-top:2px">
                        	Applied to the following products:
                        </span>
                        <span class="field-with-placeholder" style="float:left; padding-left:10px">
                            <input type="text" class="input-text" id="search_free_products"  name="search_free_products" style="width:260px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)"  placeholder="Key word">
                        </span>
                    </div>
                    <div style="clear:both; overflow:hidden; padding-top:10px;">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left" valign="top" width="30px" style="padding-top:2px"><input type="checkbox" class="input-checkbox" id="check_free_product_same" name="check_free_product_same" value="1" /></td>
                                <td align="left" valign="top">
                                    <div style="clear:both; overflow:hidden;"><b>The products in the promotion.</b></div>
                                    <div style="clear:both; overflow:hidden; padding-top:7px; padding-left:100px">
                                        <div style="float:left; font-weight:bold; padding-top:2px">Quantity:</div>
                                        <span class="field-with-placeholder" style="float:left; padding-left:10px">
                                            <input tabindex="0" type="text" class="input-text" id="freeqty_same"  name="freeqty_same" value="1" style="width:90px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" onkeypress="return isNumberIntKey(event)" placeholder="Optional">
                                        </span>
                                    </div>
                        		</td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear:both; overflow:hidden; width:100%" id="result_free_products"></div>
                </fieldset>
                <fieldset style="margin-top:20px; padding-top:10px; border:1px solid #d2d2d2; display:none" id="promotion_type_tab_3">
                	<legend style="text-transform:capitalize; font-size:20px; color:#d2d2d2">shipping discounts</legend>
                    <div style="clear:both;">
                        <span class="field-with-placeholder" style="float:left; font-weight:bold; padding-left:10px; padding-top:2px">
                        	Applied to the following products:
                        </span>
                        <span class="field-with-placeholder" style="float:left; padding-left:10px">
                            <input type="text" class="input-text" id="search_shipping_discount"  name="search_shipping_discount" style="width:260px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)" placeholder="Key word">
                        </span>
                    </div>
                    <div style="clear:both; overflow:hidden; padding-top:10px">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td width="30px" valign="top" align="left" style="padding-top:2px"><input type="checkbox" class="input-checkbox" id="check_shipping_discount_same" name="check_shipping_discount_same" value="1" /></td>
                                <td valign="top" align="left">
                                    <div style="clear:both; overflow:hidden;"><b>The products in the promotion.</b></div>
                                    <div style="clear:both; overflow:hidden; padding-top:7px; padding-left:100px">
                                        <div style="float:left; font-weight:bold; padding-top:2px">Discount:</div>
                                        <span style="float:left; padding-left:10px" class="field-with-placeholder">
                                            <input type="text" onkeypress="return isNumberFloatKey(event)" onkeyup="onfocusInputText2(this)" onkeydown="onkeydownInputText(this)" onblur="onblurInputText(this)" onfocus="onfocusInputText2(this)" style="width:90px" value="" name="shipping_discount_same" id="shipping_discount_same" class="input-text" tabindex="0" placeholder="Optional">
                                        </span>
                                        <div style="float:left; padding-left:10px;">
                                            <select name="shipping_discount_type_same" id="shipping_discount_type_same">
                                                <option value="0">Percentage</option>
                                                <option value="1">Dollar amount</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear:both; overflow:hidden; width:100%" id="result_shipping_discount"></div>
                </fieldset>
                <fieldset style="margin-top:20px; padding-top:10px; border:1px solid #d2d2d2; display:none" id="promotion_type_tab_4">
                	<legend style="text-transform:capitalize; font-size:20px; color:#d2d2d2">free shippings</legend>
                    <div style="clear:both; overflow:hidden" id="countries_listing"></div>
  					<div style="clear:both; overflow:hidden;">
                        <span class="field-with-placeholder" style="float:left; font-weight:bold; padding-left:10px; padding-top:2px">
                        	Applied to the following products:
                        </span>
                        <span class="field-with-placeholder" style="float:left; padding-left:10px">
                            <input type="text" class="input-text" id="search_free_shippings"  name="search_free_shippings" style="width:260px" onfocus="onfocusInputText2(this)" onblur="onblurInputText(this)" onkeydown="onkeydownInputText(this)" onkeyup="onfocusInputText2(this)"  placeholder="Key word">
                        </span>
                    </div>
                    <div style="clear:both; overflow:hidden; padding-top:10px;">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left" valign="top" width="30px" style="padding-top:2px"><input type="checkbox" class="input-checkbox" id="check_free_shippings_same" name="check_free_shippings_same" value="1" /></td>
                                <td align="left" valign="top">
                                    <div style="clear:both; overflow:hidden;"><b>The products in the promotion.</b></div>
                        		</td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear:both; overflow:hidden; width:100%" id="result_free_shippings"></div>
                </fieldset>
            </div>
       	</fieldset>
    </div>
    <div style="float: right; clear:both; padding-top:20px; height:30px; margin-right:5px" align="right" id="savebt">
    	<input type="button" value="Back" class="button" onclick="history.go(-1);" />
        <input type="submit" value="Submit" name="submit" class="button" style="margin-left:5px" />
    </div>
    <div style="float: right; clear:both; padding-top:20px; height:30px; margin-right:5px; display:none" id="loadingbt" align="right">
        <div class="button-loading" style="width:80px">
            <span style="float:left"><img src="../images/loading_16x16.gif" border="0" /></span>
            <span style="float:left; padding-left:10px">Saving...</span>
        </div>
    </div>
</div>
<input type="hidden" id="key" name="key" value="{key}" />
</form>
