<div class="content-panel">
    <div class="page-title holder">
        <h2>{title_page}</h2>
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li>/</li>
            <li>{title_page}</li>								
        </ul>
    </div>
</div>			
<div class="container holder">
    <div class="grid-cols">
        <div class="col50">
            <span id="msg_getpass_request_form"></span>
            <form  name="t_login" id="t_login" method="post"  onsubmit="return getBackPassword();" class="comment-form">
                <fieldset>
                    <div class="row">
                        <label for="email">Your ID#:</label>
                        <span class="text">
                            <input type="text" class="input-text" id="t_username" maxlength="50" size="10" name="t_username" value="" />
                        </span>
                    </div>
                    <div class="row">
                        <label for="subject">Your email:</label>
                        <span class="text">
                            <input type="text" class="input-text" id="l_username" maxlength="50" size="10" name="l_username" value="" />
                        </span>
                    </div>
                    <div class="row">
                        <span class="submit">
                            Get Password
                            <input type="submit" value="Get Password"/>
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
$(function() {
	document.getElementById("t_username").value = '';
	document.getElementById("l_username").value = '';
	
	clearUserName();
});
function clearUserName(){
	if(document.getElementById("t_username").value != ''){
		onkeydownInputText(document.getElementById("t_username"));	
	}
	if(document.getElementById("l_username").value != ''){
		onkeydownInputText(document.getElementById("l_username"));	
	}
	setTimeout(function () {
		clearUserName();
	}, 70);	
}
function onblurInputText(o){
	switch(o.id){
	case 'l_username':
		hideTooltipRequi();
		if($('#l_username').val() == ''){
			hidelabelfocus(o.id+"_label");
			return false;
		}			
		break;
	case 't_username':
		hideTooltipRequi();
		if($('#t_username').val() == ''){
			hidelabelfocus(o.id+"_label");
			return false;
		}			
		break;
	}
}
function getBackPassword()
{
	if($('#t_username').val()==''||$('#t_username').val()=='Username'){
		$('#t_username').focus();
		return false;
	}
	if($('#l_username').val()==''||$('#l_username').val()=='Enter your email'){
		$('#l_username').focus();
		return false;
	}
	msg = isValidEmail($('#l_username').val());
	if(msg!='')
	{
		$('#l_username').focus();
		return false;
	}
	$.post("index.php/getpassword/getpass",{pass:1,username:$('#t_username').val(), email:$('#l_username').val()} ,function(data)
	{
		$("#msg_getpass_request_form").fadeTo(200,0.1,function()
		{ 
		  $(this).html(data).addClass('error').fadeTo(900,1);
		});		
	});
	return false;
}
function showGetPassword(){
	var left = Math.round(truebody().clientWidth - 700)/2;
	document.getElementById("slider_getpassword").style.left = left + "px";
	$("#slider_getpassword").animate({
	  "top": "+1000px", "opacity": 1
	}, 700); 
	showLoading();
}

function HideGetPassword(){
	hiddenLoading();
	$("#slider_getpassword").animate({
	  "top": "0px", "opacity": 1
	}, 700);
	$("#msg_getpass_request_form").html('');
	$("#l_username").val('Enter your email');
}
</script>