<ul class="links col50">
	<li><a href="index.php/home">Home</a></li>
    <li><a href="index.php/about">About</a></li>
    <li><a href="index.php/events">Events</a></li>
    <li><a href="index.php/representatives/add">Enroll New</a></li>
</ul> 
<ul class="links col50">     
    <li><a href="index.php/charities">Charities</a></li>
    <li><a href="index.php/login">Login</a></li>
    <li><a href="index.php/getpassword">Forgot Password?</a></li>
    <li><a href="index.php/sitemap/mainpage">Site Map</a></li>
</ul> 
