<script type="text/javascript">
var header_link  =  
[
	['home'],
	['about'],
	['charities'],
	['events'],
	['contact'],
	['representatives/add']
];
</script>
<nav class="nav-box">
    <!-- nav -->
    <ul id="nav" class="nav">        
        <li class="active"><a href="index.php/home">Home</a></li>
        <li><a href="index.php/about">about</a></li>
        <li><a href="index.php/events">events</a></li>
        <li><a href="index.php/representatives/add">enroll new</a></li>
        <li><a href="index.php/charities">charities</a></li>
        <li><a href="index.php/contact">contacts</a></li>
    </ul>
    <select id="menu-select" class="mobile-menu">
        <option value="index.php/home">Home</option>
        <option value="index.php/about">About</option>
        <option value="index.php/events">Events</option>
        <option value="index.php/representatives/add">Enroll New</option>
        <option value="index.php/charities">Charities</option>
        <option value="index.php/contact">Contacts</option>
    </select>
</nav>