<style type="text/css">
    .block-data{
        padding:30px 0px;
        text-align:center;
        border:1px solid #DDD;
        width:100%;
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSIjZjFmMWYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTklIiBzdG9wLWNvbG9yPSIjZTFlMWUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f1f1f1 18%, #e1e1e1 19%, #f6f6f6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(18%,#f1f1f1), color-stop(19%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 18%,#e1e1e1 19%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 18%,#e1e1e1 19%,#f6f6f6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 18%,#e1e1e1 19%,#f6f6f6 100%); /* IE10+ */
        background: linear-gradient(135deg,  #ffffff 0%,#f1f1f1 18%,#e1e1e1 19%,#f6f6f6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    }
    .strong-num{
        font-size:24px;
        color:#FFAB11;	
        line-height:24px;
        font-weight:bold;
        text-shadow:0 1px 0 #FFFFFF;
    }
    .title{
        font-size:14px;
        color:#666;
        line-height:14px;	
        margin-top:10px;
        text-shadow:0 1px 0 #FFFFFF;
    }
   thead tr .td-row{
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdfdfd 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	}
	.td-row {
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 3px;
		padding-right: 3px;
		border-bottom: 1px solid #d3d3d3;
	}
</style>
<div style="clear:both; width:100%; overflow:hidden">
    <div style="clear:both; width:100%; overflow:hidden">
        <!--<span style="float:left; clear:both; font-weight:bold; text-shadow:0px 1px 1px #999; height:30px;">1.&nbsp;&nbsp;Summary</span>-->
        {show_export_button}
        <div style="width:100%; clear:both; overflow:hidden; margin-top:20px; float:left">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-right: 1px solid #DDD;">
                <tr>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {total_manufacturers}
                            </div>
                            <div class="title">
                                Manufacturers
                            </div>
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {total_products}
                            </div>
                            <div class="title">
                                Products
                            </div>
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {total_pending}
                            </div>
                            <div class="title">
                                Pending Amount
                            </div>
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {total_price}
                            </div>
                            <div class="title">
                                Settlement
                            </div>
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {total_paid}
                            </div>
                            <div class="title">
                                Paid Out
                            </div>
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {balance}
                            </div>
                            <div class="title">
                                Balance
                            </div>
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <div class="block-data">
                            <div class="strong-num">
                                {refunded}
                            </div>
                            <div class="title">
                                Refunded
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear:both; padding-top:20px; overflow:hidden; width:100%">
            <div style="width:100%; clear:both; font-weight:bold; color:#6A3D97" align="center">Orders</div>
            <div style="width:100%; clear:both">{orders_statitic}</div>
        </div>
    </div>
     
        <div style="width:100%  ;clear:both;; overflow:hidden;margin-right:20px;padding-top:20px;">
            <span style="float:left; clear:both; font-weight:bold; text-shadow:0px 1px 1px #999; height:30px;">1.&nbsp;&nbsp;Chart</span>
            <div style="clear:both; overflow:hidden; width:100%">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="left" valign="middle" id="selected_by_value" width="150px"><!--200-->
                        </td>
                        <td align="center" valign="middle">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td align="left" valign="middle">
                                        <div style="float:left; width:11px; height:11px; background:#09F; margin-top:2px;"></div>
                                        <div style="float:left; padding-left:5px">Pending</div>
                                        <div style="float:left; width:11px; height:11px; background:#00A651; margin-top:2px; margin-left:20px"></div>
                                        <div style="float:left; padding-left:5px">Settlement</div>
                                        <div style="float:left; width:11px; height:11px; background:#00A651; margin-top:2px; margin-left:20px"></div>
                                        <div style="float:left; padding-left:5px">Paid</div>
                                        <div style="float:left; width:11px; height:11px; background:#FF0000; margin-top:2px; margin-left:20px"></div>
                                        <div style="float:left; padding-left:5px">Refunded</div>
                                        <div style="float:left; width:11px; height:11px; background:#ad5a07; margin-top:2px; margin-left:20px"></div>
                                        <div style="float:left; padding-left:5px">Balance</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="right" valign="middle" width="200px">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td align="left" valign="middle" style="padding-right:10px"><b>Selected by:</b></td>
                                    <td align="left" valign="middle">
                                        <select id="selected_by" style="width:80px;" onchange="loadSelectBy()">
                                            <option value="0" selected="selected">Month</option>
                                            <option value="1">Year</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:100%; min-height:210px; padding-top:5px" id="sales_chart" align="left"></div>
        </div>
    <div style="clear:both; width:100%; overflow:hidden; padding-top:30px">
        <div style="float:left; clear:both; font-weight:bold; text-shadow:0px 1px 1px #999; height:20px">2.&nbsp;&nbsp;Manufacturers Listing</div>
        <div id="pager" style="min-height:20px; width:100%; clear:both" align="right"></div>
        <div style="width:100%; clear:both;" id="manufacturers_listing" align="left"></div>
    </div>
</div>
<script type="text/javascript">
    var dataCharts = [];
    var arr_years = [];
    var year_selected = 0;

    function Export_to_Excel(){
        calculate_export();
        $.post("index.php/report/manufacturer/exportManufacturers",{
            type:'xls',
            year:year_selected,
            month_report:month_report,
            year_report:year_report
        },function(data){
              
            if(data.error == 'error'){
                alert(data.error);	
            }else{
                window.open("index.php/download/get_file/Manufacturers_Report.xls");
            }
        },"json");
        return false;	
    }

    var month_report = [];
    var year_report = [];
    function calculate_export(){
        month_report = [];
        year_report = [];
	
        for(var i = 1; i < 13; i++){
            var obj = new Object();
            obj.year = year_selected;
            obj.month = i;
            obj.YTD_earnings = 0;
            obj.paid = 0;
            obj.balance = 0;
            obj.refund = 0;
            obj.pending = 0;
            month_report[month_report.length] = obj;	
        }
        for(var i = 0; i < month_report.length; i++){
            if(month_report[i].year > year_current) continue;
            else if(month_report[i].year == year_current){
                if(month_report[i].month > month_current) continue;	
            }
            var total_earning = 0;
            var total_paid = 0;
            var Balance = 0;
            var total_pending = 0;
            for(var j = 0; j < dataCharts.length; j++){
                if(dataCharts[j].year < month_report[i].year){
                    total_earning += dataCharts[j].YTD_earnings;
                    total_paid += dataCharts[j].paid;
                    total_pending += dataCharts[j].pending;
                }else if(dataCharts[j].year == month_report[i].year && dataCharts[j].month <= month_report[i].month){
                    total_earning += dataCharts[j].YTD_earnings;
                    total_paid += dataCharts[j].paid;
                    total_pending +=dataCharts[j].pending;
                }
                if(dataCharts[j].year == month_report[i].year && dataCharts[j].month == month_report[i].month){
                    month_report[i].YTD_earnings += dataCharts[j].YTD_earnings;
                    month_report[i].paid += dataCharts[j].paid;
                    month_report[i].refund += dataCharts[j].refund;
                    month_report[i].pending += dataCharts[j].pending;
                    Balance = total_earning - dataCharts[j].YTD_earnings - dataCharts[j].paid;
                    month_report[i].balance = Balance;
                }
            }
        }

        for(var i = year_selected-11; i < year_selected+1; i++){
            var obj = new Object();
            obj.year = i;
            obj.YTD_earnings = 0;
            obj.paid = 0;
            obj.balance = 0;
            obj.refund = 0;
            obj.pending = 0;
            year_report[year_report.length] = obj;	
        }
        for(var i = 0; i < year_report.length; i++){
            if(year_report[i].year > year_current) continue;
            var total_earning = 0;
            var total_paid = 0;
            var Balance = 0;
            var total_pending = 0;
            for(var j = 0; j < dataCharts.length; j++){
                if(dataCharts[j].year <= year_report[i].year){
                    total_earning += dataCharts[j].YTD_earnings;
                    total_paid += dataCharts[j].paid;
                    total_pending += dataCharts[j].pending;
                }
                if(dataCharts[j].year == year_report[i].year){
                    year_report[i].YTD_earnings += dataCharts[j].YTD_earnings;
                    year_report[i].paid += dataCharts[j].paid;
                    year_report[i].refund += dataCharts[j].refund;
                    year_report[i].pending += dataCharts[j].pending;
                    Balance = total_earning - dataCharts[j].YTD_earnings - dataCharts[j].paid;
                    year_report[i].balance = Balance;
                }
            }
        }	

    }

    function loadDataAffiliates(page){
        if(page == null || page == 0) page = 1;
        data_clients = [];
        ShowLoadingObj({obj:document.getElementById("manufacturers_listing"), image:"Loader-FloGradient16x16x.gif"});
        $.post("index.php/report/manufacturer", {
            loadDataAffiliates:'yes',
            page:page
        },function(data){
            HideLoadingObj(document.getElementById("manufacturers_listing"));
            var maxlength = 0;
            if(typeof(data) == 'object'){
                data_clients = data.data;
                maxlength = data.maxlength;
            }
            loadClients(page, maxlength);
        }, "json");
        return false;
    }
    function loadDataChart(){
        arr_data_chart = [];
        arr_years = [];
        ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
        $.post("index.php/report/manufacturer", {
            loadDataChart:'yes'
        },function(data){
            HideLoadingObj(document.getElementById("content_load"));
            if(typeof(data) == 'object'){
                arr_years = data.objYear;
                dataCharts = data.chart;
            }
            loadSelectBy();
        }, "json");
        return false;
    }
    function loadSelectBy(){
        var str = '';
        if(year_selected == 0){
            if(arr_years.length > 0) year_selected = arr_years[arr_years.length-1];
        }
        var select_by_value = parseInt(document.getElementById("selected_by").value, 10);
        if(year_selected > 0){
            loadSelectedByValue(select_by_value);
            LoadSalesChart(select_by_value);	
        }
    }
    function nextYear(){
        year_selected += 1;
        loadSelectBy();
    }
    function previousYear(){
        year_selected -= 1;
        loadSelectBy();
    }
    function loadSelectedByValue(select_by_value){  
        var str = '';
        if(year_selected > 0){
            if(select_by_value == 0){
                var arrow_left = '<img src="../images/arrow-left.png" border="0" />';
                var arrow_right = '<img src="../images/arrow-right.png" border="0" />';
                if(arr_years.length > 0){
                    if(year_selected > arr_years[0]) arrow_left = '<img src="../images/arrow-left.png" border="0" style="cursor:pointer" onclick="previousYear()" />';
                    if(year_selected < arr_years[arr_years.length-1]) arrow_right = '<img src="../images/arrow-right.png" border="0" style="cursor:pointer" onclick="nextYear()" />';
                }
                str += '<table cellpadding="0" cellspacing="0" border="0">';
                str += '<tr>';
                str += '<td align="left" valign="middle" style="font-weight:bold; padding-right:5px">Year '+year_selected+'</td>';			
                str += '<td align="left" valign="middle" style="padding-right:4px">'+arrow_left+'</td>';
                str += '<td align="left" valign="middle">'+arrow_right+'</td>';
                str += '</tr>';
                str += '</table>';	
            }else if(select_by_value == 1){
                var arrow_left = '<img src="../images/arrow-left.png" border="0" />';
                var arrow_right = '<img src="../images/arrow-right.png" border="0" />';
                if(arr_years.length > 0){
                    if(year_selected-11 > arr_years[0]) arrow_left = '<img src="../images/arrow-left.png" border="0" style="cursor:pointer" onclick="previousYear()" />';
                    if(year_selected < arr_years[arr_years.length-1]) arrow_right = '<img src="../images/arrow-right.png" border="0" style="cursor:pointer" onclick="nextYear()" />';
                }
                str += '<table cellpadding="0" cellspacing="0" border="0">';
                str += '<tr>';
                str += '<td align="left" valign="middle" style="font-weight:bold; padding-right:5px">From '+(year_selected-11)+' To '+year_selected+'</td>';
                str += '<td align="left" valign="middle" style="padding-right:4px">'+arrow_left+'</td>';
                str += '<td align="left" valign="middle">'+arrow_right+'</td>';
                str += '</tr>';
                str += '</table>';		
            }		
        }
        $("#selected_by_value").empty().append(str);
    }

    {load_month_current}
    {load_year_current}
    function LoadSalesChart(select_by_value){
        var month_name = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var arr_data_chart = [];
        if(select_by_value == 0){
            for(var i = 1; i < 13; i++){
                var obj = new Object();
                obj.year = year_selected;
                obj.month = i;
                obj.YTD_earnings = 0;
                obj.paid = 0;
                obj.balance = 0;
                obj.refund = 0;
                obj.pending = 0;
                arr_data_chart[arr_data_chart.length] = obj;	
            }
            for(var i = 0; i < arr_data_chart.length; i++){
                if(arr_data_chart[i].year > year_current) continue;
                else if(arr_data_chart[i].year == year_current){
                    if(arr_data_chart[i].month > month_current) continue;	
                }
                var total_earning = 0;
                var total_paid = 0;
                var Balance = 0;
                var total_pending = 0;
                for(var j = 0; j < dataCharts.length; j++){
                    if(dataCharts[j].year < arr_data_chart[i].year){
                        total_earning += dataCharts[j].YTD_earnings;
                        total_paid += dataCharts[j].paid;
                        total_pending += dataCharts[j].pending;
                    }else if(dataCharts[j].year == arr_data_chart[i].year && dataCharts[j].month <= arr_data_chart[i].month){
                        total_earning += dataCharts[j].YTD_earnings;
                        total_paid += dataCharts[j].paid;
                        total_pending += dataCharts[j].pending;
                    }
                    if(dataCharts[j].year == arr_data_chart[i].year && dataCharts[j].month == arr_data_chart[i].month){
                        arr_data_chart[i].YTD_earnings += dataCharts[j].YTD_earnings;
                        arr_data_chart[i].paid += dataCharts[j].paid;
                        arr_data_chart[i].refund += dataCharts[j].refund;
                        arr_data_chart[i].pending += dataCharts[j].pending;
                        Balance += dataCharts[j].YTD_earnings - dataCharts[j].paid;
                        if(Balance < 0) Balance = 0;
                        arr_data_chart[i].balance = Balance;
                    }
                }
            }
        }else{
            for(var i = year_selected-11; i < year_selected+1; i++){
                var obj = new Object();
                obj.year = i;
                obj.YTD_earnings = 0;
                obj.paid = 0;
                obj.balance = 0;
                obj.refund = 0;
                obj.pending = 0;
                arr_data_chart[arr_data_chart.length] = obj;	
            }
            for(var i = 0; i < arr_data_chart.length; i++){
                if(arr_data_chart[i].year > year_current) continue;
                var total_earning = 0;
                var total_paid = 0;
                var Balance = 0;
                var total_pending = 0;
                for(var j = 0; j < dataCharts.length; j++){
                    if(dataCharts[j].year <= arr_data_chart[i].year){
                        total_earning += dataCharts[j].YTD_earnings;
                        total_paid += dataCharts[j].paid;	
                        total_pending += dataCharts[j].pending;
                    }
                    if(dataCharts[j].year == arr_data_chart[i].year){
                        arr_data_chart[i].YTD_earnings += dataCharts[j].YTD_earnings;
                        arr_data_chart[i].paid += dataCharts[j].paid;
                        arr_data_chart[i].refund += dataCharts[j].refund;
                        arr_data_chart[i].pending += dataCharts[j].pending;
                        Balance += dataCharts[j].YTD_earnings - dataCharts[j].paid;
                        if(Balance < 0) Balance = 0;
                        arr_data_chart[i].balance = Balance;
                    }
                }
            }	
        }
        var str = '';
        if(arr_data_chart.length > 0){
		
            str += '<table cellpadding="0" cellspacing="0" border="0"  width="100%" class="table-per manu" style="border:1px solid #D3D3D3">';
            if(select_by_value == 0){
                str += '<thead><tr><td align="left" class="td-row" width="76px" style="border-right:1px solid #D3D3D3;">&nbsp;</td>';
                for(var i = 0; i < 6; i++){
                    if(arr_data_chart[i].month == month_current){
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; color:#FFAF0F; font-weight:bold">'+month_name[i]+'</td>';		
                    }else{
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; font-weight:bold">'+month_name[i]+'</td>';	
                    }	
                }
                str += '</tr></thead>';
			
                var YTD_earnings_col = '';
                var paid_col = '';
                var balance_col = '';
                var refund_col = '';
                var pending_col = '';
                for(var i = 0; i < 6; i++){
                    pending_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED; color:#09f;">$'+formatAsMoney(arr_data_chart[i].pending, 2)+'</td>';
                    YTD_earnings_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED; color:#6F13CC;">$'+formatAsMoney(arr_data_chart[i].YTD_earnings, 2)+'</td>';
                    paid_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED;color:#00a651;">$'+formatAsMoney(arr_data_chart[i].paid, 2)+'</td>';
                    balance_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED;color:#ad5a07;">$'+formatAsMoney(arr_data_chart[i].balance, 2)+'</td>';
                    refund_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED;color:#FF0000;">$'+formatAsMoney(arr_data_chart[i].refund, 2)+'</td>';
                }
                str += '<tr><td class="td-row" align="left" style="color:#09f;border-bottom:1px solid #EDEDED;font-weight:bold">Pending Amount</td>' + pending_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#6F13CC;border-bottom:1px solid #EDEDED;font-weight:bold">Settlement</td>' + YTD_earnings_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#00a651;border-bottom:1px solid #EDEDED;font-weight:bold">Paid</td>' + paid_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#FF0000;border-bottom:1px solid #EDEDED;font-weight:bold">Refunded</td>' + refund_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#ad5a07;border-bottom:1px solid #EDEDED;font-weight:bold">Balance</td>' + balance_col + '</tr>';
			
                str += '<thead><tr><td align="left" class="td-row" style="border-right:1px solid #D3D3D3; background-color:#CD87FF; color:#6F13CC;">&nbsp;</td>';
                for(var i = 6; i < 12; i++){
                    if(arr_data_chart[i].month == month_current){
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; color:#FFAF0F; font-weight:bold">'+month_name[i]+'</td>';	
                    }else{
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; font-weight:bold">'+month_name[i]+'</td>';	
                    }	
                }
                str += '</tr></thead>';
			
                var YTD_earnings_col = '';
                var paid_col = '';
                var balance_col = '';
                var refund_col = '';
                var pending_col = '';
                for(var i = 6; i < 12; i++){
                    pending_col += '<td align="center" class="td-row" style="color:#09F;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].pending, 2)+'</td>';
                    YTD_earnings_col += '<td align="center" class="td-row" style="color:#6F13CC;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].YTD_earnings, 2)+'</td>';
                    paid_col += '<td align="center" class="td-row" style="color:#00a651;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].paid, 2)+'</td>';
                    refund_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED;color:#FF0000;">$'+formatAsMoney(arr_data_chart[i].refund, 2)+'</td>';
                    balance_col += '<td align="center" class="td-row" style="color:#ad5a07;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].balance, 2)+'</td>';
                }
                str += '<tr><td class="td-row" align="left" style="color:#09f;border-bottom:1px solid #EDEDED; font-weight:bold">Pending Amount</td>' + pending_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#6F13CC;border-bottom:1px solid #EDEDED; font-weight:bold">Settlement</td>' + YTD_earnings_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#00a651;border-bottom:1px solid #EDEDED;font-weight:bold">Paid</td>' + paid_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#FF0000;border-bottom:1px solid #EDEDED;font-weight:bold">Refunded</td>' + refund_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#ad5a07;border-bottom:1px solid #EDEDED;font-weight:bold">Balance</td>' + balance_col + '</tr>';
            }else if(select_by_value == 1){
                str += '<thead><tr><td align="left" width="76px" class="td-row" style="border-right:1px solid #D3D3D3; background-color:#CD87FF; color:#6F13CC;">&nbsp;</td>';
                for(var i = 0; i < 6; i++){
                    if(arr_data_chart[i].year == year_current){
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; color:#FFAF0F; font-weight:bold">'+arr_data_chart[i].year+'</td>';	
                    }else{
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; font-weight:bold">'+arr_data_chart[i].year+'</td>';	
                    }	
                }
                str += '</tr></thead>';	
                var YTD_earnings_col = '';
                var paid_col = '';
                var balance_col = '';
                var refund_col = '';
                var pending_col = '';
                for(var i = 0; i < 6; i++){
                    pending_col += '<td align="center" style="color:#09F;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].pending, 2)+'</td>';
                    YTD_earnings_col += '<td align="center" style="color:#6F13CC;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].YTD_earnings, 2)+'</td>';
                    paid_col += '<td align="center" style="color:#00a651;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].paid, 2)+'</td>';
                    balance_col += '<td align="center" style="color:#ad5a07;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].balance, 2)+'</td>';
                    refund_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED;color:#FF0000;">$'+formatAsMoney(arr_data_chart[i].refund, 2)+'</td>';
                }
                str += '<tr><td class="td-row" align="left" style="color:#09f;border-bottom:1px solid #EDEDED; font-weight:bold">Pending Amount</td>' + pending_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#6F13CC;border-bottom:1px solid #EDEDED; font-weight:bold">Settlement</td>' + YTD_earnings_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#00a651;border-bottom:1px solid #EDEDED;font-weight:bold">Paid</td>' + paid_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#FF0000;border-bottom:1px solid #EDEDED;font-weight:bold">Refunded</td>' + refund_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#ad5a07;border-bottom:1px solid #EDEDED;font-weight:bold">Balance</td>' + balance_col + '</tr>';
			
                str += '<thead><tr><td align="left" width="76px" class="td-row" style="border-right:1px solid #D3D3D3; background-color:#CD87FF; color:#6F13CC;">&nbsp;</td>';
                for(var i = 6; i < 12; i++){
                    if(arr_data_chart[i].year == year_current){
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; color:#FFAF0F; font-weight:bold">'+arr_data_chart[i].year+'</td>';	
                    }else{
                        str += '<td width="76px"  align="center" class="td-row" valign="middle" style="border-right:1px solid #D3D3D3; font-weight:bold">'+arr_data_chart[i].year+'</td>';	
                    }	
                }
                str += '</tr></thead>';	
                var YTD_earnings_col = '';
                var paid_col = '';
                var balance_col = '';
                var refund_col = '';
                var pending_col = '';
                for(var i = 6; i < 12; i++){
                    pending_col += '<td align="center" style="color:#09F;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].pending, 2)+'</td>';
                    YTD_earnings_col += '<td align="center" style="color:#6F13CC;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].YTD_earnings, 2)+'</td>';
                    paid_col += '<td align="center" style="color:#00a651;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].paid, 2)+'</td>';
                    balance_col += '<td align="center" style="color:#ad5a07;border-bottom:1px solid #EDEDED;">$'+formatAsMoney(arr_data_chart[i].balance, 2)+'</td>';
                    refund_col += '<td align="center" class="td-row" style="border-bottom:1px solid #EDEDED;color:#FF0000;">$'+formatAsMoney(arr_data_chart[i].refund, 2)+'</td>';
                }
                str += '<tr><td class="td-row" align="left" style="color:#09f;border-bottom:1px solid #EDEDED; font-weight:bold">Pending Amount</td>' + pending_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#6F13CC;border-bottom:1px solid #EDEDED; font-weight:bold">Settlement</td>' + YTD_earnings_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#00a651;border-bottom:1px solid #EDEDED;font-weight:bold">Paid</td>' + paid_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#FF0000;border-bottom:1px solid #EDEDED;font-weight:bold">Refunded</td>' + refund_col + '</tr>';
                str += '<tr><td class="td-row" align="left" style="color:#ad5a07;border-bottom:1px solid #EDEDED;font-weight:bold">Balance</td>' + balance_col + '</tr>';
            }		
            str += '</table>';
        }	
        $("#sales_chart").empty().append(str);
    }
    //----------------- Affiliate Listing --------------------//
    var data_clients = [];
    var header_first 	= ['Legal Business Name/ ID', 'Pending Amount', 'Settlement', 'Refunded', 'Paid', 'Balance'];
    var header_last 	= [
        {view:'Legal Business Name/ ID', sorts:['legal_business_name','legal_business_id']},
        {view:'Pending Amount', sorts:['pending']},
        {view:'Settlement', sorts:['earnings']},
        {view:'Refunded', sorts:['returned']},
        {view:'Paid', sorts:['paid']},
        {view:'Balance', sorts:['balance']}
    ];
    var columeb = null;
    var sort_list = '';
    var pager_number = 1;
    function delete_Client(client_id){
        var bool = confirm("Would you like to remove this account?");
        if(bool == true){
            ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
            $.post("index.php?q=user/retailers", {
                delete_client:'yes',
                cid:client_id
            },function(data){
                data_clients = [];
                HideLoadingObj(document.getElementById("content_load"));
                if(typeof(data) == 'object'){
                    data_clients = data;
                }
                clients_select = 0;
                loadClients();
            }, "json");
        }
    }
    function loadClients(page, maxlength){
        if(page == 0 || page == null) page = 1;
	
        var total_row = 20;
        var str_content = '';
        var length_data = data_clients.length;
        str_content += '<table class="v3">';
        str_content += '	<thead>';
        str_content += '		<tr>';
        str_content += '			<th align="left" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(0, '+page+', '+total_row+')">'+header_last[0].view+'</th>';
        str_content += '			<th align="right" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(1, '+page+', '+total_row+')">'+header_last[1].view+'</th>';
        str_content += '			<th align="right" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(2, '+page+', '+total_row+')">'+header_last[2].view+'</th>';
        str_content += '			<th align="right" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(3, '+page+', '+total_row+')">'+header_last[3].view+'</th>';
        str_content += '			<th align="right" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(4, '+page+', '+total_row+')">'+header_last[4].view+'</th>';
        str_content += '			<th align="right" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(5, '+page+', '+total_row+')">'+header_last[5].view+'</th>';
        str_content += '		</tr>';
        str_content += '	</thead>';
        if(length_data > 0){
            str_content += '	<tbody>';
            for(var i = 0; i < length_data; i++){
                var obj = data_clients[i];
                str_content += '		<tr class="tr-row">';
                str_content += '			<td align="left" valign="top" class="td-row"><a href="index.php/report/manufacturer/details/'+obj.legal_business_id+'">'+ConvertToHTML(obj.legal_business_name)+'</a><br><i style="color:#999">'+ConvertToHTML(obj.legal_business_id)+'</i></td>';
                str_content += '			<td align="right" valign="top" class="td-row"><font style="color:#09F">$'+formatAsMoney(obj.pending)+'</font></td>';
                str_content += '			<td align="right" valign="top" class="td-row"><font style="color:#6F13CC">$'+formatAsMoney(obj.earnings)+'</font></td>';
                str_content += '			<td align="right" valign="top" class="td-row"><font style="color:#FF0000">$('+formatAsMoney(obj.returned)+')</font></td>';
                str_content += '			<td align="right" valign="top" class="td-row"><font style="color:#00A651">$'+formatAsMoney(obj.paid)+'</font></td>';
                str_content += '			<td align="right" valign="top" class="td-row"><font style="color:#AD5A07">'+showUSAMoney(obj.balance)+'</font></td>';
                str_content += '		</tr>';
            }
            str_content += '	</tbody>';
        }
        str_content += '</table>';
        pagerAjax(total_row, maxlength, page, 'loadDataAffiliates', ['pager']);
        $("#manufacturers_listing").empty().append(str_content);
        //	$('.table-per').fixedtableheader();  
    }
    function filtList_adminclient(colum, page, maxlength){
        for(var i = 0; i < header_last.length; i++){
            header_last[i].view = header_first[i];
        }
        if(colum != columeb){
            columeb = colum;
            sort_list = 'asc';
            header_last[colum].view = header_first[colum]+'&nbsp;<img src="../images/arrow-asc.png" border="0" align="absmiddle"/>';
        }else{
            if(sort_list == 'desc'){
                sort_list = 'asc';
                header_last[colum].view = header_first[colum]+'&nbsp;<img src="../images/arrow-asc.png" border="0" align="absmiddle"/>';
            }
            else if(sort_list == 'asc'){
                sort_list = 'desc';
                header_last[colum].view = header_first[colum]+'&nbsp;<img src="../images/arrow-desc.png" border="0" align="absmiddle"/>';
            }
        }
        var sorts = header_last[colum].sorts;
        var max_index = data_clients.length;
        if(sort_list == 'desc'){
            for(var i = 0; i < max_index-1; i++){
                for(var j = i+1; j < max_index; j++){
                    var proty_i = '';
                    var proty_j = '';
                    for(var k = 0; k < sorts.length; k++){
                        proty_i += data_clients[i][sorts[k]];
                        proty_j += data_clients[j][sorts[k]];		
                    }
                    if(proty_i < proty_j){
                        var tam = data_clients[i];
                        data_clients[i] = data_clients[j];
                        data_clients[j] = tam;
                    }
                }		
            }
        }else if(sort_list == 'asc'){
            for(var i = 0; i < max_index-1; i++){
                for(var j = i+1; j < max_index; j++){
                    var proty_i = '';
                    var proty_j = '';
                    for(var k = 0; k < sorts.length; k++){
                        proty_i += data_clients[i][sorts[k]];
                        proty_j += data_clients[j][sorts[k]];		
                    }
                    if(proty_i > proty_j){
                        var tam = data_clients[i];
                        data_clients[i] = data_clients[j];
                        data_clients[j] = tam;
                    }
                }		
            }
        }
        loadClients(page, maxlength);
        return ;
    }
    
    function selectRow(){
        $("li").hover(function(){
            var text = $(this).text();
            if(text.indexOf("Pending") != -1){
                $(".manu tr:nth-child(1)").css('background','#ddd');
            }else if(text.indexOf("Settlement") != -1){
                $(".manu tr:nth-child(2)").css('background','#ddd');
            }else if(text.indexOf("Paid") != -1){
                $(".manu tr:nth-child(3)").css('background','#ddd');
            }else if(text.indexOf("Refunded") != -1){
                $(".manu tr:nth-child(4)").css('background','#ddd');
            }else if(text.indexOf("Balance") != -1){
                $(".manu tr:nth-child(5)").css('background','#ddd');
            }
        },function(){
            $(".manu tr:nth-child(1)").css('background','');
            $(".manu tr:nth-child(2)").css('background','');
            $(".manu tr:nth-child(3)").css('background','');
            $(".manu tr:nth-child(4)").css('background','');
            $(".manu tr:nth-child(5)").css('background','');
           
        });
    }
    
    
    $(function() {
        loadDataChart();
        loadDataAffiliates(1);
        selectRow();
    });

</script>