<div class="box_solar">
    <div style="clear:both; padding-bottom:20px; width:100%; overflow:hidden">
        {addnewbt}
    </div>
    <div id="pager" style="min-height:20px; width:100%" align="right"></div>
    <div style="clear:both; text-align:center; overflow:hidden; width:100%" id="clients_list"></div>
</div>
<script language="javascript">
var data_Objects = [];
var header_first 	= ['Name', 'Product Categories', 'Manufacturers', 'Markup percentage', 'Date modify'];
var header_last 	= ['Name', 'Product Categories', 'Manufacturers', 'Markup percentage', 'Date modify'];
var columeb = null;
var sort_list = '';
var pager_number = 1;
var clients_select = 0;
function reset_headerAdminClient(){
	for(var i = 0; i < header_last.length; i++){
		header_last[i] = header_first[i];
	}
}
function showObjectListings(page){
	if(page == 0) page = 1;
	
	var total_row = 20;
	var str_content = '';
	var length_data = data_Objects.length;
	var min_index = 0;
	var max_index = 0;	
	
	str_content += '<table cellpadding="0" cellspacing="0" border="0" width="100%" class="v3">';
	str_content += '	<thead>';
	str_content += '		<tr>';
	str_content += '			<th align="left" valign="middle" class="th-per">#</th>';
	str_content += '			<th align="left" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(0, '+page+', '+total_row+')">'+header_last[0]+'</th>';
	str_content += '			<th align="left" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(1, '+page+', '+total_row+')">'+header_last[1]+'</th>';
	str_content += '			<th align="left" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(2, '+page+', '+total_row+')">'+header_last[2]+'</th>';
	str_content += '			<th align="left" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(3, '+page+', '+total_row+')">'+header_last[3]+'</th>';
	str_content += '			<th align="left" valign="middle" class="th-per" style="cursor:pointer;" onclick="filtList_adminclient(4, '+page+', '+total_row+')">'+header_last[4]+'</th>';
	str_content += '			<th align="left" valign="middle" class="th-per">&nbsp;</th>';
	str_content += '		</tr>';
	str_content += '	</thead>';

	if(length_data > 0){
		var num = page*total_row;
		min_index = num - total_row;
		max_index = num;		
		if(length_data < num) max_index = length_data;

		str_content += '	<tbody>';
		for(var i = min_index; i < max_index; i++){
			var obj = data_Objects[i];
			
			var button = '';
			if(obj.modify == 'yes'){
				button += '<img src="../images/b_edit.png" border="0" style="cursor:pointer" onclick="Edit_objects(\''+obj.mkey+'\')" />'; 
			}
			
			if(obj.del == 'yes'){
				if(button != ''){
					button += '&nbsp;&nbsp;';	
				}
				button +=  '<img src="../images/b_drop.png" border="0" style="cursor:pointer" onclick="delete_obj(\''+obj.mkey+'\')" />'; 
			}
			
			str_content += '		<tr class="tr-row">';
			str_content += '			<td align="left" valign="middle" class="td-row">'+format_dem(9999, i+1)+'</td>';
			str_content += '			<td align="left" valign="middle" class="td-row">'+ConvertToHTML(obj.name)+'</td>';
			str_content += '			<td align="left" valign="middle" class="td-row">'+ConvertToHTML(obj.category)+'</td>';
			str_content += '			<td align="left" valign="middle" class="td-row">'+ConvertToHTML(obj.manufacturer)+'</td>';
			str_content += '			<td align="left" valign="middle" class="td-row">'+obj.markup_percentage+'%</td>';
			str_content += '			<td align="left" valign="middle" class="td-row">'+obj.date_update_str+'</td>';
			str_content += '			<td align="right" valign="middle" class="td-row">'+button+'</td>';
			str_content += '		</tr>';
			
		}
		str_content += '	</tbody>';
		
	}
	str_content += '</table>';
	pager_new(total_row, data_Objects, page, 'showObjectListings', ['pager']);
	$("#clients_list").empty().append(str_content);
//	$('.v3').fixedtableheader();  
	
}
function filtList_adminclient(colum, page, total_row){
	// Xac dinh Sort type
	reset_headerAdminClient();
	if(colum != columeb){
		columeb = colum;
		sort_list = 'asc';
		header_last[colum] = header_first[colum]+'&nbsp;<img src="../images/arrow-asc.png" border="0" align="absmiddle"/>';
	}else{
		if(sort_list == 'desc'){
			sort_list = 'asc';
			header_last[colum] = header_first[colum]+'&nbsp;<img src="../images/arrow-asc.png" border="0" align="absmiddle"/>';
		}
		else if(sort_list == 'asc'){
			sort_list = 'desc';
			header_last[colum] = header_first[colum]+'&nbsp;<img src="../images/arrow-desc.png" border="0" align="absmiddle"/>';
		}
	}
	var row_sort = data_Objects.length;
	if(page == 0) page = 1;

	if(row_sort > 0){
		var num = page*total_row;
		var min_index = num - total_row;
		var max_index = num;		
		if(row_sort < num) max_index = row_sort;
	
		if(colum == 0){
			if(sort_list == 'desc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if(data_Objects[i].name < data_Objects[j].name){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}else if(sort_list == 'asc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if(data_Objects[i].name > data_Objects[j].name){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}	
		}else if(colum == 1){
			if(sort_list == 'desc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if((data_Objects[i].category) < (data_Objects[j].category)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}else if(sort_list == 'asc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if((data_Objects[i].category) > (data_Objects[j].category)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}			
		}else if(colum == 2){
			if(sort_list == 'desc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if((data_Objects[i].manufacturer) < (data_Objects[j].manufacturer)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}else if(sort_list == 'asc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if((data_Objects[i].manufacturer) > (data_Objects[j].manufacturer)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}			
		}else if(colum == 3){
			if(sort_list == 'desc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if(parseFloat(data_Objects[i].markup_percentage) < parseFloat(data_Objects[j].markup_percentage)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}else if(sort_list == 'asc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if(parseFloat(data_Objects[i].markup_percentage) > parseFloat(data_Objects[j].markup_percentage)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}			
		}else if(colum == 4){
			if(sort_list == 'desc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if(parseInt(data_Objects[i].date_update) < parseInt(data_Objects[j].date_update)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}else if(sort_list == 'asc'){
				for(var i = min_index; i < max_index-1; i++){
					for(var j = i+1; j < max_index; j++){
						if(parseInt(data_Objects[i].date_update) > parseInt(data_Objects[j].date_update)){
							var tam = data_Objects[i];
							data_Objects[i] = data_Objects[j];
							data_Objects[j] = tam;
						}
					}		
				}
			}			
		}
	}
	showObjectListings(page);
}
function loadObjects(){
	data_Objects = [];
	ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
	$.post("index.php/store/markup", {
		loadObj:'yes'
	},function(data){
		HideLoadingObj(document.getElementById("content_load"));
		if(typeof(data) == 'object'){
			data_Objects = data;
		}
		showObjectListings(1);
	}, "json");
	return false;
}
function Edit_objects(key){
	window.location = 'index.php/store/markup/edit/'+key;
	return false;
}
function AddNewObject(){
	window.location = 'index.php/store/markup/add';
	return false;
}
function delete_obj(key){
	if(confirm(" Are you sure you want to delete this markup?")==false) return false;
	delete_obj__(key);
}
function delete_obj__(key){
	ShowLoadingObj({obj:document.getElementById("content_popup"), image:"Loader-FloGradient16x16x.gif"});
	$.post("index.php/store/markup/delete", {
		key:key
	},function(data){
		closeBox('box_popup');
		data_Objects = [];
		HideLoadingObj(document.getElementById("content_popup"));
		if(typeof(data) == 'object'){
			data_Objects = data;
		}
		clients_select = 0;
		showObjectListings(1);
	}, "json");
}
$(function() {
	loadObjects(); 
	$( "#box_popup" ).draggable({ handle: ".modal-hd" });
	if(document.getElementById("closebox")){
		document.getElementById("closebox").onclick = function(event){
			closeBox("box_popup");
		}	
	} 
});
</script>