<style>
.sub_menu_tr td{
	border-bottom:1px #BABABA dotted;
	padding-bottom:10px; 
	padding-top:10px;
	}
.submenu_des{
	padding-top:3px;}
.submenu_titlen{
	font-size:14px;
	text-decoration:none; color:#F7961E; font-weight:bold;
	font: 300 24px/36px 'Oswald',Arial,Helvetica,sans-serif;
	}
</style>  
<div class="content-panel" style="margin-bottom:0px;">
    <div class="page-title holder">
        <h2>{title_page}</h2>
        <ul class="breadcrumbs">
            <li><a href="javascript:goHome();">Home</a></li>
            <li>/</li>
            <li>{title_page}</li>								
        </ul>
    </div>
</div>
<div class="main-container holder" style="margin-bottom:20px;">
    <table cellpadding="0" cellspacing="0"  width="100%">
        <tr class="sub_menu_tr">
            <td width="90px" valign="middle">
                <img src="../images/submenu_icons/Profile.png" alt="profile icons" title="profile icons" style="vertical-align:middle; margin-top:5px;"> 
            </td>
            <td valign="middle">
                <div>
                    <a href="index.php/user/myaccount" class = "submenu_titlen">My Profile</a>
                </div>
                <div class="submenu_des">
                This is where to store your personal information. Also store the information on your account too. You can change the information here.
                </div>
            </td>
        </tr>
        <tr class="sub_menu_tr">
            <td width="90px" valign="middle">
                <img src="../images/submenu_icons/commissions.gif" alt="profile icons" title="profile icons"  style="vertical-align:middle; "> 
            </td>
            <td valign="middle">
                <div>
                    <a href="index.php/representatives/reports" class = "submenu_titlen">My Sponsor Tree & Commissions</a>
                </div>
                <div class="submenu_des">
                
                </div>
            </td>
        </tr>
        <tr class="sub_menu_tr">
            <td width="90px" valign="middle">
                <img src="../images/submenu_icons/wallet.png" alt="profile icons" title="profile icons"  style="vertical-align:middle;"> 
            </td>
            <td valign="middle">
                <div>
                    <a href="index.php/user/hyperwallet" class = "submenu_titlen">My Wallet</a>
                </div>
                <div class="submenu_des">
                
                </div>
            </td>
        </tr>
    </table>
</div>