<ul class="links col33">
	<li><a href="index.php/home">Home</a></li>
    <li><a href="index.php/about">About</a></li>
    <li><a href="index.php/events">Events</a></li>
</ul> 
<ul class="links col33">     
    <li><a href="index.php/products_links">Products</a></li>
    <li><a href="index.php/businessResources">Business Resource</a></li>
    <li><a href="index.php/charities">Charities</a></li>
</ul> 
<ul class="links col33">
    <li><a href="index.php/myaccount_links">My Account</a></li>
    <li><a href="index.php/support">Supports</a></li>
    <li><a href="index.php/sitemap/mainpage">Site Map</a></li>
</ul>