<style>
@media (max-width: 768px){
	.col50
	{
		width: 100% !important;
		clear: both;
		margin-bottom: 10px;
	}
}
#sitemap
{
	margin-bottom: 20px;
}
#sitemap a
{
	color: #666;
	text-decoration: none;
}
#sitemap a:hover
{
	color: #FE8F01;
	text-decoration: none;
}
#sitemap ul
{
	margin-left: 20px;
}
#sitemap ul:first-child
{
	margin-left:0px;
}
</style>
<div class="content-panel">
    <div class="page-title holder">
        <h2>{title_page}</h2>
        <ul class="breadcrumbs">
            <li><a href="index.php/home">Home</a></li>
            <li>/</li>
            <li>{title_page}</li>								
        </ul>
    </div>
</div>
<div class="main-container holder" id="sitemap">
<div class="grid-cols">
	<div class="heading left" style="margin-bottom:0px;">
          <h4>Main Sites</h4>
    </div>
	<div class="col33">
    	<ul class="links-list">
            <li><a href="index.php/">Home</a></li>
            <li><a href="index.php/about">About</a></li>
            <li>
                <a href="index.php/myaccount_links">My Account</a>
                <ul>
                    <li><a href="index.php/user/myaccount">My Profile</a></li>
                    <li><a href="index.php/representatives/reports">My Sponsor Tree & Commissions</a></li>
                    <li><a href="index.php/user/hyperwallet">My Wallet</a></li>
                </ul>
            </li>
            <li><a href="index.php/businessResources">Business Resources</a></li>
        </ul>
    </div>
    <div class="col33">
    	<ul class="links-list">
            <li><a href="index.php/events">Events</a></li>
            <li>
                <a href="index.php/products_links">Products</a>
                <ul>
                    <li><a href="index.php/shop/shome">Place an Order</a></li>
                    <li><a href="index.php/store/orders">My Order</a></li>
                    <li><a href="index.php/store/autodelivery">Autoship</a></li>
                </ul>
            </li>
            <li><a href="index.php/charities">Charities</a></li>
            <li><a href="index.php/contact">Contacts</a></li>
        </ul>
    </div>
    <div class="col33">
    	<ul class="links-list">
            <li><a href="index.php/support">Support</a></li>
            <li><a href="index.php/representatives/add">Enroll new</a></li>
            <li><a href="index.php/term">Term of Use</a></li>
            <li><a href="index.php/policy">Privacy Policy</a></li>
            <li><a href="index.php/login">Login</a></li>
            <li><a href="index.php/logout">Log out</a></li>
            <li><a href="index.php/getpassword">Forgot Password</a></li>
        </ul>
    </div>
</div>

<div class="grid-cols">
	<div class="heading left" style="margin-bottom:0px;">
          <h4>Shopping</h4>
    </div>
    <div class="col33">
    	<ul class="links-list">
          <li><a href="index.php/shop/shome">Home</a></li>
          <li><a href="index.php/">Main Page</a></li>
          <li><a href="index.php/shop/pcategories">Categories</a></li>
       </ul>
    </div>
    <div class="col33">
    	<ul class="links-list">
            <li><a href="index.php/shop/itemsearch">Search Products</a></li>
            <li><a href="index.php/shop/specialproducts">Special Products</a></li>
            <li><a href="index.php/shop/featureproducts">Feature Products</a></li>
        </ul>
    </div>
    <div class="col33">
    	<ul class="links-list">
            <li><a href="index.php/shop/wishlist">Wish List</a></li>
            <li><a href="index.php/shop/cart">Shopping Cart</a></li>
            <li><a href="index.php/shop/cart/checkout">Check Out</a></li>
        </ul>
    </div>
</div>

</div>

