{warranties}
<div style="clear:both; float:left; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #E2A1FF; width:100%">
	<div style="float:left; width:30px; overflow:hidden; padding-top:2px" align="left"><input type="checkbox" class="input-checkbox" name="warranty_select[]" value="{key}" onclick="updateWarranty(this)" /></div>
	<div style="float:left;">
        <div style="font-weight:bold;">{warranty_name}</div>
        <div style="clear:both"><b>Duration:</b> &nbsp;{duration}</div>
        <div style="clear:both"><b>Cost:</b> &nbsp;${cost}</div>
    </div>
</div>
{/warranties}






