<style type="text/css">
.voucher{
	width:600px;
	margin:100px auto 0px;
	min-height:300px;	
}
</style>
<div class="voucher">
	<div style="float:left; position:relative; width:100%; height:300px; border-radius:10px; overflow:hidden">
    	<div style="position:absolute; z-index:-1; width:100%; height:100%; background:url('shopping/data/img/thumb_show/p17ooij6b71fna1ho1d8qi5n1stp3.jpg') center center no-repeat; background-size: 100% auto;">

        </div>
    	<div style="position:absolute; top:43px; right:30px; font-size:60px; font-weight:100; color:#FFAB11; z-index:5"><span style="font-size:35px">$</span>2,300<span style="font-size:30px">.00</span></div>
        <div style="position:absolute; width:120px; top:8px; left:10px; z-index:5">
            <img src="shopping/themes/bellaVie/images/logo.png" width="100%" />
        </div>
        <div style="position:absolute; width:100%; bottom:0px; left:0px; min-height:100px; background:#000; opacity:0.6; z-index:2">
            <div style="position:absolute; bottom:10px; left:10px; width:310px; font-weight:100; color:#FFAB11; opacity:1">
            	<ul>
                	<li>Shopping at BellaVie</li>
                    <li>Just using for BellaVie Network Member</li>
                    <li>Do not share to anyone</li>
                    <li style="color:#FFF; opacity:1; padding-top:10px;">Expire date: May, 26th, 2013</li>
                </ul>
            </div>
            <div style="float:right; margin-top:20px; margin-right:30px; font-size:30px; font-weight:100; color:#FFAB11; opacity:1"># 67678868</div>
            <div style="float:right; clear:both; margin-top:34px; margin-right:0px; font-size:60px; font-weight:100; color:#FFF; opacity:0.4">Voucher</div>
        </div>
    </div>
</div>