<!-- New App tab -->
<table id="bank_products_employee_report_result" class="table table-striped"></table>
<!-- End New App tab -->
<div class="clear1"></div>
<!-- For Edit Application -->

<!-- End of Edit Application -->

<!-- Javascript code only for this page -->            
<script type="text/javascript">
var dataClient = [];
//var heads = ["Name","Contact Info","Audit Guard","Net Refund","Employee","Created Date","Status","Action"];


function loadObject() {
    {dataLoad}
    loadClients();
}

function loadClients() {
    var htm = ''; 
    htm +='<thead>';
    	htm +='<tr>';
    		htm +='<th rowspan="2" class="text-left">Name</th>';
    		htm +='<th colspan="4"  class="text-center">Expected</th>';
    		htm +='<th colspan="3"  class="text-center">Actual</th>';
    		htm +='<th rowspan="2" class="text-left">Action</th>';
    		//htm +='<th rowspan="2" class="text-left">Payment</th>';
    		htm +='</tr>';
    		
    		htm +='<tr>';
    		htm +='<th class="">Tax Prep</th>';
    		htm +='<th  >Add Ons</th>';
    		htm +='<th class="">Audit Guard</th>';
    		htm +='<th class="hidden-xs hidden-sm">Total</th>';
    		
    		htm +='<th class="hidden-xs hidden-sm">Refund Amount</th>';
    		htm +='<th class=" text-left">Actual Refund</th>';
    		htm +='<th class=" text-left">Accuracy %</th>';
    	htm +='</tr>';
   
    htm +='</thead>';
    
    
    htm +='<tbody>';
    
    var totalapp_tax_preparation_fee = 0;
    var totalapp_add_on_fee = 0;
    var totalaudit_guard_fee = 0;
    
    var totalapprefund_amount = 0;
    var totalapp_actualrefund_amount = 0;  
    
    
    var actualRefund = 0;
    var total_amount = 0;
    
    var accuricy = 0;
    
    for(var i = 0 ; i < dataClient.length ; i++){
           var obj = dataClient[i];
           var uid = obj.uid;
           var count = 0;
           //var actuallTotal = 0;
           //var expetTotal = 0;
          
           totalapp_tax_preparation_fee += parseFloat(obj.app_tax_preparation_fee);
           totalapp_add_on_fee += parseFloat(obj.app_add_on_fee);
           totalaudit_guard_fee += parseFloat(obj.audit_guard_fee);
           
          // totalapp_actual_tax_preparation_fee += parseFloat(obj.app_actual_tax_preparation_fee);
          // totalapp_actual_sb_fee += parseFloat(obj.app_actual_sb_fee);
          // totalactual_audit_guard_fee += parseFloat(obj.actual_audit_guard_fee);
           
           total_amount += parseFloat(obj.app_tax_preparation_fee+obj.app_add_on_fee+obj.audit_guard_fee);
           
           totalapprefund_amount +=  parseFloat(obj.app_refund_amt);
           
           actualRefund = parseFloat(obj.app_actual_tax_preparation_fee+obj.app_actual_sb_fee+obj.actual_audit_guard_fee);
           
           totalapp_actualrefund_amount += actualRefund;
           
           accuricy = ((actualRefund * 100)/total_amount);
           
           var appststus = '';
           if(obj.payment_status == '0')
          	 appststus = 'Pending';
           else if(obj.payment_status == '1')
          	 appststus = 'Partial';
           else if(obj.payment_status == '2')
          	 appststus = 'Full';
          
           	//expetTotal = parseFloat(obj.app_bank_transmission_fee)+parseFloat(obj.app_tax_preparation_fee)+parseFloat(obj.app_sb_fee);
           	//totalExptTotal += parseFloat(actuallTotal);
           	
            htm +='<tr>';
           	
            htm +='<td class="text-left border-right">'+obj.firstname+' '+obj.lastname+'</td>';
            
        	htm +='<td class="hidden-xs hidden-sm text-center">'+toUSD(check_is_nan(obj.app_tax_preparation_fee))+'</td>';
        	htm +='<td class="hidden-xs hidden-sm  text-center">'+toUSD(check_is_nan(obj.app_add_on_fee))+'</td>';
        	htm +='<td class="hidden-xs hidden-sm text-center border-right">'+toUSD(check_is_nan(obj.audit_guard_fee))+'</td>';
        	htm +='<td class="hidden-xs hidden-sm text-center border-right">'+toUSD(check_is_nan(total_amount))+'</td>';
    		
        	htm +='<td class="text-center">'+toUSD(check_is_nan(obj.app_refund_amt))+'</td>';
        	htm +='<td class="hidden-xs hidden-sm text-center">'+toUSD(check_is_nan(obj.actualRefund))+'</td>';
        	htm +='<td class="text-right text-center">'+accuricy+'%</td>';
        	//htm +='<td class="hidden-xs hidden-sm border-left text-center ">'+appststus+'</td>';
        	htm +='<td class="hidden-xs hidden-sm border-left text-center ">';
        	htm += '<a class="btn btn-xs btn-info EditApplication" rel="tooltip" title="Edit" data-toggle="tooltip" href="javascript:void(0)"  data-original-title="Edit" id =""  onclick="showBankProductByEmployeeCustomerReport(\''+obj.uid+'\')" >View All</a>';
        	htm +='</td>';
            htm +='</tr>';
   } 		
   htm +=' </tbody>';
   
   htm +='<tfoot>';
	htm +='<tr>';
		htm +='<td class=" text-center" >Total</td>';
		
		htm +='<td class="text-center"><span>'+toUSD(check_is_nan(totalapp_tax_preparation_fee))+'</span></td>';
		htm +='<td class=" text-center" ><span>'+toUSD(check_is_nan(totalapp_add_on_fee))+'</span></td>';
		htm +='<td class="hidden-xs hidden-sm text-center"><span>'+toUSD(check_is_nan(totalaudit_guard_fee))+'</span></td>';
		htm +='<td class="text-center"><span>'+toUSD(check_is_nan(total_amount))+'</span></td>';
		htm +='<td class="hidden-xs hidden-sm text-center"><span>'+toUSD(check_is_nan(totalapprefund_amount))+'</span></td>';
		htm +='<td class="hidden-xs hidden-sm text-center"><span>'+toUSD(check_is_nan(totalapp_actualrefund_amount))+'</span></td>';
		htm +='<td class="text-center"><span></span></td>';
		htm +='<td class="text-center"></td>';
	htm +='</tr>';
htm +='</tfoot>';
     
    $("#bank_products_employee_report_result").empty().append(htm);	
     
}


function showBankProductByEmployeeCustomerReport(empId){
	$.ajax({
                url: 'index.php/admin/reporting/showBankProductByEmployeeCustomerReport?ajax=1&empid='+empId+'',
                cache: false,
                success: function(message){
                        $("#bank_products_employee_report").empty().append(message);
                        return false;
                }
	});	
}


$(function(){
	loadObject();
	

    $('#bank_products_employee_report_result').dataTable( {
         	"sDom": 'T<"clear">lfrtip',
         	"oTableTools": {
     			//"aButtons": [ "xls", "pdf","copy", "print" ]
         		"aButtons": [
    						{ "sExtends":     "xls", "sButtonText": "Excel	", "sFileName": "recentApplication-*.pdf", "mColumns": [ 0, 1, 2, 3, 4, 5 ],},
                     		{"sExtends":     "pdf", "sButtonText": "PDF", "sFileName": "recentApplication-*.pdf", "sPdfOrientation": "landscape", "mColumns": [ 0, 1, 2, 3, 4, 5],},
                             { "sExtends":     "print", "sButtonText": "Print", "mColumns": [ 0, 1, 2, 3, 4, 5 ],},
                     		]
     		},
     		"aoColumnDefs": [{ 'bSortable': false, 'aTargets': [8 ] }],
     		"bLengthChange": false,
       		"bAutoWidth": false,  
       		"aoColumns": [
       		            
   		         	{ sWidth: '14%' },
   		            { sWidth: '10%' },
   		            { sWidth: '10%' },
   		            { sWidth: '10%' },
   		            { sWidth: '10%' },
   		            { sWidth: '12%' },
   		            { sWidth: '12%' },
   		         	{ sWidth: '9%' },
   		         	{ sWidth: '6%' }]
         });

	 
	 $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
	 
});
</script>