<!-- New App tab -->
<table id="discount_benefits_customers_report_result" class="table table-striped"></table>
<!-- End New App tab -->
<div class="clear1"></div>
<!-- For Edit Application -->

<!-- End of Edit Application -->

<!-- Javascript code only for this page -->            
<script type="text/javascript">
var dataClientDR = [];
//var heads = ["Name","Contact Info","Audit Guard","Net Refund","Employee","Created Date","Status","Action"];

function loadObject() {
    {dataLoadDR}
    loadClients();
}


function loadClients() {
    var htm = ''; 
    htm +='<thead>';
    	
    	htm +='<tr>';
    	htm +='<th class="text-center">Name</th>';	
    	htm +='<th class="text-center">Date Created</th>';
			
			htm +='<th class="text-center">Benefits</th>';
		
    		htm +='<th class="" style="">Amount</th>';
    		htm +='<th  >Status</th>';
    		htm +='<th class="hidden-xs hidden-sm">Action</th>';
    	htm +='</tr>';
   
    htm +='</thead>';
    
    
    htm +='<tbody>';
    var parent = 'body_benefits_info_edit';
    var totalamount = 0;
    for(var i = 0 ; i < dataClientDR.length ; i++){
           var obj = dataClientDR[i];
           var uid = obj.uid;
            	
           var appststus = '';
           if(obj.benefits_status == '0')
          	 appststus = 'Pending';
           else if(obj.benefits_status == '1')
          	 appststus = 'Active';
           else if(obj.benefits_status == '2')
          	 appststus = 'Canceled';
            
           totalamount += check_is_nan(parseFloat(obj.benefits_price));
           
            htm +='<tr>';

        	htm +='<td class="text-left border-right"><strong>'+obj.first_name+' '+obj.last_name+'</strong><br>XXX-XX-'+obj.ss_number.substring(7,11);+'</td>';
        	htm +='<td class=" text-center border-right">'+obj.app_create_date+'</td>';
        	htm +='<td class="text-left ">'+obj.benefits_item+'</td>';
        	
        	htm +='<td class="hidden-xs hidden-sm text-center">'+toUSD(check_is_nan(obj.benefits_price))+'</td>';
        	htm +='<td class="hidden-xs hidden-sm  text-center">'+appststus+'</td>';
        	
        	htm +='<td class="hidden-xs hidden-sm border-left text-center ">';
        	htm += '<a class="btn btn-xs btn-success" rel="tooltip" title="Edit" data-toggle="tooltip" href="javascript:void(0)"  data-original-title="Edit" id =""  onclick="editBenefitsFromReport(\''+obj.applicent_id+'\',\''+parent+'\')" >View</a>';
        	htm += '</td>';
             
            htm +='</tr>';
   } 		
   htm +=' </tbody>';
   
   htm +='<tfoot>';
	htm +='<tr>';
		htm +='<td class=" text-center" >Total</td>';
		htm +='<td class=" text-right" ><span></span></td>';
		htm +='<td class="text-center"><span></span></td>';
		htm +='<td class="text-center"><span>'+toUSD(check_is_nan(totalamount))+'</span></td>';
		htm +='<td class=" text-center" ><span></span></td>';
		htm +='<td class="text-center"></td>';
	htm +='</tr>  ';
htm +='</tfoot>';
     
    $("#discount_benefits_customers_report_result").empty().append(htm);	
    
    //var $parent = $("#" + parent);
    $("#" + parent).find("#state").empty().append('{states}');
    //$("#state1").empty().append('{states}');
}

$(function(){
	loadObject();
	clickToEditBenefitsInfo('body_benefits_info_edit');

	$('#discount_benefits_customers_report_result').dataTable( {
     	"sDom": 'T<"clear">lfrtip',
     	"oTableTools": {
     		"aButtons": [
						{ "sExtends":     "xls", "sButtonText": "Excel	", "sFileName": "recentApplication-*.pdf","mColumns": [ 0, 1, 2, 3, 4, 5 ],},
                 		{"sExtends":     "pdf", "sButtonText": "PDF", "sFileName": "recentApplication-*.pdf", "sPdfOrientation": "landscape", "mColumns": [ 0, 1, 2, 3, 4, 5],},
                         {"sExtends":     "print", "sButtonText": "Print", "mColumns": [ 0, 1, 2, 3, 4, 5 ],},
                 		]
 			},
 			"bLengthChange": false,
 			"aoColumnDefs": [ { 'bSortable': false, 'aTargets': [-1 ] }],
     });

	 
	 $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
	 
});
</script>