<style>
.table thead > tr > th{
	border-top:1px solid #efefef;
}
.table{	
	 background-color: #fff;
    border-bottom: 1px solid #efefef;
    border-radius: 3px;
    border-top: 1px solid #efefef;
    /*box-shadow: 0 0 1px 1px #efefef;*/
    clear: both;
    margin-bottom: 0 !important;
    max-width: none !important;
}
</style>
<div id="pv_table">
<div class="col-md-12 text-left" style="padding-top:20px;">
             	 <div class="col-md-8 text-left">
	             	 <div class="form-group form-group1" >
	             	   	<label for="cell_phone" style="padding-right:0px; font-weight: 400; " class="control-label col-md-13 text-left">Starting Check Number</label>
		                <div class="col-md-9 " style="padding:0px">
		                	<input type="text" class="form-control" id="starting_check_no" name="starting_check_no" value="" placeholder="XXX XXX XXX XXX">
	                     </div>        
	                     <div class="clear"></div>
	             	 </div>
             	 </div>
             	 
             	 <div class="col-md-4 text-center">
             	 	<div class="form-group form-group1" >
	             	   	<label for="cell_phone" style="padding-right:0px; font-weight: 400; " class="control-label col-md-13 text-left">Total Check Printing</label>
		                <div class="col-md-12 " style="padding:0px; ">
		                	<h3 style="margin:0px; font-weight: 600; color:#8a95a7; " id="total_check_printd">5</h3>
	                     </div>        
	                     <div class="clear"></div>
             	 	</div>
             	 </div>
             	 <div class="clear"></div>
</div>
<table id="print_check_list_table" class="table table-striped">
                </table>
 <div style="clear:both"></div>
 <br>
 <div class="form-group form-group1" >
                     	<div class="col-md-12 text-left">
		            	
		                     <button  class="btn btn-danger " type="button" id="cancel_print" onclick="javascript:cancelPrinting();" >
                                <i class="icon-repeat"></i> Cancel
                            </button>
		                
		                
		                    <button  class=" btn btn-default " type="submit" id="pv_preview" value="Next">
                                 <i class="icon-long-arrow-right"></i> Print Preview 
                            </button>
		                
		                
		                    <button  class=" btn btn-info" type="submit" id="print_check_btn" value="printCheckBtn">
                               <i class="icon-print"></i>  Print 
                            </button>
		                
			                <div  style="clear:both"></div>
			            </div>
		            </div>
 <div style="clear:both"></div>
</div>

<div id="pv_check" style="display:none;">
	<img src="../backend/img/check_img.png" width="100%" />
    <div class="form-group form-group1" >
      <div class="col-md-12 text-left">
        <button  class=" btn btn-default " type="submit" id="goback" value="Next">
             <i class="icon-repeat"></i> Go Back 
        </button>
    
    
        <button  class=" btn btn-info" type="submit" id="pprint" value="Next">
           <i class="icon-print"></i>  Print 
        </button>
    
        <div  style="clear:both"></div>
    </div>
    </div>
</div>
		            
		            <script type="text/javascript">
var dataClientPrint = [];
var heads = ["Name","SSN","Net Refund","Assigned Check #"];

function loadObject() {
    {dataLoad}
    loadClients();
}


function loadClients() {
	$("#total_check_printd").html(dataClientPrint.length);
    var htm = ''; 
    htm +='<thead>';
                htm +='<tr>';
                	htm +='<th class="hidden-xs hidden-sm"><input type="checkbox" name="ready_to_print_check_modal" id="ready_to_print_check_modal" value=""></th>';
                	htm +='<th class="hidden-xs hidden-sm" >Name</th>';
                	htm +='<th class="hidden-xs hidden-sm">SSN</th>';
                	htm +='<th class="hidden-xs hidden-sm">Net Refund</th>';
                	htm +='<th class="hidden-xs hidden-sm">Assigned Check #</th>';
                htm +='</tr>';
    htm +='</thead>';
    htm +='<tbody>';

    // get last printed check no
    var assignno = parseInt({lastPrintedCheckNo});

    $("#starting_check_no").val(assignno);

   // console.log(assignno);
    var checkNo = 1;
    for(var i = 0 ; i < dataClientPrint.length ; i++){
    	//alert(dataClientPrint[i]);
           var obj = dataClientPrint[i];

           var uid = obj.uid;
          // var appid = obj.app_id;
          // var parent = 'body_edit_application_ready_to_print';
           var count = 0;
             htm +='<tr>';
             htm +='<td><input type="checkbox" checked="checked" class="ready_to_print_check_modal" name="ready_to_print_check_modal" id="ready_to_print_check_modal" value="'+obj.app_id+'"></td>';
             htm +='<td class="text-left hidden-xs"><strong>'+obj.first_name+' '+obj.last_name+'</strong></td>';
             htm +='<td>XXX-XX-'+obj.ss_number.substring(7,11);+'</td>';             
             htm +='<td class="hidden-xs hidden-sm">$'+obj.app_actual_refund_amount+'</td>';
             //htm +='<td class="hidden-xs hidden-sm">$'+obj.app_net_refund_amt+'</td>';
             htm +='<td class="hidden-xs hidden-sm">'+assignno+'</td>';
           	 htm +='</tr>';
        assignno = parseInt(assignno+checkNo);
        checkNo++;
    }
   htm +='</tbody>';


   
   $("#print_check_list_table").empty().append(htm);	
    
   //$("#state").empty().append('{states}');
    
}


$(function() {
	
	loadObject();
	
	$('#pv_preview').click(function(){
		$('.modal-header').addClass('pvmodalheader');
		$('.modal-content').addClass('pvmodalcontent');
		$('#pv_check').show();
		$('#pv_table').hide();
	});
	
	$('#goback').click(function(){
		$('.modal-header').removeClass('pvmodalheader');
		$('.modal-content').removeClass('pvmodalcontent');
		$('#pv_check').hide();
		$('#pv_table').show();
	});
	
	$("#print_check_btn").click(function(){

		var arr = [];
    	var ids='';
    	var i = 0;
        var startpoint = $('#starting_check_no').val();

    	    $('.ready_to_print_check_modal:checked').each(function(){
    	    	arr[i++] = $(this).val();
    	    });
    	    //alert(arr.length);
    	    if(arr.length > 0){
    	     	ids = arr.join(",");
    	    }
    	    else{
    	    	ids = $(this).val();
    	    }

    	    $.ajax({
                url: 'index.php/admin/clientcenter/generatePdfSelectedReadyToPrintApplication?ajax=1&ids='+ids+'&startp='+startpoint,
                cache: false,
                dataType: "json",
                success: function(message){
                //	alert(message);
                       // $("#body_check_for_print").empty().append(message);
                    //$(this).parent().appendTo(message);
                    $("#modal_check_for_print").modal('hide');

                    var dataClient = message;
                    loadClientsReadyToPrint();
                      //  $(".print_check").css('display','block');
                        return false;
                }
			});
	});


	
});
</script>