<style type="text/css">
.ul_home {
	padding-left:13px;
	font-weight:bold;
	font-size:14px;
}
.ul_home li {
	margin-bottom:10px;
}
.content_div_re {
	clear:both;
	padding:20px 0;
	overflow:hidden;
}
.title_content {
	clear:both;
	font-weight:bold;
	padding-bottom:15px;
	width:100%;
	text-align:left;
}
.body_content {
	clear:both;
}
ol {
	margin:0px;
}
ol li {
	padding-bottom:10px;
}
.resource_content {
	clear:both;
	width:100%;
	overflow:hidden;
	background:#fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px
}
</style>
<div class="box_solar" style="clear:both;" align="left">
  <div class="divPageTitle">{title_page}</div>
  <div style="clear:both">
  {documents}
    <!--<ul class="ul_home">
      <li><a href="#Code-of-Ethic">Code of Ethic</a>&nbsp;&nbsp;&nbsp;<a href="index.php/download/get_file/code_of_ethic_of_BMN.pdf"><img src="../images/icon_pdf.gif" border="0" align="absmiddle" width="20px" /></a></li>
      <li><a href="#Policy-and-Procedure">Policy and Procedure</a>&nbsp;&nbsp;&nbsp;<a href="index.php/download/get_file/BMNRM_Rules_and_policies.pdf"><img src="../images/icon_pdf.gif" border="0" align="absmiddle" width="20px" /></a></li>
      <li style="display:none"><a href="#">Compensation Plan</a></li>
      <li><a href="#Marketing-Policy">Marketing Policy</a>&nbsp;&nbsp;&nbsp;<a href="index.php/download/get_file/Marketing_Policy_of_BMN.pdf"><img src="../images/icon_pdf.gif" border="0" align="absmiddle" width="20px" /></a></li>
      <li style="display:none"><a href="#">Income Disclosure Statement</a></li>
    </ul>-->
  </div>
  {content}
</div>
