<form class="form-horizontal form-box remove-margin ui-formwizard" method="post" action="page_form_wizard.html" id="advanced-wizard" novalidate="novalidate">
    <!-- Form Header -->
    <h4 class="form-box-header"><i class="icon-user"></i> Create New User</h4>

    <!-- Form Content -->
    <div class="form-box-content">
        <!-- First Step -->
        <div class="step ui-formwizard-content" id="advanced-first" style="display: block;"> 
            <div class="form-group">
                <label for="example-advanced-firstname" class="control-label col-md-3">First Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-firstname" id="first_name">
                </div>
            </div>
            <div class="form-group">
                <label for="example-advanced-middle" class="control-label col-md-3">Middle Initial</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-middle" id="middle_name">
                </div>
            </div> 
            <div class="form-group">
                <label for="example-advanced-lastname" class="control-label col-md-3">Last Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-lastname" id="last_name">
                </div>
            </div>
            <div class="form-group">
                <label for="example-advanced-username" class="control-label col-md-3">Username</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-username" id="username">
                </div>
            </div>
            <div class="form-group">
                <label for="example-advanced-password" class="control-label col-md-3">Password</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-password" id="password">
                </div>
            </div>
            <div class="form-group">
                <label for="example-advanced-role" class="control-label col-md-3">Role</label>
                <div class="col-md-4">
                     <select class="form-control" name="role" id="role">
                        <option selected="selected" value="Taxwise">Regular</option>
                        <option value="Crosslink">Admin</option>
                     </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="example-advanced-address1_p" class="control-label col-md-3">Address Line 1</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-address1_p" id="address_1_p">
                </div>
            </div> 
            <div class="form-group">
                <label for="example-advanced-zipcode_p" class="control-label col-md-3">Zip</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-zipcode_p" id="zipcode_p">
                </div>
            </div>
            <div class="form-group">
                <label for="example-advanced-city_p" class="control-label col-md-3">City</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-city_p" id="city_p">
                </div>
            </div>  
            <div class="form-group">
                <label for="example-advanced-state_p" class="control-label col-md-3">State</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-state_p" id="state_p">
                </div>
            </div>  
            <div class="form-group">
                <label for="example-advanced-phone" class="control-label col-md-3">Phone</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-phone" id="phone">
                </div>
            </div>  

            <div class="form-group">
                <label for="example-advanced-cellphone" class="control-label col-md-3">Cell Phone</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-cellphone" id="cell_phone">
                </div>
            </div>
             <div class="form-group">
                <label for="example-advanced-email" class="control-label col-md-3">Email</label>
                <div class="col-md-4">
                    <input type="text" class="form-control ui-wizard-content" name="example-advanced-email" id="email">
                </div>
            </div>  
           
            <div class="form-group form-actions">
                <div class="col-md-10 col-md-offset-2">  
                    <input type="submit" value="Save" id="save" class="btn btn-success ui-wizard-content ui-formwizard-button">
                    <input type="submit" value="Cancel" id="cancel" class="btn btn-danger ui-wizard-content ui-formwizard-button">
                </div>
            </div>
            <!-- END Form Buttons -->
        </div>
        <!-- END Form Content -->

    </div>
</form>
