<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Scale Financial - Signin</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	
	<!-- CSS
  ================================================== -->
	<!-- Normalize default styles -->
	<link rel="stylesheet" href="../frontend/css/normalize.css" media="screen" />
	<!-- Fonts -->
	<link rel="stylesheet" href="../frontend/css/fonts.css" media="screen" />
	<link rel="stylesheet" href="../frontend/css/brankic_font.css" media="screen" />
	<!-- Skeleton grid system -->
	<link rel="stylesheet" href="../frontend/css/skeleton.css" media="screen" />
	<!-- Base Template Styles-->
	<link rel="stylesheet" href="../frontend/css/base.css" media="screen" />
	<!-- Superfish Menu-->
	<link rel="stylesheet" href="../frontend/css/superfish.css" media="screen" />
	<!-- Template Styles-->
	<link rel="stylesheet" href="../frontend/css/style.css" media="screen" />
	<!-- PrettyPhoto -->
	<link rel="stylesheet" href="../frontend/css/prettyPhoto.css" media="screen" />
	<!-- Layout and Media queries-->
	<link rel="stylesheet" href="../frontend/css/layout.css" media="screen" />
	<!-- Onebyone styles-->
	<link rel="stylesheet" href="../frontend/css/jquery.onebyone.css" media="screen" />
	<!-- Animate CSS-->
	<link rel="stylesheet" href="../frontend/css/animate.min.css" media="screen" />
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie/ie8.css" media="screen" />
	<![endif]-->
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../frontend/favicon.ico">
	<link rel="apple-touch-icon" href="../frontend/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../frontend/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../frontend/images/apple-touch-icon-114x114.png">
	
	
	<!-- For Old Browsers
	================================================== -->
	<!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
	<![endif]-->

</head>
<body class="page home-page">

	<!-- Primary Page Layout
	================================================== -->
	
	<!-- BEGIN WRAPPER -->
	<div id="wrapper" style="min-width: 990px;">
			
			
			<!-- BEGIN HEADER -->
			<header id="header">
				
				<!--Main Header-->
				<div id="main-header">
					<div class="container">
						<div class="grid_12" style="width: 950px;">
						
							<!-- BEGIN LOGO -->
							<div id="logo">
								<!-- Image based Logo-->
								<a href="index.html"><img src="../frontend/images/logo.png" alt=""/></a>
								
								
								<!-- Text based Logo
								<h1><a href="index.html"><span>Optima</span>Sales</a></h1>
								<p class="tagline">optimize your business</p>
								-->
								
							</div>
							<!-- END LOGO -->
							
							<!-- BEGIN NAVIGATION -->
                                                        
                                                    <div class="login-holder fright" style="margin-top: 8px; margin-left:11px;">
                                                        <!-- <a href="#" class="custom_a"></a> -->
                                                        <a class="btn_c btn-white" href="index.php/signin">SIGN IN</a>
                                                        <a class="btn_c btn-success" href="index.php/signup">SIGN UP</a>
                                                       <!-- <input data-reveal-id="signup"  type="button" value="SIGN UP" class="btn_c btn-success"> -->
                                                        
                                                    </div>
                                                        
                                                        
							<nav class="primary" style="margin-top: 3px;">
								<ul class="sf-menu">
									<!-- <li class="current-menu-item">
                                    	<a href="index.html">PRODUCTS</a>
									</li>-->
									<li class="">
                                    	<a href="index.html#products">PRODUCTS</a>
									</li>
									<li>
                                    	<a href="index.html#features">FEATURES</a>
									</li>
									<li>
                                    	<a href="index.html#pricing">PRICING</a>
									</li>
									<li>
                                    	<a href="index.html#customer">CUSTOMERS</a>
									</li>
									
									<li><a href="index.html#contactus">CONTACT</a>
                                    </li>
                                  
								</ul>
							</nav>
							<!-- END NAVIGATION -->
							
						</div>
					</div>
				</div>
				
			</header>
			<!-- END HEADER -->
			
			
			
			
			
			<!-- BEGIN CONTENT HOLDER -->
			<div id="content-wrapper" class="large-text">
			
			<section class="home-area indent" id="secondary-home-area" style="padding-top:55px;">
				<div class="container">
					<div class="grid_9" style="width:657px;">
						<div style="margin-bottom: 20px; text-align:left; " class="intro-widget ">
							<h2 style="text-align: left; margin-bottom: 0px;">Sign In</h2>
							Al the fields are required. I’ll add some more text here...
						</div>
						<section class="home-area indent" id="secondary-home-area" style="padding-top:0px;">
					
							<div class="container1">
								
								<div class="grid_8 product">
									<div style="text-align: left;">
										<div class="grid_2 product">
											<img align="left" alt="" src="..//frontend/images/prodcut_refund.png">
										</div>
										<h2>Bank Products</h2>
										<p>Scale now provides easy solution to get their customers tax refund from IRS in less then 5 days in a form of check, debit card or even direct deposit to their account.</p>
									</div>
								</div>
								<div class="grid_8 product" style="margin-left: 0px;">
									<div style="text-align: left;">
									<div class="grid_2 product">
										<img  align="left" alt="" src="../frontend/images/product_insurance.png">
									</div>
										<h2>Insurance</h2>
										<p>Scale is a comprehensive tool that gives the flexibility to tax offices offer Insurance policies all year around and help increase revenue in peak season.</p>
									</div>
								</div>
								<div class="grid_8 product" style="margin-left: 0px;">
									<div style="text-align: left;">
									<div class="grid_2 product">
										<img  align="left" alt="" src="../frontend/images/product_benefits.png">
									</div>	
										<h2>Discount Benefits</h2>
										<p>Scale is an All in One solution that helps Tax Preparers offer packaged benefits to their clients and deduct it from Tax Refund.</p>
									</div>
								</div>
								<div style="clear: both;"></div>
								
							</div>
							
						</section>
					</div>
                    <div class="grid_3 successmessage" style="margin: 0px;width: 250px;display:none;"><h3 style="font-size:16px">Password Recovery Email Sent Successfully.</h3></div>
                    <div class="grid_3 errormessage" style="margin: 0px;width: 250px;display:none;"><h3 style="font-size:16px; color :#de6666;">EFIN / PTIN # or Username Not Match.</h3></div>
					<div class="grid_3 signup_signin"  style="width: 250px; margin:0px;">
						<div id="signup" class="">
						    <header class="reveal-modal-header">
						        <h2>Sign In</h2>
						    </header>
						    <div id="warninglogin" ></div>
						    <div class="cont">
						        <form action="" method="post" class="signin" id="formLogin" name="formLogin"  ><!--onsubmit="return login_('efin_signin','username_signin','password_signin');"-->

            <p class="clearfix">
                <label>EFIN / PTIN #:</label>
                <input type="text" value="" id="efin_signin" />
            </p>
            <p class="clearfix">
                <label>USERNAME:</label>
                <input type="text" value="" id="username_signin" />
            </p>
            <p class="clearfix">
                <label>PASSWORD:</label>
                <input type="password" value="" id="password_signin" />
            </p>
            <p class="checkboxes without-label clearfix" style="margin-top:10px;">
                <span class="niceCheck"><input type="checkbox" name="ch1" /></span>
                Remember me
                &nbsp; &nbsp;  <a style= "color:#ef4349; text-decoration: underline;" id="forgotlink" onclick="forgotwindow();" href="javascript:void(0)">Forgot password?</a>
            </p>
            <p class="without-label clearfix" style="margin-top:20px;"><input type="submit" id="btnSubmitLogin" style="padding:11px 50px 9px;"  class="btn_c btn-success"  value="SIGN IN" /></p>
        </form>
						    </div>
						    
						</div>
						
						
						<!-- Forgot password -->
						<div id="signup" class="forgot_div" style="display:none;" >
						    <header class="reveal-modal-header">
						        <h2>Forgot Password</h2>
						    </header>
						    <div id="warningForgotPassword" ></div>
						    <div class="cont">
						        <form action="#" method="post" class="signin" id="forgotpassword_form" name="forgotpassword_form"  ><!--onsubmit="return login_('efin_signin','username_signin','password_signin');"-->

            <p class="clearfix">
                <label>EFIN / PTIN # :</label>
                <input type="text" value="" id="f_efin_signin" name="f_efin_signin" />
            </p>
            <p class="clearfix">
                <label>USERNAME:</label>
                <input type="text" value="" id="f_username_signin" name="f_username_signin" />
            </p>
            
            
            <p class="without-label clearfix" style="margin-top:20px;"><input type="submit" id="btnGetPassword" style="padding:11px 50px 9px;"  class="btn_c btn-success"  value="Get Password" /></p>
        </form>
						    </div>
						    
						</div>
						<!-- End Forgot password -->
						
						
					</div>
					
					<div style="clear:both;"></div>	
				</div>
			</section>	

</div>
			<!-- END CONTENT HOLDER -->
			
			
			<!-- BEGIN WIDGETS -->
			<section id="widgets">
				<div class="indent">
					<div class="container">
						<div class="grid_4 colborder" style="margin-left: 0px; margin-top: 16px;">
							<div class="extra-widget-area">
								<div class="inner" style="padding: 0px;">
								
									<!-- BEGIN REQUEST Widget -->
									<div class="widget widget-request">
										<img src="../frontend/images/logo.png" alt="" style="margin-left: 39px;">
										<h2 style="background-image: url('../frontend/images/phone.png'); background-position: left center; background-repeat: no-repeat;">832 858 1144</h2>
									</div>
									<!-- END REQUEST Widget -->
									
									
								</div>
							</div>
						</div>
						<div class="grid_3 colborder">
							<!-- BEGIN NAV Widget -->
							<div class="widget widget-nav">
								<h3>COMPANY</h3>
								<ul>
									<li><a href="index.html#products">Products</a></li>
									<li><a href="index.html#features">Features</a></li>
									<li><a href="index.html#pricing">Pricing</a></li>
									<li><a href="index.html#contactus">Contact</a></li>
									
									
								</ul>
							</div>
							<!-- END NAV Widget -->
						</div>
						<!-- BEGIN SOCIAL LINKS Widget -->
						<!-- 
						<div class="grid_3 colborder">
							
							<div class="widget widget-social">
								<h3>MORE LINKS</h3>
								<ul class="">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">Bank Products</a></li>
									<li><a href="#">Services</a></li>
									
								</ul>
							</div>
							
						</div>
						-->
						<!-- END SOCIAL LINKS Widget -->
						<div class="grid_3">
							<!-- BEGIN TWITTER Widget -->
							<div class="widget ">
								<h3>STAY CONNECTED</h3>
								<img style="margin-top:10px;" alt="" src="../frontend/images/socal_icons.png">
							</div>
							<!-- END TWITTER Widget -->
						</div>
						
						
					</div>
				</div>
			</section>
			<!-- END WIDGETS -->
			
			
			<!-- BEGIN FOOTER -->
			<footer id="footer">
				<div class="container">
					<div class="grid_12" style="text-align: center;">
						<small>&copy;2014 Scale Financial. All rights reserved.</small><a href="privacypolicy">Privacy policy</a> | <a href="termsofservice">Terms of Service</a>
					</div>
				</div>
			</footer>
			<!-- END FOOTER -->
			
		
	</div>
	<!-- END WRAPPER -->
	
	
	<!-- BEGIN MODAL WINDOWS -->
	
        <div id="signup_success" class="reveal-modal">
		<header class="reveal-modal-header">
			Success
		</header>
		<div class="cont">
			<form action="#"> 
                                <p class="clearfix">
					<label>Sign up Successful</label>	
				</p>
			</form>		
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<!-- END MODAL WINDOWS -->
	
	
	<!-- Javascript Files
	================================================== -->
	
	<!-- initialize jQuery Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../frontend/js/jquery-1.8.2.min.js"><\/script>')</script>
	<!-- Modernizr -->
	<script type="text/javascript" src="../frontend/js/modernizr.custom.14583.js"></script>
	<!-- Superfish Menu -->
	<script type="text/javascript" src="../frontend/js/superfish.js"></script>
	<!-- easing plugin -->
	<script type="text/javascript" src="../frontend/js/jquery.easing.min.js"></script>
	<!-- Prettyphoto -->
	<script type="text/javascript" src="../frontend/js/jquery.prettyPhoto.js"></script>
	<!-- Mobile Menu -->
	<script type="text/javascript" src="../frontend/js/jquery.mobilemenu.js"></script>
	<!-- Twitter -->
	<script type="text/javascript" src="../frontend/js/jquery.twitter.js"></script>
	<!-- Elastslide -->
	<script type="text/javascript" src="../frontend/js/jquery.elastislide.js"></script>
	<!-- Custom Checkbox -->
	<script type="text/javascript" src="../frontend/js/jquery.checkbox.js"></script>
	<!-- Reveal Modal -->
	<script type="text/javascript" src="../frontend/js/jquery.reveal.js"></script>
	<!-- Onebyone slider -->
	<script type="text/javascript" src="../frontend/js/jquery.onebyone.min.js"></script>
	<!-- Touchwipe -->
	<script type="text/javascript" src="../frontend/js/jquery.touchwipe.min.js"></script>
	<!-- Dropkick select -->
	<script type="text/javascript" src="../frontend/js/dropkick.js"></script>
	<!-- Custom radio-checkboxes -->
	<script type="text/javascript" src="../frontend/js/jquery.custom-radio-checkbox.js"></script>
	<!-- Tooltips (tipsy) -->
	<script type="text/javascript" src="../frontend/js/jquery.tipsy.js"></script>
	<!-- phone mask -->
	<script type="text/javascript" src="../frontend/js/jquery.maskedinput.js"></script>
	
	<!-- Custom -->
	<script type="text/javascript" src="../frontend/js/custom.js"></script>
        
        <script type="text/javascript" src="../frontend/js/custom_mainpage.js"></script>
        
        <script type="text/javascript" src="misc/scripts/js.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<!-- Onebyone slider init -->
	<script type="text/javascript">
                var url_server__ = '{curPageURLServer}'; 
                dir_theme = 'application/views/{dir_theme}/';
		var url_base_path__ = '{url_base_path}';
		
		 function forgotwindow(){
		    	//alert('ddd');
		    	$("#signup").hide();
		    	$(".forgot_div").show("slow", function() {
				// Animation complete.
				});	
		    }
		 
		$(document).ready(function(){
			$('#banner').oneByOne({
				className: 'oneByOne1',
				sliderClassName: 'oneByOne_item',
				pauseByHover: true,	             
				easeType: 'random',
				width: 940, 
				height: 470,
				showButton: false,
				enableDrag: true,
				showArrow: true,
				slideShow: true,
				responsive: true,
				minWidth: 0
			});
			
			$("#efin_signup").mask("999999");
		    $("#phone_signup").mask("(999) 999-9999");
		   
		    /* Initialize Form Validation */
	        $('#forgotpassword_form').validate({
	           
	            rules: {
	            	f_efin_signin : {
	                    required: true
	                },
	               
	                f_username_signin:{
	                	required: true
	                }
	            },
	            messages: {
	            	    
	            	f_efin_signin :{
	            		required: 'Please enter your EFIN.'
	                },
	               
	                f_username_signin: {
	                	required: 'Please enter your username.'
	                }
	            },
	            submitHandler: function(form) {
	            	$.post(url_base_path__ + "signup/forgotpassword", {
	        			senddata : 'yes',
	                    
	        			f_efin_signin : $("#f_efin_signin").val(),
	        			f_username_signin : $("#f_username_signin").val()
	        			     
	        		}, function(data) {
	        			if(data == 'ok'){
							$('#f_efin_signin').val('');
							$('#f_username_signin').val('');	
							$('.signup_signin').slideUp("slow");
                            $('.errormessage').hide();
                            $('.successmessage').show();
	                        scrolFocus(".successmessage");
	        			}else{
                            $('.successmessage').hide();
                            $('.errormessage').show();
                            scrolFocus(".errormessage");
                        }
	        			
	        		}, "html");

	        		return false;
	            }
	             
	        });
	    	/*End Form validation*/
		});
		
		function scrolFocus(e){
    $('html, body').animate({ scrollTop: $(e).offset().top - 60 }, 800);    
}
		
	</script>
	
</body>
</html>