<div id="signin" class="reveal-modal">
    <header class="reveal-modal-header">
        Sign in
    </header>
    <div id="warninglogin" ></div>
    <div class="cont">
        <div class="indication">
            classic
        </div>
        <form action="#" method="post" class="signin" id="formLogin" name="formLogin"  ><!--onsubmit="return login_('efin_signin','username_signin','password_signin');"-->

            <p class="clearfix">
                <label>EFIN :</label>
                <input type="text" value="" id="efin_signin" />
            </p>
            <p class="clearfix">
                <label>Username:</label>
                <input type="text" value="" id="username_signin" />
            </p>
            <p class="clearfix">
                <label>Password:</label>
                <input type="password" value="" id="password_signin" />
            </p>
            <p class="checkboxes without-label clearfix">
                <span class="niceCheck"><input type="checkbox" name="ch1" /></span>
                Remember me
                <a href="#">Forgot password?</a>
            </p>
            <p class="without-label clearfix"><input type="submit" id="btnSubmitLogin" value="" /></p>
        </form>
       <!-- <div class="indication">
            socials
        </div>
        <ul class="socials-login">
            <li><a href="#" class="fb"></a></li>
            <li><a href="#" class="tw"></a></li>
        </ul>-->
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
