<div id="signup" class="reveal-modal">
    <header class="reveal-modal-header">
        Sign up
    </header>
    <div id="warning" ></div>
    <div class="cont">
        <form action="#" class="signup" method="post" name="signup" id="signup">
            <p class="clearfix">
                <em>(<abbr>*</abbr>) All fields are required</em>
            </p>
            <p class="clearfix">
                <label>EFIN #:<abbr>*</abbr></label>
                <input type="text" value="" id="efin_signup"/>
            </p>
            <p class="clearfix">
                <label>Email:<abbr>*</abbr></label>
                <input type="text" value="" id="email_signup" />
            </p>
            <p class="clearfix">
                <label>Phone Number:<abbr>*</abbr></label>
                <input type="text" value="" id="phone_signup" />
            </p>
            <p class="clearfix">
                <label>Username:<abbr>*</abbr></label>
                <input type="text" value="" id="username_signup"/>
            </p>
            <p class="clearfix">
                <label>Password:<abbr>*</abbr></label>
                <input type="password" value="" id="password_signup"/>
            </p>
             <p class="clearfix">
                <label>Confirm Password:<abbr>*</abbr></label>
                <input type="password" value="" id="conf_password_signup"/>
            </p>
            <!--
            <p class="checkboxes clearfix">
                <span class="niceCheck"><input type="checkbox" name="ch1" /></span>
                I agree with OptimaSales Terms &amp; Privacy Policy
            </p>
            -->
            <p class="without-label clearfix" style="padding-left:150px; padding-top:25px;"><input type="submit" value="" id="signup_submit" data-reveal-id="signup_success" /></p>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>


