<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Scale Financial - Terms Of Service</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	
	<!-- CSS
  ================================================== -->
	<!-- Normalize default styles -->
	<link rel="stylesheet" href="../frontend/css/normalize.css" media="screen" />
	<!-- Fonts -->
	<link rel="stylesheet" href="../frontend/css/fonts.css" media="screen" />
	<link rel="stylesheet" href="../frontend/css/brankic_font.css" media="screen" />
	<!-- Skeleton grid system -->
	<link rel="stylesheet" href="../frontend/css/skeleton.css" media="screen" />
	<!-- Base Template Styles-->
	<link rel="stylesheet" href="../frontend/css/base.css" media="screen" />
	<!-- Superfish Menu-->
	<link rel="stylesheet" href="../frontend/css/superfish.css" media="screen" />
	<!-- Template Styles-->
	<link rel="stylesheet" href="../frontend/css/style.css" media="screen" />
	<!-- PrettyPhoto -->
	<link rel="stylesheet" href="../frontend/css/prettyPhoto.css" media="screen" />
	<!-- Layout and Media queries-->
	<link rel="stylesheet" href="../frontend/css/layout.css" media="screen" />
	<!-- Onebyone styles-->
	<link rel="stylesheet" href="../frontend/css/jquery.onebyone.css" media="screen" />
	<!-- Animate CSS-->
	<link rel="stylesheet" href="../frontend/css/animate.min.css" media="screen" />
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie/ie8.css" media="screen" />
	<![endif]-->
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../frontend/favicon.ico">
	<link rel="apple-touch-icon" href="../frontend/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../frontend/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../frontend/images/apple-touch-icon-114x114.png">
	
	
	<!-- For Old Browsers
	================================================== -->
	<!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
	<![endif]-->
	
	
	
</head>
<body class="page home-page">

	<!-- Primary Page Layout
	================================================== -->
	
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
			
			
			<!-- BEGIN HEADER -->
			<header id="header">
				
				<!--Main Header-->
				<div id="main-header">
					<div class="container">
						<div class="grid_12" style="width: 950px;">
						
							<!-- BEGIN LOGO -->
							<div id="logo">
								<!-- Image based Logo-->
								<a href="index.html"><img src="../frontend/images/logo.png" alt=""/></a>
								
								
								<!-- Text based Logo
								<h1><a href="index.html"><span>Optima</span>Sales</a></h1>
								<p class="tagline">optimize your business</p>
								-->
								
							</div>
							<!-- END LOGO -->
							
							<!-- BEGIN NAVIGATION -->
                                                        
                                                    <div class="login-holder fright" style="margin-top: 8px; margin-left:11px;">
                                                        <!-- <a href="#" class="custom_a"></a> -->
                                                        <a class="btn_c btn-white" href="index.php/signin">SIGN IN</a>
                                                        <a class="btn_c btn-success" href="index.php/signup">SIGN UP</a>
                                                       <!-- <input data-reveal-id="signup"  type="button" value="SIGN UP" class="btn_c btn-success"> -->
                                                        
                                                    </div>
                                                        
                                                        
							<nav class="primary" style="margin-top: 3px;">
								<ul class="sf-menu">
									<!-- <li class="current-menu-item">
                                    	<a href="index.html">PRODUCTS</a>
									</li>-->
									<li class="">
                                    	<a href="index.html#products">PRODUCTS</a>
									</li>
									<li>
                                    	<a href="index.html#features">FEATURES</a>
									</li>
									<li>
                                    	<a href="index.html#pricing">PRICING</a>
									</li>
									<li>
                                    	<a href="index.html#customer">CUSTOMERS</a>
									</li>
									
									<li><a href="index.html#contactus">CONTACT</a>
                                    </li>
                                  
								</ul>
							</nav>
							<!-- END NAVIGATION -->
							
						</div>
					</div>
				</div>
				
			</header>
			<!-- END HEADER -->
			
			
			
			
			
			<!-- BEGIN CONTENT HOLDER -->
			<div id="content-wrapper" class="large-text">
			
			<section class="home-area indent" id="secondary-home-area" style="padding-top:55px;">
				<div class="container">
					<div class="grid_12 termsofservice" >
						<div style="margin-bottom: 20px; text-align:left; " class="intro-widget ">
							<h3 style="text-align: left; margin-bottom: 0px;">Terms of Service</h3>
						</div>

                        <p>Scale Financial is a service owned and operated by TRPS Inc. The following describes the Terms and Conditions (as amended or otherwise changed from time to time, the “Terms and Conditions”) applicable to the services available through the Scalefinancial.com web site (the “Site”) from TRPS Inc. By visiting the Site, you are accepting the Terms and Conditions described herein.</p>

                        <h4>Terms of Use of Our Site and Services</h4>
                        <p>The services that Scale Financial provides to You are subject to the following Terms of Use (referred to as Terms). Scale Financial reserves the right to change every kind of information on this site (including Terms) without further notice to You.</p>
                        <p>Scale Financial reserves the right to make this entire site and/or portions of this site inaccessible to certain parties. Parties who have been banned from accessing this site will receive a clear indication that they are not allowed to visit this site. Circumventing these implemented safeguards either by the use of anonymous proxies or any alternative method violates these terms and conditions.</p>
                        <p>If you have been banned from this site and continue to attempt to access this site, statistics of your attempts to visit this site as well as statistics related to violations of these terms and conditions will be made public.</p>

                        <h4>Our Limitation of Liability</h4>
                        <p>Under no circumstances shall Scale Financial be liable for any kind of damages indirect or consequential, including, without limitation loss of profits or revenues and/or costs of replacement goods and all damages resulting from (i) downloading of any software available, (ii) use of the information or materials present, (iii) Scale Financial’s failure to provide services, whether in action of contract, negligence or other tortuous action even if Scale Financial was informed in advance of the possibility of such damages.</p>

                        <h4>Software Downloads</h4>
                        <p>Any software that is made available to download from this site is the copyrighted work of Scale Financial and/or its suppliers. Such software shall be used in accordance with the respective terms of the End user license agreement (EULA) which accompanies the software. Any use of the Software not in accordance with the respective EULA is expressly prohibited.</p>

                        <h4>Use of Content on this Site</h4>
                        <p>All the information, communications, software, scripting, photos, text, video, graphics, music, sounds, images and other materials and services found on this site (collectively referred to as “Content”) are provided by Scale Financial as a service to its customers and may be used for informational and non-commercial or personal use only. The unauthorized copying, displaying, or other use of any Content from this site is a violation of the domestic and/or international legislation.</p>

                        <h4>Copyrights, Trademarks and Patents</h4>
                        <p>The trademarks, logos, and service marks (collectively “Trademarks”) appearing on the Scale Financial website are the property of TRPS Inc. and other parties. All Trademarks are provided for Your information and does not grant You a license to use them. Neither title nor intellectual property rights are transferred to You.</p>

                        <h4>Links to Third-Party Sites</h4>
                        <p>This site may provide links to other third-party sites. Scale Financial makes no representations whatsoever about any other site which You may access through this site. You acknowledge and agree that Scale Financial is not responsible for the content of any linked site or any link contained in a linked site.</p>
                        <p>References on this site to any names, marks, products or services of any third parties or hypertext links to third party sites or information are provided solely as a convenience to You. Scale Financial does not endorse or recommend content of such sites.</p>
                        <p>Mention of non Scale Financial products or services is for information purposes only and constitutes neither an endorsement nor a recommendation.</p>

                        <h4>Foreign Legislation</h4>
                        <p>Scale Financial does not warrant compliance with any foreign legislation. If you access the Site you are responsible for compliance with all local laws. This website is operated in the United States. If you are located outside of the United States, please be aware that any information you provide to us will be transferred to the United States. By using the website and/or providing us with any information, you consent to this transfer.</p>

                        <h4>ERO Agreement</h4>
                        <p>Before using the Scale Financial program and/or issuing any Scale Financial products or services the ERO (Electronic Return Originator approved by the IRS) agrees to the ERO agreement set forth by Scale Financial. This ERO agreement is made available to the ERO during their enrollment process.</p>

                        <h4>Disclaimer</h4>
                        <p>TRPS Inc. is not engaged in rendering legal, technical or other professional services or advice. Use of this site or the programs or information contained herein does not relieve the user of complete responsibility for all use of the information provided herein, in particular any personal income tax information, the operation and functionality of its computers and/or network, for the maintenance and backup of all user data, or for the preparation, content, accuracy, and review of all forms and information prior to submission. Use of products and services of TRPS Inc. and/or its suppliers and partners is subject to the terms and conditions of any applicable license agreement(s). There are no warranties, expressed or implied, including warranties of merchantability or fitness for a particular purpose, made with respect to the materials discussed or any other information provided to the user.</p>

					</div>



					<div style="clear:both;"></div>	
				</div>
			</section>	

</div>
			<!-- END CONTENT HOLDER -->
			
			
			<!-- BEGIN WIDGETS -->
			<section id="widgets">
				<div class="indent">
					<div class="container">
						<div class="grid_4 colborder" style="margin-left: 0px; margin-top: 16px;">
							<div class="extra-widget-area">
								<div class="inner" style="padding: 0px;">
								
									<!-- BEGIN REQUEST Widget -->
									<div class="widget widget-request">
										<img src="../frontend/images/logo.png" alt="" style="margin-left: 39px;">
										<h2 style="background-image: url('../frontend/images/phone.png'); background-position: left center; background-repeat: no-repeat;">832 858 1144</h2>
									</div>
									<!-- END REQUEST Widget -->
									
									
								</div>
							</div>
						</div>
						<div class="grid_3 colborder">
							<!-- BEGIN NAV Widget -->
							<div class="widget widget-nav">
								<h3>COMPANY</h3>
								<ul>
									<li><a href="index.html#products">Products</a></li>
									<li><a href="index.html#features">Features</a></li>
									<li><a href="index.html#pricing">Pricing</a></li>
									<li><a href="index.html#contactus">Contact</a></li>
									
									
								</ul>
							</div>
							<!-- END NAV Widget -->
						</div>
						<!-- BEGIN SOCIAL LINKS Widget -->
						<!-- 
						<div class="grid_3 colborder">
							
							<div class="widget widget-social">
								<h3>MORE LINKS</h3>
								<ul class="">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">Bank Products</a></li>
									<li><a href="#">Services</a></li>
									
								</ul>
							</div>
							
						</div>
						-->
						<!-- END SOCIAL LINKS Widget -->
						<div class="grid_3">
							<!-- BEGIN TWITTER Widget -->
							<div class="widget ">
								<h3>STAY CONNECTED</h3>
								<img style="margin-top:10px;" alt="" src="../frontend/images/socal_icons.png">
							</div>
							<!-- END TWITTER Widget -->
						</div>
						
						
					</div>
				</div>
			</section>
			<!-- END WIDGETS -->
			
			
			<!-- BEGIN FOOTER -->
			<footer id="footer">
				<div class="container">
					<div class="grid_12" style="text-align: center;">
						<small>&copy;2014 Scale Financial. All rights reserved.</small><a href="privacypolicy">Privacy policy</a> | <a href="termsofservice">Terms of Service</a>
					</div>
				</div>
			</footer>
			<!-- END FOOTER -->
			
		
	</div>
	<!-- END WRAPPER -->
	
	
	<!-- BEGIN MODAL WINDOWS -->
	
        <div id="signup_success" class="reveal-modal">
		<header class="reveal-modal-header">
			Success
		</header>
		<div class="cont">
			<form action="#"> 
                                <p class="clearfix">
					<label>Sign up Successful</label>	
				</p>
			</form>		
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<!-- END MODAL WINDOWS -->
	
	
	<!-- Javascript Files
	================================================== -->
	
	<!-- initialize jQuery Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../frontend/js/jquery-1.8.2.min.js"><\/script>')</script>
	<!-- Modernizr -->
	<script type="text/javascript" src="../frontend/js/modernizr.custom.14583.js"></script>
	<!-- Superfish Menu -->
	<script type="text/javascript" src="../frontend/js/superfish.js"></script>
	<!-- easing plugin -->
	<script type="text/javascript" src="../frontend/js/jquery.easing.min.js"></script>
	<!-- Prettyphoto -->
	<script type="text/javascript" src="../frontend/js/jquery.prettyPhoto.js"></script>
	<!-- Mobile Menu -->
	<script type="text/javascript" src="../frontend/js/jquery.mobilemenu.js"></script>
	<!-- Twitter -->
	<script type="text/javascript" src="../frontend/js/jquery.twitter.js"></script>
	<!-- Elastslide -->
	<script type="text/javascript" src="../frontend/js/jquery.elastislide.js"></script>
	<!-- Custom Checkbox -->
	<script type="text/javascript" src="../frontend/js/jquery.checkbox.js"></script>
	<!-- Reveal Modal -->
	<script type="text/javascript" src="../frontend/js/jquery.reveal.js"></script>
	<!-- Onebyone slider -->
	<script type="text/javascript" src="../frontend/js/jquery.onebyone.min.js"></script>
	<!-- Touchwipe -->
	<script type="text/javascript" src="../frontend/js/jquery.touchwipe.min.js"></script>
	<!-- Dropkick select -->
	<script type="text/javascript" src="../frontend/js/dropkick.js"></script>
	<!-- Custom radio-checkboxes -->
	<script type="text/javascript" src="../frontend/js/jquery.custom-radio-checkbox.js"></script>
	<!-- Tooltips (tipsy) -->
	<script type="text/javascript" src="../frontend/js/jquery.tipsy.js"></script>
	<!-- phone mask -->
	<script type="text/javascript" src="../frontend/js/jquery.maskedinput.js"></script>
	
	<!-- Custom -->
	<script type="text/javascript" src="../frontend/js/custom.js"></script>
        
        <script type="text/javascript" src="../frontend/js/custom_mainpage.js"></script>
        
        <script type="text/javascript" src="misc/scripts/js.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<!-- Onebyone slider init -->
	<script type="text/javascript">
                var url_server__ = '{curPageURLServer}'; 
                dir_theme = 'application/views/{dir_theme}/';
		var url_base_path__ = '{url_base_path}';
		
		 function forgotwindow(){
		    	//alert('ddd');
		    	$("#signup").hide();
		    	$(".forgot_div").show("slow", function() {
				// Animation complete.
				});	
		    }
		 

		
		function scrolFocus(e){
    $('html, body').animate({ scrollTop: $(e).offset().top - 60 }, 800);    
}
		
	</script>
	
</body>
</html>