<!-- New App tab -->
<table id="cancelled_insurance_apptable" class="table table-striped">
</table>
<!-- End New App tab -->
<div class="clear1"></div>


<!-- Javascript code only for this page -->
            
<script type="text/javascript">
var dataClient = [];
var heads = ["Name","Contact Info","Insurance","Created Date","Status","ERO","Action"];

function loadObject() {
    {dataLoad}
    loadClients();
}


function loadClients() {
    var htm = ''; 
    htm +='<thead>';
                htm +='<tr>';
                	
                    htm +='<th class="hidden-xs hidden-sm">'+heads[0]+'</th>';
                    htm +='<th>'+heads[1]+'</th>';
                    htm +='<th class="hidden-xs hidden-sm">'+heads[2]+'</th>';
                    htm +='<th class="hidden-xs hidden-sm">'+heads[3]+'</th>';
                    htm +='<th class="hidden-xs hidden-sm">'+heads[4]+'</th>';
                    htm +='<th class="hidden-xs hidden-sm">'+heads[5]+'</th>';
                    htm +='<th class="cell-small text-center">'+heads[6]+'</th>';
                htm +='</tr>';
    htm +='</thead>';
    htm +='<tbody>';
    
    for(var i = 0 ; i < dataClient.length ; i++){
           var obj = dataClient[i];
           var uid = obj.uid;
          // var appid = obj.app_id;
           var parent = 'body_insurance_info_edit';
           var count = 0;
             htm +='<tr>';
            
             htm +='<td class="text-left hidden-xs capitalize"><strong>'+obj.first_name+' '+obj.last_name+'</strong><br>XXX-XX-'+obj.ss_number.substring(7,11);+'</td>';
             htm +='<td><strong>'+obj.cell_phone+'</strong></td>';
             htm +='<td class="hidden-xs hidden-sm">';
             /*
             if(obj.products.length > 0){
               	for(var m = 0 ; m < obj.products.length ; m++){           		
               		obj_products_info = obj.products[m];
               		htm += obj_products_info.prodcut_name + "<br>";
               	}
               }*/
               htm += obj.insurance_item;
             htm +='</td>';
             htm +='<td>'+obj.format_date+'';
             var appststus = '';
             if(obj.insurance_status == '0')
            	 appststus = 'Pending';
             else if(obj.insurance_status == '1')
            	 appststus = 'Active';
             else if(obj.insurance_status == '2')
            	 appststus = 'Canceled';
             
             
             htm +='<td class="hidden-xs hidden-sm">'+appststus+'</td>';
             htm +='<td class="capitalize">'+obj.company_name+'</td>';
              htm +='<td class="text-center">';
                        htm +='<div class="btn-group">'; 
                        htm += '<a class="btn btn-xs btn-success EditApplication" rel="tooltip" title="Edit" data-toggle="tooltip" href="javascript:void(0)"  data-original-title="Edit" id =""  onclick="editInsurance(\''+obj.insurance_id+'\',\''+parent+'\')" >View</a>';
                       //  htm += '<a class="btn btn-xs btn-danger deleteEro" rel="tooltip" title="Delete" data-toggle="tooltip" href="#"  data-original-title="Delete" id ="" ><i class="icon-remove"></i></a>';   
                       htm += '</div>';
                htm += '</td>'
             
             

           htm +='</tr>';
    }
   htm +=' </tbody>';

    $("#cancelled_insurance_apptable").empty().append(htm);	
    
    //$("#state").empty().append('{states}');
    
}


$(function(){
	
	loadObject();
	clickToEditInsuranceInfo('body_insurance_info_edit');
	
	
	
	 $('#cancelled_insurance_apptable').dataTable( {
     	"sDom": 'T<"clear">lfrtip',
		"aaSorting": [[0,'asc']],
     	"oTableTools": {
 			//"aButtons": [ "xls", "pdf","copy", "print" ]
     		"aButtons": [
						{
						    "sExtends":     "xls",
						    "sButtonText": "Excel	",
                            "sFileName": "recentApplication-*.pdf",
						    "mColumns": [ 0, 1, 2, 3, 4, 5 ],
						    
						},
                 		{
                             "sExtends":     "pdf",
                            // "sButtonClass": "btn btn-primary",
                             "sButtonText": "PDF",
                             "sFileName": "recentApplication-*.pdf",
                             "sPdfOrientation": "landscape",
                             "mColumns": [ 0, 1, 2, 3, 4, 5],
                             
                         },
                         {
                             "sExtends":     "print",
                            // "sButtonClass": "btn btn-info",
                             "sButtonText": "Print",
                             "mColumns": [ 0, 1, 2, 3, 4, 5 ],
                             
                         },
                         
                 		]
 		},
 		"aoColumnDefs": [
  		                { 'bSortable': false, 'aTargets': [-1 ] }
  		             ]
     } );
	 $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
	
});
</script>