<div style="padding-top:20px;margin-bottom:20px; padding-left:24px;" class="col-md-12"><h2 style="margin:0px; color:#54565F;"><i class="icon-tools"></i> &nbsp;{title_page}</h2></div>

<div style="clear:both"></div>

<div style="" class="state-overview" >
<!-- Top part -->
	<div class="col-md-3">
		&nbsp;
	</div>
	
	<div class="col-md-3" style="text-align: center;">
		<h2 class="servcieh2">INSURANCE</h2>
		<div class="service_box" style="">
             <img alt="" src="../backend/img/services_insurance.png">
         </div>
         <a id="" href="{url_base_path}admin/services/insurance" class="btn btn-success"> &nbsp;<i class="icon-long-arrow-right"></i> &nbsp; VIEW DETAILS &nbsp; </a>
	</div>
	
	<div class="col-md-3" style="text-align: center;">
		<h2 class="servcieh2">DISCOUNT BENEFITS</h2>
		<div class="service_box" style="">
             <img alt="" src="../backend/img/services_benefits.png">
         </div>
         <a id="" href="{url_base_path}admin/services/benefits" class="btn btn-success"> &nbsp;<i class="icon-long-arrow-right"></i> &nbsp; VIEW DETAILS &nbsp; </a>
	</div>
	
	<div class="col-md-3">
		&nbsp;
	</div>
	
	<div style="clear:both"></div>
<!-- End Top Part -->



</div>

<!--script for this page only-->
   <!-- <script src="../backend/js/flot-chart.js"></script> -->
   