<div class="col-md-12" style="padding-top:33px;margin-bottom:25px; padding-left:24px;"><h2 style="margin:0px; color:#54565F;"><i class="icon-cart-add"></i> &nbsp;Supplies</h2></div>

<!-- <div class="col-md-12" style="padding-top:20px;margin-bottom:20px; padding-left:24px;"><h2 style="margin:0px; color:#54565F;"><i class="icon-cart-add"></i> Supplies</h2></div> -->
<!-- 
<ul data-toggle="tabs" class="nav nav-tabs push">
    <li class="active"><a href="#pending" onclick="">Pending</a></li>
    <li class=""><a href="#shipped"  onclick="">Shipped</a></li>
    <li class=""><a href="#orders">All Orders</a></li>
</ul>
<div class="tab-content tab-content-default">
    <div id="pending" class="tab-pane active"></div>
    <div id="shipped" class="tab-pane" > </div>
<div id="orders" class="tab-pane">
    This will be User Accounts
</div>
</div>
-->

<style>
<!--

-->
</style>
<div style="padding:25px 0px 15px 15px; background-color: #ebf1f5;">
<div class="col-md-4">
	<section class="panel">
		<header class="panel-heading">
            <span style="" class="title">
			   Checks
			</span>
            <span style="" class="tools pull-right icons">
              <i class="icon-cart-add"></i>
          </span>
        </header>
	    <div class="panel-body" style="padding: 0px">
	    	<div class="item-cell">
				<p class="thumb" style="padding-top:54px">
					<a href="javascript:void(0);">
						<img alt="White Tower of Power" src="../backend/img/steps/order_supplies.jpg">
					</a>
				</p>				
		<div class="item_bottom" style="background-color:#f5f9fd; height:70px;	">
			<div class="col-md-6" style="padding: 25px 0px 0px 23px;">
				<p class="price">$0.00</p>
			</div>
			<div class="col-md-6 text-right" style="padding: 20px 25px 0px 0px;">
				<form action="index.php/admin/orders/cart" method="post">
				<input type="hidden" name="item_name" value="Checks" />
				<input type="hidden" name="price" value="0.00" />
				 <input type="submit" class="btn  btn-success " name="submit" value="Order Now"  />
				 </form>
			</div>
			<div style="clear:both;"></div>
		</div>
			</div>	
	    </div>
	</section>
</div>

<div class="col-md-4">
	<section class="panel">
		<header class="panel-heading">
            <span style="" class="title">
			   Ink Stamp
			</span>
            <span style="" class="tools pull-right icons">
              <i class="icon-cart-add"></i>
          </span>
        </header>
	    <div class="panel-body" style="padding: 0px">
	    	<div class="item-cell">
				<p class="thumb" style="padding-top:px">
					<a href="javascript:void(0);">
						<img alt="White Tower of Power" src="../backend/img/order_items/InkStamp.jpg">
					</a>
				</p>				
		<div class="item_bottom" style="background-color:#f5f9fd; height:70px;	">
			<div class="col-md-6" style="padding: 25px 0px 0px 23px;">
				<p class="price">$0.00</p>
			</div>
			<div class="col-md-6 text-right" style="padding: 20px 25px 0px 0px;">
				<form action="index.php/admin/orders/cart" method="post">
				<input type="hidden" name="item_name" value="Ink Stamp" />
				<input type="hidden" name="price" value="10.00" />
				 <input type="submit" class="btn  btn-success " name="submit" value="Order Now"  />
				 </form>
			</div>
			<div style="clear:both;"></div>
		</div>
			</div>	
	    </div>
	</section>
</div>

<div class="col-md-4">
	<section class="panel">
		<header class="panel-heading">
            <span style="" class="title">
			   Pen
			</span>
            <span style="" class="tools pull-right icons">
              <i class="icon-cart-add"></i>
          </span>
        </header>
	    <div class="panel-body" style="padding: 0px">
	    	<div class="item-cell">
				<p class="thumb" style="padding-top:5px">
					<a href="javascript:void(0);">
						<img alt="White Tower of Power" src="../backend/img/order_items/pen.jpg">
					</a>
				</p>				
		<div class="item_bottom" style="background-color:#f5f9fd; height:70px;	">
			<div class="col-md-6" style="padding: 25px 0px 0px 23px;">
				<p class="price">$0.00</p>
			</div>
			<div class="col-md-6 text-right" style="padding: 20px 25px 0px 0px;">
				<form action="index.php/admin/orders/cart" method="post">
				<input type="hidden" name="item_name" value="Pen" />
				<input type="hidden" name="price" value="10.00" />
				 <input type="submit" class="btn  btn-success " name="submit" value="Order Now"  />
				 </form>
			</div>
			<div style="clear:both;"></div>
		</div>
			</div>	
	    </div>
	</section>
</div>


<div class="col-md-4">
	<section class="panel">
		<header class="panel-heading">
            <span style="" class="title">
			   Paper
			</span>
            <span style="" class="tools pull-right icons">
              <i class="icon-cart-add"></i>
          </span>
        </header>
	    <div class="panel-body" style="padding: 0px">
	    	<div class="item-cell">
				<p class="thumb" style="padding-top:5px">
					<a href="javascript:void(0);">
						<img alt="White Tower of Power" src="http://cdn-web.poppin.com/core/media/media.nl?id=221879&amp;c=3363929&amp;h=5379b91cccc9f1d4f28e">
					</a>
				</p>				
		<div class="item_bottom" style="background-color:#f5f9fd; height:70px;	">
			<div class="col-md-6" style="padding: 25px 0px 0px 23px;">
				<p class="price">$10.00</p>
			</div>
			<div class="col-md-6 text-right" style="padding: 20px 25px 0px 0px;">
				<form action="index.php/admin/orders/cart" method="post">
				<input type="hidden" name="item_name" value="Paper" />
				<input type="hidden" name="price" value="10.00" />
				 <input type="submit" class="btn  btn-success " name="submit" value="Order Now"  />
				 </form>
			</div>
			<div style="clear:both;"></div>
		</div>
			</div>	
	    </div>
	</section>
</div>


<div class="col-md-4">
	<section class="panel">
		<header class="panel-heading">
            <span style="" class="title">
			   Folders
			</span>
            <span style="" class="tools pull-right icons">
              <i class="icon-cart-add"></i>
          </span>
        </header>
	    <div class="panel-body" style="padding: 0px">
	    	<div class="item-cell">
				<p class="thumb" style="padding-top:5px">
					<a href="javascript:void(0);">
						<img alt="White Tower of Power" src="../backend/img/order_items/file.bundle.1_c.jpg">
					</a>
				</p>				
		<div class="item_bottom" style="background-color:#f5f9fd; height:70px;	">
			<div class="col-md-6" style="padding: 25px 0px 0px 23px;">
				<p class="price">$10.00</p>
			</div>
			<div class="col-md-6 text-right" style="padding: 20px 25px 0px 0px;">
				<form action="index.php/admin/orders/cart" method="post">
				<input type="hidden" name="item_name" value="Folders" />
				<input type="hidden" name="price" value="10.00" />
				 <input type="submit" class="btn  btn-success " name="submit" value="Order Now"  />
				 </form>
			</div>
			<div style="clear:both;"></div>
		</div>
			</div>	
	    </div>
	</section>
</div>
<div class="col-md-4">
	<section class="panel">
		<header class="panel-heading">
            <span style="" class="title">
			   Staplers
			</span>
            <span style="" class="tools pull-right icons">
              <i class="icon-cart-add"></i>
          </span>
        </header>
	    <div class="panel-body" style="padding: 0px">
	    	<div class="item-cell">
				<p class="thumb" style="padding-top:5px">
					<a href="javascript:void(0);">
						<img alt="White Tower of Power" src="../backend/img/order_items/staplers.jpg">
					</a>
				</p>				
		<div class="item_bottom" style="background-color:#f5f9fd; height:70px;	">
			<div class="col-md-6" style="padding: 25px 0px 0px 23px;">
				<p class="price">$10.00</p>
			</div>
			<div class="col-md-6 text-right" style="padding: 20px 25px 0px 0px;">
				<form action="index.php/admin/orders/cart" method="post">
				<input type="hidden" name="item_name" value="Staplers" />
				<input type="hidden" name="price" value="10.00" />
				 <input type="submit" class="btn  btn-success " name="submit" value="Order Now"  />
				 </form>
			</div>
			<div style="clear:both;"></div>
		</div>
			</div>	
	    </div>
	</section>
</div>
<div style="clear: both;">&nbsp;</div>
</div>

<!-- 
<div class="itemlist" style="display: block;">
<div class="item-cell">
<p class="thumb">
	<a href="javascript:void(0);">
		<img alt="White Tower of Power" src="../backend/img/steps/order_supplies.jpg">
	</a>
</p>

<h2 style="height: 25px; font-size:17px; margin-top:5px; text-align: center;"><a href="javascript:void(0);">Checks</a></h2>
<p class="price">$0.00</p>
<div class="div__addtocart">
	<div class="div__addtocart1">
	<form action="index.php/admin/orders/cart" method="post">
	<input type="hidden" name="item_name" value="Checks" />
	<input type="hidden" name="price" value="0.00" />
	 <input type="submit" class="btn btn-xs  btn-primary " name="submit" value="Order Now"  />
	 </form>
	</div>
</div>
</div>


<div class="item-cell">
<p class="thumb">
	<a href="javascript:void(0);">
		<img alt="White Tower of Power" src="../backend/img/order_items/InkStamp.jpg">
	</a>
</p>

<h2 style="height: 25px; font-size:17px; margin-top:5px; text-align: center;"><a href="javascript:void(0);">Ink Stamp</a></h2>
<p class="price">$10.00</p>
<div class="div__addtocart">
	<div class="div__addtocart1">
	<form action="index.php/admin/orders/cart" method="post">
	<input type="hidden" name="item_name" value="Ink Stamp" />
	<input type="hidden" name="price" value="10.00" />
	 <input type="submit" class="btn btn-xs  btn-primary " name="submit" value="Order Now"  />
	 </form>
	</div>
</div>
</div>

<div class="item-cell">
<p class="thumb">
	<a href="javascript:void(0);">
		<img alt="White Tower of Power" src="../backend/img/order_items/pen.jpg">
	</a>
</p>

<h2 style="height: 25px; font-size:17px; margin-top:5px; text-align: center;"><a href="javascript:void(0);">Pens</a></h2>
<p class="price">$10.00</p>
<div class="div__addtocart">
	<div class="div__addtocart1">
	<form action="index.php/admin/orders/cart" method="post">
	<input type="hidden" name="item_name" value="Pens" />
	<input type="hidden" name="price" value="10.00" />
	 <input type="submit" class="btn btn-xs  btn-primary " name="submit" value="Order Now"  />
	 </form>
	</div>
</div>
</div>

<div class="item-cell">
<p class="thumb">
	<a href="javascript:void(0);">
		<img alt="White Tower of Power" src="http://cdn-web.poppin.com/core/media/media.nl?id=221879&amp;c=3363929&amp;h=5379b91cccc9f1d4f28e">
	</a>
</p>

<h2 style="height: 25px; font-size:17px; margin-top:5px; text-align: center;"><a href="javascript:void(0);">Paper</a></h2>
<p class="price">$10.00</p>
<div class="div__addtocart">
	<div class="div__addtocart1">
	<form action="index.php/admin/orders/cart" method="post">
	<input type="hidden" name="item_name" value="Paper" />
	<input type="hidden" name="price" value="10.00" />
	 <input type="submit" class="btn btn-xs  btn-primary " name="submit" value="Order Now"  />
	 </form>
	</div>
</div>
</div>
<span class="sep-item-list-rows"></span>
<div class="item-cell">
<p class="thumb">
	<a href="javascript:void(0);">
		<img alt="White Tower of Power" src="../backend/img/order_items/file.bundle.1_c.jpg">
	</a>
</p>

<h2 style="height: 25px; font-size:17px; margin-top:5px; text-align: center;"><a href="index.php/admin/orders/cart">Folders</a></h2>
<p class="price">$10.00</p>
<div class="div__addtocart">
	<div class="div__addtocart1">
	<form action="index.php/admin/orders/cart" method="post">
	<input type="hidden" name="item_name" value="Folders" />
	<input type="hidden" name="price" value="10.00" />
	 <input type="submit" class="btn btn-xs  btn-primary " name="submit" value="Order Now"  />
	 </form>
	</div>
</div>
</div>

<div class="item-cell">
<p class="thumb">
	<a href="javascript:void(0);">
		<img alt="White Tower of Power" src="../backend/img/order_items/staplers.jpg">
	</a>
</p>

<h2 style="height: 25px; font-size:17px; margin-top:5px; text-align: center;"><a href="index.php/admin/orders/cart">Staplers</a></h2>
<p class="price">$10.00</p>
<div class="div__addtocart">
	<div class="div__addtocart1">
	<form action="index.php/admin/orders/cart" method="post">
	<input type="hidden" name="item_name" value="Staplers" />
	<input type="hidden" name="price" value="10.00" />
	 <input type="submit" class="btn btn-xs  btn-primary " name="submit" value="Order Now"  />
	 </form>
	</div>
</div>
</div>

</div>

-->
<!-- Javascript code only for this page -->
        <script>
        
            var url_base_path__ = '{url_base_path}';
            $(function() {
            	
                // Initialize dash Datatables
                
                //$('#toppart').remove();
            });
        </script>
