<link rel='stylesheet' type='text/css' href='../fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='../fullcalendar/fullcalendar.print.css' media='print' />
<style type="text/css">
#order_info{
	clear:both;
	float:right;
	overflow:hidden;
	
	background: #DADADABBB;
}
.box_filter{
	clear:both;
	overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:3px solid #ACABAB;
	padding:3px 5px;
}
.osX .jScrollPaneDrag {
    background: none repeat scroll 0 0 #ACABAB;
}
#external-events {
	float: left;
	width: 150px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	float: right;
	width: 900px;
}
</style>
<div class="breadcrumb"><a href="javascript:void(0)" onclick="goHome()">Home</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href="index.php?q=items/cart">Shopping Cart</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="backToCcInfo();">Billing & Delivery</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;view order &amp; submit</div>
<div class="divPageTitle">view order &amp; submit</div>
<form name="order_confirm_form" id="order_confirm_form" method="post" action="">
    <div style="clear:both; overflow:hidden; padding-top:20px; width:100%">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="left" valign="top"><b>Order Date:</b><br /><!--order_date--></td>
                <td align="left" valign="top" style="padding-left:5px">
                    <b>Ship To Address:</b><br /><!--shippingName--><br /><!--shippingAddress--><br /><!--shippingCity--><br /><!--shippingPhone-->
                </td>
                <td align="left" valign="top" style="padding-left:5px">
                    <b>Billing Address:</b><br /><!--billingName--> <!--billing_LastName--><br /><!--billingAddress--><br /><!--billingCity--><br /><!--billingPhone--><br /><a href="mailto:<!--billingEmail-->"><!--billingEmail--></a>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both; width:100%; overflow:hidden; padding-top:20px" id="shopping_listings"></div>
    
    <div style="clear:both; width:100%; overflow:hidden; padding-top:5px;" id="auto_delivery_order"></div>
    
    <div style="float:left; clear:both; width:330px; margin-top:20px">
    	<div style="clear:both; font-weight:bold; padding:5px; background:#666; color:#ffffff">Payment Information</div>
        <div style="clear:both;">
            <div style="clear:both; padding-top:10px; font-weight:bold">
                <input type="checkbox" id="check_commission" class="input-checkbox" onclick="showOrderValue()"/> &nbsp;MyWallet Account: $<span id="MyWallet_value">0.00</span>
            </div>
    	</div>
        <div style="clear:both; padding-top:10px; font-weight:bold">
        	<div style="padding:3px 5px; background-color:#F7961E; color:#FFF; width:40px; text-align:center; font-size:12px" >OR</div>
        </div>
        <div style="clear:both; padding-top:10px; display:block" id="credit_card_payment">
        	<table cellpadding="0" cellspacing="0" border="0">
            	<tr>
                	<td align="left" valign="middle" style="font-weight:bold" colspan="2">Credit card payment</td>
                </tr>
            	<tr>
            		<td align="left" valign="middle" style="padding-right:5px; font-weight:bold">Card #:</td>
            		<td height="27px" align="left" valign="middle">
            			<input class="input-text" name="creditcard" value=""  style="width:225px;" maxlength="16" autocomplete="off" id="creditcard" type="text">
            		</td>
            	</tr>
            	<tr>
            		<td align="left" valign="middle" style="padding-right:5px; font-weight:bold">Exp:</td>
            		<td height="27px" align="left" valign="middle"> 
            			<div style="float:left;"><!--cc_Month--></div>
            			<div style="float:left; width:75px; text-align:center">&nbsp;/&nbsp;</div>
            			<div style="float:right;"><!--cc_Year--></div>
            		</td>
            	</tr>
            	<tr>
            		<td align="left" valign="middle" style="padding-right:5px; font-weight:bold">CVC:</td>
            		<td height="27px" align="left" valign="middle">
            			<div style="float:left; width: 20px"><input class="input-text" n="5" style="width:70px;" name="cc_Cvv" maxlength="4" id="cc_Cvv" autocomplete="off" type="text" value="" onkeypress="return isNumberIntKey(event)" ></div>
            			<div style="background:url(../images/cart_types.jpg); width:98px; height:19px; float:right; margin:3px 0px"></div>
            		</td>
            	</tr>
            </table>
        </div>
    </div>
    <div style="float:right; overflow:hidden; margin-top:20px">
        <div id="loadVallet"></div>
    	<table cellpadding="0" cellspacing="0" border="0" width="100%">
        	<tr>
            	<td align="left" valign="top" id="showCommissionAC" style="display:none">
                    <div style="clear:both; width:431px; height:41px; background:url(../images/title_commission.png) no-repeat"></div>
                    <div style="clear:both; overflow:hidden; padding-top:10px">
                    	<table cellpadding="0" cellspacing="0" border="0">
                        	<tr>
                            	<td align="left" valign="middle"><img src="../images/check02.png" border="0" style="cursor:pointer" id="Store" onclick="checkOnly(this)" /></td>
                                <td align="left" valign="middle" style="color:#003a7c; font-size:20px; font-weight:bold">Store Name</td>
                                <td align="left" valign="middle" style="padding-left:20px"><img src="../images/check02.png" border="0" style="cursor:pointer" id="charity" onclick="checkOnly(this)" /></td>
                                <td align="left" valign="middle" style="color:#003a7c; font-size:20px; font-weight:bold">Charity</td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear:both; overflow:hidden; padding-top:10px; width:440px" id="search_result_commission">
                    	<div class="box_filter">
                        	<div style="float:left; width:65px; font-weight:bold">Key word:</div>
                            <div style="float:left">
                            	<input type="text" id="revenue" name="revenue" style="width:355px; border:0px solid #ffffff; height:16px" />
                            </div>
                        </div>
                        <div style="clear:both; margin-top:5px; overflow:hidden" id="result_value"></div>
                    </div>
                </td>
                <td align="right" valign="top">
                	<div style="clear:both; font-weight:bold; padding:5px 10px; background:#666; color:#ffffff" align="right">Order Total</div>
          			<div id="order_info"></div>	
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both; overflow:hidden; padding-top:20px; width:100%" align="right">
        <DIV id="pagesnext" style="overflow:hidden; height:25px"><input type="button" class="button" value="Back" onclick="backToCcInfo();" /><input type="button" class="button" value="Submit Order" onclick="submitOrder();" style="margin-left:10px; margin-right:0px" /></DIV>
    </div> 
    <input type="hidden" id="shipping_Name" name="shipping_Name" value="<!--shippingName-->" />
    <input type="hidden" id="shipping_Address" name="shipping_Address" value="<!--shippingAddress-->" />
    <input type="hidden" id="shipping_City" name="shipping_City" value="<!--shipping_City-->" />
    <input type="hidden" id="shipping_State" name="shipping_State" value="<!--shipping_State-->" />
    <input type="hidden" id="shipping_Country" name="shipping_Country" value="<!--shipping_Country-->" />
    <input type="hidden" id="shipping_Zip" name="shipping_Zip" value="<!--shipping_Zip-->" />
    <input type="hidden" id="shipping_Phone" name="shipping_Phone" value="<!--shippingPhone-->" />
    <input type="hidden" id="billing_Name" name="billing_Name" value="<!--billingName-->" />
    <input type="hidden" id="billing_LastName" name="billing_LastName" value="<!--billing_LastName-->" />
    <input type="hidden" id="billing_Address" name="billing_Address" value="<!--billingAddress-->" />
    <input type="hidden" id="billing_City" name="billing_City" value="<!--billing_City-->" />
    <input type="hidden" id="billing_State" name="billing_State" value="<!--billing_State-->" />
    <input type="hidden" id="billing_Country" name="billing_Country" value="<!--billing_Country-->" />
    <input type="hidden" id="billing_Zip" name="billing_Zip" value="<!--billing_Zip-->" />
    <input type="hidden" id="billing_Phone" name="billing_Phone" value="<!--billingPhone-->" />
    <input type="hidden" id="billing_Email" name="billing_Email" value="<!--billingEmail-->" />
    <input type="hidden" id="shipping_Check" name="shipping_Check" value="<!--shipping_Check-->" />
    <input type="hidden" id="discount_type" name="discount_type" value="0" />
    <input type="hidden" id="discount_value" name="discount_value" value="@discount@" />
    <input type="hidden" id="ship_state" value="@ship_state@" />
    <input type="hidden" id="venue_value" name="venue_value" value="" />
</form>
<script type='text/javascript' src='../fullcalendar/fullcalendar.min.js'></script>
<script language="javascript">
var suptotal = 0, total_Tax = 0,total_commission = 0, shipping = [], tax_rates = [], Venues = [], dataCarts = [], dataPromotions = [], dataSales = [], data_StoreName = [];
var data_SalesRep = [], data_Charity = [], check_com = '', rid = 1, commissions = 0, count = 1;

var dataOrdersCarts = [];
var dataOrdersPromotions = [];
function loadObjectOrders(){
	ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
	$.post("index.php?q=payment/order_confirm_delivery",{
		loadObjectOrders:'yes',
		shipping_State:document.getElementById("shipping_State").value,
		shipping_Country:document.getElementById("shipping_Country").value,
		shipping_Zip:document.getElementById("shipping_Zip").value,
		shipping_City:document.getElementById("shipping_City").value,
		shipping_Address:document.getElementById("shipping_Address").value,
		shipping_Name:document.getElementById("shipping_Name").value,
		shipping_Phone:document.getElementById("shipping_Phone").value
	},function(data){
		HideLoadingObj(document.getElementById("content_load"));
		if(typeof(data) == 'object'){
			shipping = data.shippings;
			tax_rates = data.taxs;
			dataOrdersCarts = data.shopping;
			dataOrdersPromotions = data.promotions;
			commissions = data.commissions;
		}
		loadShoppingList();
		showOrderInfo();
		showOrderValue();
                showMyvallet();
	}, "json");
}
var obj = [];

function loadShoppingList(){
	var str_next = '';
	var str_content = '';
	str_content += '<table cellpadding="0" width="100%" cellspacing="0" border="0" class="table-per">';
	str_content += '	<thead>';
	str_content += '		<tr style="background-color:#F1F1F1">';
	str_content += '			<th align="left" valign="middle" class="th-per" colspan="2">Description</th>';
	str_content += '			<th width="10" class="th-per" align="center" valign="middle">|</th>';
	str_content += '			<th align="left" valign="middle" class="th-per">Price</th>';
	str_content += '			<th width="10" class="th-per" align="center" valign="middle">|</th>';
	str_content += '			<th align="left" valign="middle" class="th-per">Quantity</th>';
	str_content += '			<th width="10" class="th-per" align="center" valign="middle">|</th>';
	str_content += '			<th align="right" valign="middle" class="th-per">Total</th>';
	str_content += '		</tr>';
	str_content += '	</thead>';
	if(dataOrdersCarts.length > 0){
		var schedule_deli = 0;
		for(var or = 0; or < dataOrdersCarts.length; or++){
			var subOrderTotal = 0;
			dataCarts = dataOrdersCarts[or].items_content;
			if(dataCarts == null || dataCarts == '') continue;
			dataPromotions = dataOrdersPromotions[or].items_content;
			if(dataCarts.length > 0){
				
				schedule_deli++;
				
				str_content += '	<tbody>';
				str_content += '		<tr class="tr-row" style="background-color:#666666;">';
				str_content += '			<td width="95px" align="left" valign="center" class="td-row" style="padding-top:5px; padding-bottom:5px; font-weight:bold; color:#FFF ">Schedule '+(schedule_deli)+'</td>';
				str_content += '			<td align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px"></td>';
				str_content += '			<td class="td-row"></td>';
				str_content += '			<td align="left" valign="middle" class="td-row">&nbsp;</td>';
				str_content += '			<td class="td-row"></td>';
				str_content += '			<td align="center" valign="middle" class="td-row">&nbsp;</td>';
				str_content += '			<td class="td-row"></td>';
				str_content += '			<td align="right" valign="middle" class="td-row">&nbsp;</td>';
				str_content += '		</tr>';
				
				for(var i = 0; i < dataCarts.length; i++){
					var obj = dataCarts[i];
					var price = parseFloat(obj.itm_price);
					var attributes__ = '';
					if(typeof(obj.attributes) == 'object'){
						for(var j = 0; j < obj.attributes.length; j++){
							var at_price = Math.round(parseFloat(obj.attributes[j].price)*100)/100;
							price += at_price;
							attributes__ += '<br><b>' + obj.attributes[j].label + ': </b>' + obj.attributes[j].name;
							if(at_price > 0){
								attributes__ += '&nbsp;&nbsp;(+$'+formatAsMoney(at_price)+')';	
							}	
						}	
					}
					
					var qty = parseInt(obj.qty, 10);
					if(qty <= 0) continue;
					
					price = Math.round(price*100)/100;
					var new_price = price;
					
					var promotions_row = '';
					var arr_show_promotions = [];
					for(var k = 0; k < dataPromotions.length; k++){
						if(parseInt(dataPromotions[k].promo_type, 10) == 2 && dataPromotions[k].product_key == obj.itm_key){	//Free Products
							var bac_qty = parseInt(qty / parseInt(dataPromotions[k].minqty, 10), 10);
							var qty_free = bac_qty * parseFloat(dataPromotions[k].freeqty);
							
							promotions_row += '		<tr class="tr-row" style="background-color:#DADADA;">';
							promotions_row += '			<td width="90px" align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px"><img src="data/img/thumb/'+dataPromotions[k].file+'" border="0" /></td>';
							promotions_row += '			<td align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px">';
							
							promotions_row += '			<div style="clear:both"><a href="index.php/shop/item_details?itemid='+dataPromotions[k].itm_key+'" style="font-weight:bold">'+ConvertToHTML(dataPromotions[k].itm_name)+'</a><br><b>Model: </b>'+ConvertToHTML(dataPromotions[k].itm_model) + '</div>';
							
							promotions_row += '			<div style="clear:both; padding-top:10px">';
							promotions_row += '				<table cellpadding="0" cellspacing="0" border="0">';
							promotions_row += '					<tr>';
							promotions_row += '						<td align="left" valign="top"><img src="../images/ico-gift.png" border="0" width="20px" /></td>';
							promotions_row += '						<td align="left" valign="top" style="padding-left:10px; font-weight:bold; font-size:16px; color:#EEE">Free Products</td>';
							promotions_row += '					</tr>';
							promotions_row += '				</table>';
							promotions_row += '			</div>';
							
							promotions_row += '			</td>';
							promotions_row += '			<td class="td-row"></td>';
							promotions_row += '			<td align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px">$0.00</td>';
							promotions_row += '			<td class="td-row"></td>';
							promotions_row += '			<td align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px">'+number_format(qty_free)+'</td>';
							promotions_row += '			<td class="td-row"></td>';
							promotions_row += '			<td align="right" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px">$0.00</td>';
							promotions_row += '		</tr>';
						}
						if(obj.itm_key == dataPromotions[k].itm_key){
							var discount_type = parseInt(dataPromotions[k].discount_type, 10);
							var discount = parseFloat(dataPromotions[k].discount);
							var promo_type = parseInt(dataPromotions[k].promo_type, 10);
							if(promo_type == 1){
								if(discount_type == 0){
									new_price -= price * discount / 100;
								}else{
									new_price -= discount;	
								}	
							}
							var arr_show_promotions_step = new Object();
							arr_show_promotions_step.promo_type = promo_type;
							arr_show_promotions_step.discount_type = discount_type;
							arr_show_promotions_step.discount = discount;
							
							var check_exist_pro = false;
							for(var p = 0; p < arr_show_promotions.length; p++){
								if(arr_show_promotions[p].promo_type == promo_type && arr_show_promotions[p].discount_type == discount_type){
									arr_show_promotions[p].discount += discount;
									check_exist_pro = true;
									break;	
								}	
							}
							if(check_exist_pro == false) arr_show_promotions[arr_show_promotions.length] = arr_show_promotions_step;	
						}	
					}
					var promotions_ = '';
					for(var p = 0; p < arr_show_promotions.length; p++){
						switch(arr_show_promotions[p].promo_type){
							case 1:
								var discount = '';
								if(discount_type == 0){
									discount = number_format(arr_show_promotions[p].discount) + '%';	
								}else{
									discount = '$' + formatAsMoney(arr_show_promotions[p].discount);	
								}
								promotions_ += '<div style="clear:both; padding-top:10px">';
								promotions_ += '<table cellpadding="0" cellspacing="0" border="0">';
								promotions_ += '	<tr>';
								promotions_ += '		<td align="left" valign="top"><img src="../images/ico-gift.png" border="0" width="20px" /></td>';
								promotions_ += '		<td align="left" valign="top" style="padding-left:10px; font-weight:bold; font-size:16px; color:#EEE">Product Discounts: '+discount+'</td>';
								promotions_ += '	</tr>';
								promotions_ += '</table>';
								promotions_ +='</div>';
								break;
							case 3:
								var discount = '';
								if(arr_show_promotions[p].discount_type == 0){
									discount = number_format(arr_show_promotions[p].discount) + '%';	
								}else{
									discount = '$' + formatAsMoney(arr_show_promotions[p].discount);	
								}
								promotions_ += '<div style="clear:both; padding-top:10px">';
								promotions_ += '<table cellpadding="0" cellspacing="0" border="0">';
								promotions_ += '	<tr>';
								promotions_ += '		<td align="left" valign="top"><img src="../images/ico-gift.png" border="0" width="20px" /></td>';
								promotions_ += '		<td align="left" valign="top" style="padding-left:10px; font-weight:bold; font-size:16px; color:#EEE">Shipping Discounts: '+discount+'</td>';
								promotions_ += '	</tr>';
								promotions_ += '</table>';
								promotions_ +='</div>';
								break;
							case 4:
								promotions_ += '<div style="clear:both; padding-top:10px">';
								promotions_ += '<table cellpadding="0" cellspacing="0" border="0">';
								promotions_ += '	<tr>';
								promotions_ += '		<td align="left" valign="top"><img src="../images/ico-gift.png" border="0" width="20px" /></td>';
								promotions_ += '		<td align="left" valign="top" style="padding-left:10px; font-weight:bold; font-size:16px; color:#EEE">Free Shippings</td>';
								promotions_ += '	</tr>';
								promotions_ += '</table>';
								promotions_ +='</div>';
								break;
						}
					}
					
					if(new_price < 0) new_price = 0;
					new_price = Math.round(new_price*100)/100;
					var total = new_price * qty;
					total = Math.round(total*100)/100;
					subOrderTotal += total;
					suptotal += total;
                                        
                                        total_commission += (obj.total_commission* qty);//insert code here
					
					var price_show = formatAsMoney(price);
					if(new_price != price) price_show = formatAsMoney(new_price) + '<br><span style="text-decoration:line-through">$'+formatAsMoney(price)+'</span>';
					
					str_content += '		<tr class="tr-row" style="background-color:#DADADA;">';
					str_content += '			<td width="95px" align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px"><img src="data/img/thumb/'+obj.file+'" border="0" /></td>';
					str_content += '			<td align="left" valign="top" class="td-row" style="padding-top:5px; padding-bottom:5px">';
					str_content += '			<div style="clear:both"><a href="index.php/shop/item_details?itemid='+obj.itm_key+'" style="font-weight:bold">'+ConvertToHTML(obj.itm_name)+'</a><br><b>Model: </b>'+ConvertToHTML(obj.itm_model)+attributes__ + '</div>';
					str_content += promotions_;
					
					str_content += '			</td>';
					str_content += '			<td class="td-row"></td>';
					str_content += '			<td align="left" valign="top" class="td-row">$'+price_show+'</td>';
					str_content += '			<td class="td-row"></td>';
					str_content += '			<td align="left" valign="top" class="td-row">'+number_format(qty)+'</td>';
					str_content += '			<td class="td-row"></td>';
					str_content += '			<td align="right" valign="top" class="td-row">$'+formatAsMoney(total)+'</td>';
					str_content += '		</tr>';
					
					str_content += promotions_row;
				}
				str_content += '	</tbody>';
			}else{
				str_content += '	<tbody>';
				str_content += '		<tr class="tr-row" style="background-color:#666666; border-radius:5px">';
				str_content += '			<td width="95px" height="30" align="left" valign="middle" class="td-row" style="font-weight:bold; ">Schedule '+(schedule_deli)+'</td>';
				str_content += '			<td align="left" valign="middle" class="td-row"></td>';
				str_content += '			<td class="td-row"></td>';
				str_content += '			<td align="left" valign="top" class="td-row">&nbsp;</td>';
				str_content += '			<td class="td-row"></td>';
				str_content += '			<td align="left" valign="top" class="td-row">&nbsp;</td>';
				str_content += '			<td class="td-row"></td>';
				str_content += '			<td align="left" valign="top" class="td-row">&nbsp;</td>';
				str_content += '		</tr>';
				str_content += '		<tr style="background-color:#DADADA;>';
				str_content += '			<td style="padding:10px">Empty Item</td>';
				str_content += '		</tr>';
				str_content += '	</tbody>';	
			}
			str_content += '		<tr style="background-color:#DADADA; border-top:1px solid #D3D2D2" >';
			str_content += '			<td align="right" style="padding-right:4px;" height="24" colspan="7" valign="middle"><b>Subtotal: </b></td>';
			str_content += '			<td align="right" style="padding-right:4px;" height="24" valign="middle"><span>$'+formatAsMoney(subOrderTotal)+'</span></td>';
			str_content += '		</tr>';
			
			var total_t = 0;
			
			var tax_schedule = [];
			for(t = 0; t < tax_rates.length; t++){
				if(tax_rates[t].ckey == dataOrdersCarts[or].ckey){
					tax_schedule = tax_rates[t].arr_taxs;
					break;
				}
			}
			
			if(tax_schedule.length > 0){
				str_content += '	<tr style="background-color:#DADADA;"><td colspan="8" height="10px"></td></tr>'; 
				str_content += '	<tr style="background-color:#DADADA;">';
				str_content += '		<td colspan="7" align="right" valign="middle"><b>Sales tax :</b></td>';
				str_content += '		<td align="right" valign="middle" style="padding-left:20px">&nbsp;</td>';
				str_content += '	</tr>';
				for(var ie = 0; ie < tax_schedule.length; ie++){
					var rate_value = 0;
					if(parseFloat(tax_schedule[ie].rate) > 0){
						rate_value = parseFloat(tax_schedule[ie].tax_item_total);
						rate_value = Math.round(rate_value*100)/100;
						total_t += rate_value;
					}
					str_content += '	<tr style="background-color:#DADADA;">';
					str_content += '		<td colspan="7" align="right" valign="middle">'+ConvertToHTML(tax_schedule[ie].name)+' :</td>';
					str_content += '		<td align="right" valign="middle" style="padding-right:4px;">$'+formatAsMoney(rate_value)+'</td>';
					str_content += '	</tr>';		
				}
			}
			var schedule_ship = 0;
			if(shipping.length >0){
				for(var sp = 0; sp < shipping.length; sp++){
					if(shipping[sp].ckey == dataOrdersCarts[or].ckey){
						var shipp = shipping[sp].item;
						if(shipp.length > 0){
							str_content += '	<tr style="background-color:#DADADA;"><td colspan="8" height="10px"></td></tr>'; 
							var check__ = false;
							for(var ef = 0; ef < shipp.length; ef++){
								shipValue = shipp[ef].price;	
								var check = '';
								if(check__ == false){
									schedule_ship = shipp[ef].price;
									check__ = true;
									check = 'checked="checked"'; 
								}
								str_content += '	<tr style="background-color:#DADADA;">';
								str_content += '		<td align="right" colspan="7" valign="middle"><table cellpadding="0" cellspacing="0" border="0"><tr><td align="left" valign="middle">'+ConvertToHTML(shipp[ef].label)+'</td><td align="left" valign="middle" style="padding-left:4px"><input name="sipping_'+or+'[]" type="radio" value="'+parseFloat(shipValue)+'<|>'+shipp[ef].skey+'" '+check+' onclick="showOrderTotal(\''+or+'\','+parseFloat(subOrderTotal)+','+parseFloat(total_t)+');" style="cursor:pointer; background:#fff; border:0px" /></td><td align="left" valign="middle" style="padding-left:4px">:</td></tr></table></td>';
								str_content += '		<td align="right" valign="middle" style="padding-right:4px;">$'+formatAsMoney(shipValue)+'</td>';
								str_content += '	</tr>';			
							}	
							str_content += '	<tr style="background-color:#DADADA;"><td colspan="8" height="10px"></td></tr>'; 
						}
					}
				}
			}
			var schedule_total = parseFloat(subOrderTotal) + parseFloat(total_t) + parseFloat(schedule_ship);
			
			str_content += '		<tr style="background-color:#DADADA;" >';
			str_content += '			<td align="right" style="padding-right:4px;" height="24" colspan="5" valign="middle">&nbsp;</td>';
			str_content += '			<td align="right" style="padding-right:4px; border-top:1px solid #D3D2D2" height="24" colspan="2" valign="middle"><b>Total: </b></td>';
			str_content += '			<td align="right" style="padding-right:4px; border-top:1px solid #D3D2D2" height="24" valign="middle"><span style="color:#FFAB11" id="schedule_total_'+or+'"><b>$'+formatAsMoney(schedule_total)+'</b></span><input type="hidden" id="schedule_tot_'+or+'" value="'+schedule_total+'"/></td>';
			str_content += '		</tr>';
			str_content += '		<tr style="background-color:#DADADA; border-top:1px solid #D3D2D2" >';
			str_content += '			<td align="right" style="padding-right:4px;" height="24" colspan="8" valign="middle">Schedule of Delivery '+schedule_deli+': <span style="color:#FFAB11">'+dataOrdersCarts[or].cdate+'</span></td>';
			str_content += '		</tr>';
			str_content += '		<tr>';
			str_content += '			<td height="30px" colspan="8"></td>';
			str_content += '		</tr>';
		}
	}
	str_content += '</table>';

	$("#shopping_listings").empty().append(str_content);
	$('.table-per').fixedtableheader();  
}
function loadVenueLocations(){
	ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
	$.post("index.php?q=payment/order_confirm_delivery", {
		loadVenues:'yes'
	},function(data){
		HideLoadingObj(document.getElementById("content_load"));
		if(typeof(data) == 'object'){
			data_StoreName = data.StoreName;
			data_SalesRep = data.SalesRep;
			data_Charity = data.Charity;
		}
	}, "json");
}
function show_card(){
	var str = '';
	str += '<table cellpadding="0" cellspacing="0" border="0">';
	str += '	<tr>';
	str += '		<td align="left" valign="middle" style="padding-right:5px; padding-top:5px; font-weight:bold">Card #:</td>';
	str += '		<td height="27" >';
	str += '			<input class="input-text" name="creditcard" value=""  style="width:225px; margin-top:5px" maxlength="16" autocomplete="off" id="creditcard" type="text">';
	str += '		</td>';
	str += '	</tr>';
	str += '	<tr>';
	str += '		<td align="left" valign="middle" style="padding-right:5px; font-weight:bold">Exp:</td>';
	str += '		<td height="27" align="center"> ';
	str += '			<div style="float:left;"><!--cc_Month--></div>';
	str += '			<div style="float:left; width:75px; text-align:center">&nbsp;/&nbsp;</div>';
	str += '			<div style="float:right;"><!--cc_Year--></div>';
	str += '		</td>';
	str += '	</tr>';
	str += '	<tr>';
	str += '		<td align="left" valign="middle" style="padding-right:5px; font-weight:bold">CVC:</td>';
	str += '		<td height="27" >';
	str += '			<div style="float:left; width: 20px"><input class="input-text" n="5" style="width:70px;" name="cc_Cvv" maxlength="4" id="cc_Cvv" autocomplete="off" type="text" value="" onkeypress="return isNumberIntKey(event)" ></div>';
	str += '			<div style="background:url(../images/cart_types.jpg); width:98px; height:19px; float:right; margin:3px 0px"></div>';
	str += '		</td>';
	str += '	</tr>';
	str += '</table>';
	return str;	
}
function checkOnly(obj){
	document.getElementById("Store").src = '../images/check02.png';
//	document.getElementById("saleRep").src = '../images/check02.png';
	document.getElementById("charity").src = '../images/check02.png';
	switch(obj.id){
		case 'Store':
			if(check_com != 'Store'){
				check_com = 'Store';
				document.getElementById("Store").src = '../images/check01.png';
				Venues = data_StoreName;
			}else{
				check_com = '';
				Venues = [];	
			}
			break;
		case 'saleRep':
			if(check_com != 'saleRep'){
				check_com = 'saleRep';
				document.getElementById("saleRep").src = '../images/check01.png';
				Venues = data_SalesRep;
			}else{
				check_com = '';
				Venues = [];
			}
			break;
		case 'charity':
			if(check_com != 'charity'){
				check_com = 'charity';
				document.getElementById("charity").src = '../images/check01.png';
				Venues = data_Charity;
			}else{
				check_com = '';
				Venues = [];	
			}
			break;	
	}
	showResult();
	showAutoCompleted();
}
function showResult(){//Venues
	var st = '';
	for(var i = 0; i < Venues.length; i++){
		st += '<div style="clear:both; padding-bottom:5px; margin-bottom:5px; overflow:hidden; border-bottom:1px dashed #CCC">';
		st += '	<table cellpadding="0" cellspacing="0" border="0">';
		st += '		<tr>';
		st += '			<td align="left" valign="top" width="20px"><input type="checkbox" name="commission_arr[]" class="input-checkbox" value="'+Venues[i].value+'" onclick="check_obj_only(this)" style="margin-top:5px"/></td>';
		st += '			<td align="left" valign="top">'+Venues[i].label+'</td>';
		st += '		</tr>';
		st += '	</table>';
		st += '</div>';
	}
	if(Venues.length > 7){
		st = '<div class="holder osX" style="overflow: auto; overflow-x: hidden; clear:both;"><div id="slides_result" class="scroll-pane" style="overflow-x: hidden; width:440px; height:298px; ">' + st + '</div></div>';	
	}
	$("#result_value").empty().append(st);
	if(document.getElementById("slides_result")){
		$("#slides_result").jScrollPane({showArrows:false, verticalGutter:0});
	}
}
function check_obj_only(obj){
	var commission_arr = document.getElementsByName("commission_arr[]");
	for(var i = 0; i < commission_arr.length; i++){
		if(obj.value != commission_arr[i].value)
			commission_arr[i].checked = false;
	}	
}
function showAutoCompleted(){
	var data_auto = [];
	switch(check_com){
		case 'Store':
			data_auto = data_StoreName;
			break;
		case 'saleRep':
			data_auto = data_SalesRep;
			break;
		case 'charity':
			data_auto = data_Charity;
			break;	
	}
	var revenue_auto = $( "#revenue" ).autocomplete({
		delay: 0,
		minLength: 0,
		source: data_auto,
		search: function(event, ui) {
			Venues = [];
			$("#result_value").empty();
		},
		open: function(event, ui) {
			$("body").find( "ul.ui-autocomplete" ).css( "display", "none");
			showResult();
			return false;	
		}
	});
	revenue_auto.data( "autocomplete" )._renderItem = function( ul, item ) {
		Venues[Venues.length] = item;
		return false;
	};
}
function showOrderInfo(){
	var str = '';
	str += '<div style="padding:10px">';
	str += '<table border="0" cellspacing="0" cellpadding="0" width="200">';
	
	str += '	<tr>';
	str += '		<td align="right" valign="middle" style=""><strong>&nbsp;</strong></td>';
	str += '		<td align="right" valign="middle" style="padding-left:20px;"><strong>$<span id="Total"></span></strong></td>';
	str += '	</tr>';                                           
	str += '	<tr style="display:none" id="showMyWalletAccount">';
	str += '		<td align="right" valign="middle" style="padding-top:5px; padding-bottom:10px"><strong>MyWallet Account</strong>:</td>';
	str += '		<td align="right" valign="middle" style="padding-left:20px; padding-top:5px; padding-bottom:10px"><strong>$<span id="MyWalletAccountValue">0.00</span></strong></td>';
	str += '	</tr>';
	str += '	<tr id="showTotal2" style="display:none">';
	str += '		<td align="right" valign="middle" style="border-top:1px solid #ffffff; padding-top:10px"><strong>Total</strong>:</td>';
	str += '		<td align="right" valign="middle" style="padding-left:20px; border-top:1px solid #ffffff; padding-top:10px"><strong>$<span id="Total2"></span></strong></td>';
	str += '	</tr>';
	                                              
	str += '</table>';
	str += '</div>';
	$("#order_info").empty().append(str);//340
	
	if(rid == 6 || rid == 9){
		$("#MyWallet_value").empty().append(formatAsMoney(commissions));
	}  
}
function backToCcInfo(){
	var order_confirm_form = document.order_confirm_form;
//	var order_confirm_form = document.getElementById("order_confirm_form");
	order_confirm_form.action = 'index.php?q=payment/checkoutdelivery';
	order_confirm_form.submit();
	return false;
}
function submitOrder(){
	var check_commission = getCheckCommission();
	if(check_commission == 1){
		var o_total = getOrderTotals();
		var commissions_2 = commissions;
		if(commissions_2 > o_total) commissions_2 = o_total;
		o_total -= 	commissions_2;
		if(o_total > 0){
			if( trim($('#creditcard').val()) == ""){
				alert("Please enter card number!");
				document.getElementById("creditcard").focus();
				return false;
			}
			if( trim($('#cc_month').val())==""){
				alert("Please enter expiration month!");
				document.getElementById("cc_month").focus();
				return false;
			}
			if( trim($('#cc_year').val())==""){
				alert("Please enter expiration year!");
				document.getElementById("cc_year").focus();
				return false;
			}
			if( trim($('#cc_Cvv').val()) == ""){
				alert("Please enter security code!");
				document.getElementById("cc_Cvv").focus();
				return false;
			}
		}		
	}else{
		if( trim($('#creditcard').val()) == ""){
			alert("Please enter card number!");
			document.getElementById("creditcard").focus();
			return false;
		}
		if( trim($('#cc_month').val())==""){
			alert("Please enter expiration month!");
			document.getElementById("cc_month").focus();
			return false;
		}
		if( trim($('#cc_year').val())==""){
			alert("Please enter expiration year!");
			document.getElementById("cc_year").focus();
			return false;
		}
		if( trim($('#cc_Cvv').val()) == ""){
			alert("Please enter security code!");
			document.getElementById("cc_Cvv").focus();
			return false;
		}	
	}
	
	var shippingFee = [];
	
	for(var or = 0; or < dataOrdersCarts.length; or++){
		if(document.getElementsByName("sipping_"+or+"[]")){
			var shipping_fee = 0;
			var shipping_key = '';
			var sipping = document.getElementsByName("sipping_"+or+"[]");
			for(var i = 0; i < sipping.length; i++){
				if(sipping[i].checked == true){
					if(sipping[i].value != ''){
						var arr_ship_va_key = sipping[i].value.split("<|>");
						shipping_fee = parseFloat(arr_ship_va_key[0]);
						shipping_key = arr_ship_va_key[1];		
						var shipfee = new Object();
						shipfee.shipping_fee = shipping_fee;
						shipfee.shipping_key = shipping_key;
						shipfee.ckey = dataOrdersCarts[or].ckey;
						shippingFee[shippingFee.length] = shipfee;
					}
					break;	
				}	
			}
		}
	}
	
	var obj_commission = '';
	var commission_arr = document.getElementsByName("commission_arr[]");
	for(var i = 0; i < commission_arr.length; i++){
		if(commission_arr[i].checked == true){
			obj_commission = commission_arr[i].value + '|' + check_com;
			break;	
		}	
	}

	ShowLoadingObj({obj:document.getElementById("content_load"), image:"Loader-FloGradient16x16x.gif"});
	$.post("index.php?q=payment/submitorderdelivery",{
		shipping_Name:$('#shipping_Name').val(),
		shipping_Address:$('#shipping_Address').val(),
		shipping_City:$('#shipping_City').val(),
		shipping_State:$('#shipping_State').val(),
		shipping_Country:$('#shipping_Country').val(),
		shipping_Zip:$('#shipping_Zip').val(),
		shipping_Phone:$('#shipping_Phone').val(),
		billing_Name:$('#billing_Name').val(),
		billing_LastName:$('#billing_LastName').val(),
		billing_Address:$('#billing_Address').val(),
		billing_City:$('#billing_City').val(),
		billing_State:$('#billing_State').val(),
		billing_Country:$('#billing_Country').val(),
		billing_Zip:$('#billing_Zip').val(),
		billing_Phone:$('#billing_Phone').val(),
		billing_Email:$('#billing_Email').val(),
		shipping_Check:$('#shipping_Check').val(),
		cc_Card_Number:$('#creditcard').val(),
		cc_Card_Month:$('#cc_month').val(),
		cc_Card_Year:$('#cc_year').val(),
		cc_Card_Cvc:$('#cc_Cvv').val(),
		shipping_fee:shippingFee,
		venue_location:obj_commission,
		total_Tax:total_Tax,
		check_commission:check_commission
	} ,function(data){
		HideLoadingObj(document.getElementById("content_load"));
		if(data != ''){
			var _arrres	 = data.split('^');
			if(_arrres[0] != 'incorrect'){
				$("#content_load").empty().append(data);
				document.getElementById('itemsNumber').innerHTML = '';
			}else{
				if(_arrres[1]=='')
					alert('Cannot connect to payment gateway.');
				else
					alert(_arrres[1]);
			}
		}
	});
}
function getOrderTotals(){
	if(dataOrdersCarts.length > 0){
		var OrderTotal = 0;
		for(var or = 0; or < dataOrdersCarts.length; or++){
			dataCarts = dataOrdersCarts[or].items_content;
			if(dataCarts == null || dataCarts == '') continue;
			if(dataCarts.length > 0){
				if(document.getElementById("schedule_tot_"+or)){
					OrderTotal += parseFloat($("#schedule_tot_"+or).val());
				}
			}
		}
	}
	return OrderTotal;
}
function getScheduleTotals(or,sch_subtotal,sch_tax){
	var sipping_value = 0;
	var sipping = document.getElementsByName("sipping_"+or+"[]");
	for(var i = 0; i < sipping.length; i++){
		if(sipping[i].checked == true){
			if(sipping[i].value != ''){
				var arr_ship_va_key = sipping[i].value.split("<|>");
				sipping_value = parseFloat(arr_ship_va_key[0])+parseFloat(sch_subtotal)+parseFloat(sch_tax);
			} 	
			break;	
		}
	}
	return sipping_value;
}
function showOrderTotal(or,sch_subtotal,sch_tax){
	var schedule_tot = getScheduleTotals(or,sch_subtotal,sch_tax);
	var str = "<b>"+formatAsMoney(schedule_tot)+"</b>";
	$("#schedule_total_"+or).empty().append(str);
	document.getElementById("schedule_tot_"+or).value = schedule_tot;
	showOrderValue();
	return false;
}

function showMyvallet (){
    var o_total = getOrderTotals();
    var commissions_2 = commissions;  
    if(commissions_2 > o_total) commissions_2 = o_total;
    o_total -= 	commissions_2;
    var str = '<h4 style="color:#F16325" >You save : $'+formatAsMoney(total_commission)+' See MyWallet</h4>';
    $("#loadVallet").empty().append(str);
}



/*function showOrderValue(){ 
	var o_total = getOrderTotals();
	$("#Total").empty().append(formatAsMoney(o_total));
	
	var check_commission = getCheckCommission();
	if(check_commission == 0){
		$("#credit_card_payment").show();
		$("#showMyWalletAccount").hide();
		$("#showTotal2").hide();
	}else{
		var commissions_2 = commissions;
		if(commissions_2 > o_total) commissions_2 = o_total;
		o_total -= 	commissions_2;
		if(o_total == 0){
			$("#credit_card_payment").hide();	
		}else{
			var str_note = 'Still short of $'+formatAsMoney(o_total)+' for your order and use credit card for the balance';
			alert(str_note);
			$("#credit_card_payment").show();		
		}
		$("#MyWalletAccountValue").empty().append('('+formatAsMoney(commissions_2)+')');
		$("#Total2").empty().append(formatAsMoney(o_total));
		$("#showMyWalletAccount").show();
		$("#showTotal2").show();	
	}
}*/
    
  function showOrderValue(){ 
	var o_total = getOrderTotals();
	
	/*$("#each_order_total").empty().append('$'+formatAsMoney(suptotal));
	$("#sub_total").empty().append(formatAsMoney(suptotal));
	$("#suptotal").empty().append(formatAsMoney(suptotal*count));*/
	$("#Total").empty().append(formatAsMoney(o_total));
	
	var check_commission = getCheckCommission();
       
	if(check_commission == 0){
		$("#credit_card_payment").show();
		$("#showMyWalletAccount").hide();
		$("#showTotal2").hide();
	}else{
                var commissions_2 = commissions;
		if(commissions_2 >= o_total || o_total == 0){
                   $("#credit_card_payment").hide();
                  //o_total = Math.abs(o_total - commissions_2);
                   //$("#MyWalletAccountValue").empty().append('('+formatAsMoney(commissions_2)+')');
                  // $("#Total2").empty().append(formatAsMoney(o_total));
                   //$("#showMyWalletAccount").show();
                  // $("#showTotal2").show();
                }	
		else{
			 var str = 'Not enough funds.Please use Credit card';
                         alert(str);
                         document.getElementById("check_commission").checked = false;
                         $("#credit_card_payment").show();
                         $("#showMyWalletAccount").hide();
                         $("#showTotal2").hide();
		}
            }
}     
    
    
function getCheckCommission(){
	var check_commission = 0;
	if(document.getElementById("check_commission")){
		if(document.getElementById("check_commission").checked == true){
			check_commission = 1;	
		}	
	}
	return check_commission;
}
$(function() {
	if('loadrid'=='yes');
	loadObjectOrders();
	if(rid != 6 && rid != 9){
		$("#showCommissionAC").show();
		loadVenueLocations();		
	}
}); 
</script>