<div class="footerOuter">
    <div class="container">
        <div class="row-fluid">

            <div class="span8">
                <div class="titleHeader clearfix">
                    <h3>Usefull Links</h3>
                </div>
                <div class="usefullLinks">
                    <div class="row-fluid">
                        <div class="span6">
                            <ul class="unstyled">
                                <li><a class="invarseColor" href="javascript:goHome();"><i class="icon-caret-right"></i> Main page</a></li>
                                <li><a class="invarseColor" href="index.php/about"><i class="icon-caret-right"></i> About Us</a></li>
                                <li><a class="invarseColor" href="index.php/term"><i class="icon-caret-right"></i> Privacy Policy</a></li>
                                <li><a class="invarseColor" href="index.php/policy"><i class="icon-caret-right"></i>  Term Of Use</a></li>
                            </ul>
                        </div>

                        <div class="span6">
                            <ul class="unstyled">
                                <li><a class="invarseColor" href="index.php/login"><i class="icon-caret-right"></i> Login</a></li>
                                <li><a class="invarseColor" href="index.php/events"><i class="icon-caret-right"></i> Events</a></li>
                                <li><a class="invarseColor" href="index.php/representatives/add"><i class="icon-caret-right"></i> Enroll New</a></li>
                                <li><a class="invarseColor" href="index.php/charities"><i class="icon-caret-right"></i> Charities</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div><!--end span8-->

            <div class="span4">
                <div class="titleHeader clearfix">
                    <a href="index.php/contact"><h3>Contact Info</h3></a>
                </div>

                <div class="contactInfo">
                    <ul class="unstyled">
                        <li>
                            <button class="btn btn-mini">
                                <i class="icon-volume-up"></i>
                            </button>
                            Call Us: <a class="invarseColor" href="#">(234) 432-2423</a>
                        </li>
                        <li>
                            <button class="btn btn-small">
                                <i class="icon-envelope-alt"></i>
                            </button>
                            <a class="invarseColor" href="#">support@bellavienetwork.com</a>
                        </li>
                        <li>
                            <button class="btn btn-small">
                                <i class="icon-map-marker"></i>
                            </button>
 							500 N. Rainbow Blvd, Suite A<br />
                            <span style="padding-left:40px;">Las Vegas NV.89107</span>    
                        </li>
                    </ul>
                </div>
            </div><!--end span4-->
        </div><!--end row-fluid-->
    </div><!--end container-->
</div><!--end footerOuter-->